@model TechCertain.WebUI.Models.Programme.ProgrammeInfoViewModel

<script src="https://www.jqueryscript.net/demo/Bootstrap-Dropdown-Replacement-Plugin-DDL/js/bootstrap-ddl.js"></script>

<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-o"></i>
                <a href="~/Programme/MyProgrammes/@Model.Id"> Billing Information Configuration</a>
            </h1>
        </div>
        <!-- end col -->
    </div>

    @Html.HiddenFor(m => m.Id)

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-2" data-widget-editbutton="true" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa--envelope txt-color-white"></i> </span>
                        <h2> Reference: @Model.Id</h2>
                    </header>
                    @*<div class="row">*@

                    <section>
                        <table class="table table-bordered table-striped table-hover table-condensed">
                            <tbody>

                                <tr>

                                    <td align="center">
                                        <b>Client Number:</b>
                                    </td>

                                    <td align="center">
                                        <select class="browser-default custom-select custom-select-lg mb-3 col-sm-3" id="branch">
                                            <option selected>ALK</option>
                                            <option>AKL</option>
                                            <option>CHC</option>
                                            <option>DUN</option>
                                            <option>NAP</option>
                                            <option>NPL</option>
                                            <option>TGA</option>
                                            <option>WEL</option>
                                        </select>
                                        <div style="text-align:right" class="col-sm-5">
                                            <input id="clientId" class="form-control" type="text">
                                        </div>
                                    </td>
                                </tr>

                                <tr>

                                    <td align="center">
                                        <b>Contact Broker</b>
                                    </td>

                                    <td align="center">
                                        @Model.BrokerContactUser.FullName
                                    </td>

                                </tr>
                                <tr>

                                    <td align="center">
                                        <b>Broker Branch</b>
                                    </td>

                                    <td align="center">
                                        Implement later
                                    </td>

                                </tr>
                                <tr>

                                    <td align="center">
                                        <b>Client Status</b>
                                    </td>

                                    <td style="align-content: center">
                                        <div class="form-group drop-down-list">
                                            <div class="col-sm-5" style="text-align: center">
                                                <select class="browser-default custom-select custom-select-lg mb-3 col-sm-5" id="clientStatus">
                                                    <option selected>New</option>
                                                    <option>Renew</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td align="center">
                                        <b>Transaction Description</b>
                                    </td>

                                    <td align="center">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="TransactionRadio" name="defaultExampleRadios">
                                            <label class="custom-control-label" for="defaultUnchecked">Use custom transaction description</label>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Custom description" rows="5" id="TransactionComment"></textarea>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </section>
                </div>
            </article>

            <div class="form-group row col-xs-12">
                <div class="left col-xs-2">
                    @*@Html.Bootstrap().Button().Text("Clear").HtmlAttributes(new { onclick = "ClearForm()" }).Class("btn-sm float-left")*@
                    @*@Html.Bootstrap().Button().Text("Save").HtmlAttributes(new { onclick = "SaveBillingConfiguration()" }).Class("btn-sm float-right")*@
                    <button onclick="ClearForm()" class="btn-sm float-left" id="ClearForm">Clear</button>
                    <button onclick="SaveBillingConfiguration()" class="btn-sm float-right" id="SaveBillingConfiguration">Save</button>
                </div>
                <div class="col-sm-offset-5">
                    @*@Html.Bootstrap().Button().Text("Send Invoice").HtmlAttributes(new { onclick = "SendInvoice()" }).Class("btn-sm")*@
                    <button onclick="SendInvoice()" class="btn-sm" id="SendInvoice">Send Invoice</button>
                </div>
            </div>
        </div>
    </section>
</div>

@section pagespecific {

    <script>

        var bcdata = [];
        var programmeId;

        function SendInvoice() {
            //SaveBillingInformation();
            programmeId = $('#Id').val();

            $.ajax({
            type: "POST",
            url: "@Url.Action("SendInvoice", "Programme")",
            data: { programmeId : programmeId },                
            traditional: true,
            })
                .done(function (data) {
                    $.smallBox({
                        title: "Invoice has been sent",
                        color: "#5F895F",
                        iconSmall: "fa fa-check bounce animated",
                        timeout: 4000
                    });
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert("There was an error while trying to send your invoice.");
                });
        }

        function SaveBillingConfiguration() {
            addBCData();
            debugger;
            $.ajax({
            type: "POST",
            url: "@Url.Action("SaveBillingConfiguration", "Programme")",
            data: { billingConfig : bcdata, programmeId : programmeId },
            traditional: true,
            })
                .done(function (data) {
                    $.smallBox({
                        title: "billing configuration has been saved",
                        color: "#5F895F",
                        iconSmall: "fa fa-check bounce animated",
                        timeout: 4000
                    });
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert("There was an error while trying to save billing configuration.");
                });
        }

        function ClearForm() {
            document.getElementById("branch").value = "";
            document.getElementById("clientId").value = "";
            document.getElementById("TransactionComment").value = "";
            document.getElementById("clientStatus").value = "";
        }

        function addBCData() {
            programmeId = $('#Id').val();
            var branch = document.getElementById("branch").value;
            var clientId = document.getElementById("clientId").value;
            var clientStatus = document.getElementById("clientStatus").value;
            var TransactionComment = document.getElementById("TransactionComment").value;
            bcdata = [branch, clientId, clientStatus, TransactionComment];
        }

    </script>

}