@model TechCertain.WebUI.Models.Programme.ProgrammeInfoViewModel
<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="container">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>  <span>
                    <a href="~/Programme/TermSheetConfirguration/@Model.Id"> Package Term Sheet</a>
                    > Manage Programme

                </span>

            </h1>
            <span>
                <a onclick="location.href='@Url.Action("TermSheetConfirguration", "Programme",new { Id =@Model.Id })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
            </span>
        </div>
        <!-- end col -->
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="container">
        <!-- end row -->
        <!-- row -->
        <form action="~/Programme/EditProgramme/@Model.Id" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
            <fieldset>

                <section class="col col-3">
                    <label class="label required"><strong>Programme Name: </strong></label>
                </section>
                <section class="col col-9">
                    <label class="input">
                        <i class="icon-append fa fa-edit"></i>
                        @Html.TextBoxFor(m => m.programmeName)
                    </label>
                </section>

                <section class="col col-3">
                    <label class="label required"><strong>Tax Rate: </strong></label>
                </section>
                <section class="col col-9">
                    <label class="input">
                        <i class="icon-append fa fa-edit"></i>
                        @Html.TextBoxFor(m => m.TaxRate)
                    </label>
                </section>

                <section class="col col-3">
                    <label class="label required"><strong>Policy Number Prefix String: </strong></label>
                </section>
                <section class="col col-9">
                    <label class="input">
                        <i class="icon-append fa fa-edit"></i>
                        @Html.TextBoxFor(m => m.PolicyNumberPrefixString)
                    </label>
                </section>

                <section class="col col-3">
                </section>
                <section class="col col-9">
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.UsesEGlobal)
                        <i></i>I want this programme to use EGlobal API.
                    </label>
                </section>

                <section class="col col-3">
                </section>
                <section class="col col-9">
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.IsPublic)
                        <i></i>I want this programme to be publicly available.
                    </label>
                </section>

                <section class="col col-3">
                </section>
                <section class="col col-9">
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.StopAgreement)
                        <i></i>I want this programme to suspend all agreements.
                    </label>
                </section>

                <section class="col col-3">
                </section>
                @if (User.HasClaim("EditProgramme", "EditProgramme"))
                {
                    <section class="col col-9">
                        <button type="submit" class="btn btn-success"> Save</button>
                        <a href="~/Programme/TermSheetConfirguration/@Model.Id" class="btn txt-color-white btn btn-danger"> Cancel</a>
                    </section>
                }

            </fieldset>
        </form>

        <!-- end row -->
    </section>
</div>

