@model TechCertain.WebUI.Models.Programme.ProgrammeInfoViewModel
<!-- MAIN CONTENT -->
<div id="content" class="container">
    <div class="row">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-file-o"></i>  <span>
                <a href="~/Programme/TermSheetConfirguration/@Model.Id">> Package Term Sheet</a>

                <a href="~/Programme/ManageRules/@Model.Id">> Manage Rules</a>
                > @Model.Name
            </span>
        </h1>
    </div>

    <div class="row">
        <span>
            <a onclick="location.href='@Url.Action("ManageRules", "Programme",new { Id =@Model.Id })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>
    </div>

    <div class="row">
        <!-- new widget -->
        <div class="jarviswidget jarviswidget-color-blue container-fluid" id="wid-id-2" data-widget-editbutton="true" data-widget-colorbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-envelope text-white"></i> </span>
                <h2>@Model.Name </h2>
            </header>
            <!-- widget div-->
            <form class="client-form">
                <!-- content goes here -->
                @Html.HiddenFor(m => m.Id)

                <table class="table table-bordered table-striped ">
                    <tr>
                        <td>
                            <label class="label required">Select Party:</label>
                        </td>
                        <td>
                            <label class="input form-group">
                                <select onchange="selectorgUser()" class="form-control b" id="selectParty" name="selectedparty" required>
                                    <option selected="selected" value="">-- Select --</option>
                                    @foreach (var blloc in Model.Parties)
                                    {
                                        <option value="@blloc.Id"> @blloc.Name</option>
                                    }
                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-success btn-sm" onclick='addselectorgUser("@Model.Name")'>save</button>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>                    

            </form>
        </div>
        
    </div>
            </div>


@section pagespecific {

    @await Html.PartialAsync("_ProgrammeScripts")

}
