@model TechCertain.WebUI.Models.Programme.ProgrammeInfoViewModel


<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-o"></i><a href="~/Programme/MyProgrammes/@Model.Id"> Programmes</a>
                <span>
                    > Package Term Sheet
                </span>
            </h1>
        </div>
        <!-- end col -->
    </div>
    <div>
        <a onclick="location.href='@Url.Action("MyProgrammes", "Programme",new { Id =@Model.Id })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="glyphicon glyphicon-circle-arrow-left"></span> </a>

    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-2" data-widget-editbutton="true" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa--envelope txt-color-white"></i> </span>
                        <h2> Package Term Sheet </h2>
                    </header>
                    <!-- widget div-->
                    @*<div>*@
                    @*<div class="widget-body no-padding smart-form">*@
                    <!-- content goes here -->


                    <table class="table table-bordered table-striped table-hover table-condensed">

                        <thead>
                            <tr>
                                <th style="text-align:center">Term </th>
                                <th style="text-align:center">Description </th>
                            </tr>
                        </thead>
                        <tbody>

                            @*<tr onclick="location.href='@Url.Action("SendEmailTemplates", "Programme",new { Id =@Model.Id })'" style="cursor:pointer">

                                <td align="center">
                                    Packaged Product
                                </td>
                                <td align="center" style="word-wrap: break-word">
                                   Manage Packaged Product
                                </td>

                            </tr>*@

                            <tr>
                                <td align="center">
                                    @Html.ActionLink("Information Sheets", "SendEmailTemplates", "Programme", new { Id = @Model.Id }, null)

                                </td>

                                <td align="center" style="word-wrap: break-word">
                                    Manage Information Sheets
                                </td>

                            </tr>

                            <tr>
                                <td align="center">
                                    @Html.ActionLink("Rules", "ManageRules", "Programme", new { Id = @Model.Id }, null)

                                </td>

                                <td align="center" style="word-wrap: break-word">
                                    Manage Rules
                                </td>

                            </tr>

                            @*<tr>
                                <td align="center">
                                    @Html.ActionLink("Events", "SendEmailTemplates", "Programme", new { Id = @Model.Id }, null)

                                </td>

                                <td align="center" style="word-wrap: break-word">
                                    Manage Events
                                </td>

                            </tr>*@
                            <tr onclick="location.href='@Url.Action("EmailTemplate", "Programme",new { Id =@Model.Id })'" style="cursor:pointer">
                                <td align="center">
                                    Programme Email Templates
                                    @*@Html.ActionLink("Email Templates", "/EmailTemplate", "Programme", new { Id = @Model.Id }, null)*@

                                </td>

                                <td align="center" style="word-wrap: break-word">
                                    Manage Email
                                </td>

                            </tr>

                            <tr>
                                <td align="center">
                                    @Html.ActionLink("Documents", "SendEmailTemplates", "Programme", new { Id = @Model.Id }, null)

                                </td>

                                <td align="center" style="word-wrap: break-word">
                                    Manage Documents
                                </td>

                            </tr>

                            @*<tr>
                                <td align="center">
                                    @Html.ActionLink("Client Provisioning", "SendEmailTemplates", "Programme", new { Id = @Model.Id }, null)

                                </td>

                                <td align="center" style="word-wrap: break-word">
                                    Manage Client Provisioning
                                </td>

                            </tr>*@

                            @*<tr>
                                <td align="center">
                                    @Html.ActionLink("Payment Options", "SendEmailTemplates", "Programme", new { Id = @Model.Id }, null)

                                </td>

                                <td align="center" style="word-wrap: break-word">
                                    Manage Payment Options
                                </td>

                            </tr>*@

                            @*<tr>
                                <td align="center">
                                    @Html.ActionLink("User Access & Permisions", "/SendEmailTemplates", "Programme", new { Id = @Model.Id }, null)

                                </td>

                                <td align="center" style="word-wrap: break-word">
                                    Manage User Access & Permisions
                                </td>

                            </tr>*@

                            <tr onclick="location.href='@Url.Action("ManageClient", "Programme",new { Id =@Model.Id })'" style="cursor:pointer">
                                <td align="center">
                                    Manage Programme Client

                                </td>

                                <td align="center" style="word-wrap: break-word">
                                    Manage Programme Clients
                                </td>

                            </tr>



                        </tbody>
                    </table>
                    @*</div>
                        </div>*@
                </div>
            </article>
        </div>
    </section>
</div>