@model TechCertain.WebUI.Models.Programme.ProgrammeInfoViewModel
<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                @*<i class="fa-fw fa fa-file-o"></i><a href="~/Programme/MyProgrammes/@Model.Id"> Programmes</a>
                <span>
                    > Package Term Sheet
                </span>*@
            </h1>
        </div>
        <!-- end col -->
    </div>
    <div>
        @*<a onclick="location.href='@Url.Action("MyProgrammes", "Programme",new { Id =@Model.Id })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="glyphicon glyphicon-circle-arrow-left"></span> </a>*@

    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-2" data-widget-editbutton="true" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa--envelope txt-color-white"></i> </span>
                        <h2>Term Sheet Configuration - [@Model.programmeName] </h2>
                    </header>
                    <!-- widget div-->
                    @*<div>*@
                    @*<div class="widget-body no-padding smart-form">*@
                    <!-- content goes here -->


                    <table class="table table-bordered table-striped table-hover table-condensed">

                        <thead>

                        </thead>
                        <tbody>

                            <tr>
                                <td>Programme</td>
                                <td> @Model.programmeName  </td>
                                <td><a class="btn btn-success btn-xs disabled" href="#"><i class="fa fa-search"></i> Edit</a></td>
                            </tr>
                            @*<tr onclick="location.href='/Programme/ActivityBuilder';" style="cursor:pointer">
            <td>Activity Builder</td>
            <td>   </td>
            <td><a class="btn btn-success btn-xs"><i class="fa fa-search"></i> View</a></td>

        </tr>
        <tr>
            <td>Addresses</td>
            <td>   </td>
            <td><a class="btn btn-success btn-xs" href="#"><i class="fa fa-search"></i> View</a></td>
        </tr>

        <tr onclick="location.href='/File/ManageDocuments';" style="cursor:pointer">
            <td>Manage Documents</td>
            <td>   </td>
            <td><a class="btn btn-success btn-xs"><i class="fa fa-search"></i> View</a></td>

        </tr>*@


                            <tr>
                                <td>Activities</td>
                                <td>ANZSIC Codes</td>
                                <td><a class="btn btn-success btn-xs disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>


                            </tr>
                            <tr>
                                <td>Addresses</td>
                                <td>Address API used </td>
                                <td><a class="btn btn-success btn-xs disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                            </tr>

                            <tr onclick="location.href='/File/ManageDocuments';" style="cursor:pointer">
                                <td>Manage Documents</td>
                                <td>Certs,Schedules,Wording,Invoices</td>
                                <td><a class="btn btn-success btn-xs"><i class="fa fa-search"></i> View</a></td>
                            </tr>
                            <tr>
                                <td>Rules</td>
                                <td>Configure the Rules</td>
                                <td><a class="btn btn-success btn-xs" href="@Url.Action("ManageRules", "Programme", new { Id = @Model.Id })"><i class="fa fa-search"></i> View</a></td>
                                
                            </tr>

                            <tr>
                                <td>Emails</td>
                                <td>System and proggramme specific</td>
                                <td><a class="btn btn-success btn-xs" href="@Url.Action("EmailTemplate", "Programme",new { Id =@Model.Id })"><i class="fa fa-search"></i> View</a></td>
                            </tr>

                            <tr>
                                <td>Financial Institutions</td>
                                <td>For selecting as Named Parties</td>
                                <td><a class="btn btn-success btn-xs disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>

                                @*<td><a class="btn btn-success btn-xs disabled" href="/InformationBuilder/StagingBuilder"><i class="fa fa-search"></i> In Dev</a></td>*@
                            </tr>

                            <tr>
                                <td>Milestones</td>
                                <td>Milestones</td>
                                <td><a class="btn btn-success btn-xs" href="/Milestone/MilestoneList"><i class="fa fa-search"></i> View</a></td>

                                @*<td><a class="btn btn-success btn-xs disabled" href="/Milestone/MilestoneList"><i class="fa fa-search"></i> In Dev</a></td>*@
                            </tr>

                            <tr>
                                <td>Motor</td>
                                <td>Motor API used   </td>
                                <td><a class="btn btn-success btn-xs disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                            </tr>


                            <tr>
                                <td>Products</td>
                                <td>Insurance Policies for adding to a programme   </td>
                                <td><a class="btn btn-success btn-xs disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>

                                @*<td><a class="btn btn-success btn-xs disabled" href="/Product/CreateNew"><i class="fa fa-search"></i> In Dev</a></td>*@
                            </tr>


                            <tr>
                                <td>Sections</td>
                                <td>Sections for the Client Information Sheet   </td>
                                <td><a class="btn btn-success btn-xs disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>

                                @*<td><a class="btn btn-success btn-xs disabled" href="/InformationBuilder/StagingBuilder"><i class="fa fa-search"></i> In Dev</a></td>*@
                            </tr>


                            <tr>
                                <td>Special Terms</td>
                                <td>Endorsements</td>
                                <td><a class="btn btn-success btn-xs disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>

                                @*<td><a class="btn btn-success btn-xs disabled" href="/Policy/SectionBuilder"><i class="fa fa-search"></i> In Dev</a></td>*@
                            </tr>

                            <tr>
                                <td>Underwriting Rules</td>
                                <td>Underwriting Rules</td>
                                <td><a class="btn btn-success btn-xs disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>

                            </tr>

                            <tr>
                                <td>Users</td>
                                <td>User Management</td>
                                <td><a class="btn btn-success btn-xs disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                            </tr>

                            <tr>
                                <td>Water</td>
                                <td>Water Location API used</td>
                                <td><a class="btn btn-succes btn-xs disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                            </tr>

                        </tbody>
                    </table>
                    @*</div>
                        </div>*@
                </div>
            </article>
        </div>
    </section>
</div>