@model TechCertain.WebUI.Models.InformationViewModel

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">
        <fieldset>
            <div class="row">
                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="label">First Name</label>
                    <label class="input ">
                        <i></i>
                        @*<input data-type="TEXTBOX" data-name="fname" id="fname" name="fname" placeholder="First Name" value="">*@
                        <input data-type="TEXTBOX" data-name="sharedFirstName" id="sharedFirstName" name="sharedFirstName" placeholder="First Name" value="@Model.UserDetails.FirstName" readonly>
                    </label>
                </section>
                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="label">Last Name</label>
                    <label class="input">
                        <i></i>
                        @*<input data-type="TEXTBOX" data-name="lname" id="lname" name="lname" placeholder="Last Name" value="">*@
                        <input data-type="TEXTBOX" data-name="sharedLastName" id="sharedLastName" name="sharedLastName" placeholder="Last Name" value="@Model.UserDetails.LastName" disabled>
                    </label>
                </section>
                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="label">E-mail</label>
                    <label class="input">
                        <i></i>
                        @*<input data-type="TEXTBOX" data-name="email" id="email" name="email" placeholder="E-mail" value="">*@
                        <input data-type="TEXTBOX" data-name="sharedEmail" id="sharedEmail" name="sharedEmail" placeholder="E-mail" value="@Model.UserDetails.Email" disabled>
                    </label>
                </section>
                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="label">Phone</label>
                    <label class="input">
                        <i></i>
                        @*<input data-type="TEXTBOX" data-name="phone" id="phone" name="phone" placeholder="Phone" value="">*@
                        <input data-type="TEXTBOX" data-name="sharedPhone" id="sharedPhone" name="sharedPhone" placeholder="Phone" value="@Model.UserDetails.Phone" readonly>
                    </label>
                </section>
                <!--section class="col col-3">
                    <label class="label">Fax</label>
                    <label class="input">
                        <i></i>
                        @*<input data-type="TEXTBOX" data-name="fax" id="fax" name="fax" placeholder="Fax" value="">*@
                        <input data-type="TEXTBOX" data-name="sharedFax" id="sharedFax" name="sharedFax" placeholder="Fax" value="@Model.UserDetails.Fax">
                    </label>
                </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Postal Address</label>
                            <label class="input">
                                <i></i>
                                @*<input data-type="TEXTBOX" data-name="paddress" id="paddress" name="paddress" placeholder="Postal Address" value="">*@
                                <input data-type="TEXTBOX" data-name="sharedPostalAddress" id="sharedPostalAddress" name="sharedPostalAddress" placeholder="Postal Address" value="@Model.UserDetails.PostalAddress">
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Street Address</label>
                            <label class="input">
                                <i></i>
                                @*<input data-type="TEXTBOX" data-name="saddress" id="saddress" name="saddress" placeholder="Street Address" value="">*@
                                <input data-type="TEXTBOX" data-name="sharedStreetAddress" id="sharedStreetAddress" name="sharedStreetAddress" placeholder="Street Address" value="@Model.UserDetails.StreetAddress">
                            </label>
                        </section>-->
            </div>

        </fieldset>
    </div>
</div>
