@model TechCertain.WebUI.Models.InformationViewModel

@using System.Linq

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">

        @*@tabs.Tab("List All")
            @tabs.Tab("Edit")
            @tabs.Tab("Add")*@
        <div id="Principaltabs">
            <ul id="tab" class="nav nav-tabs">
                <li class="nav nav-tabs active"> <a href="#Principaltabs1"> List All </a> </li>
                <li class="nav nav-tabs"> <a href="#Principaltabs2"> Edit </a> </li>
                <li class="nav nav-tabs"> <a href="#Principaltabs3"> Add </a> </li>
                <li class="nav nav-tabs PrincipalRemoved"> <a href="#Principaltabs4"> Removed </a> </li>

            </ul>

            <div id="Principaltabs1" class="tab-content">
                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            @*<script src="~/jquery/jquery.min.js"></script>*@
                            <script type="text/javascript">
                                $(window).on('load',function () {
                            $("#PrincipalDirectors").jqGrid({
                                url: "/Services/GetPrincipalPartners?informationId=@Model.AnswerSheetId&validated=true&removed=false&ceased=false",
						        datatype: "xml",
                                mtype: "GET",
                                async: true,
                                colNames: ["","Organisation Name","Organisation Type", "Delete Vessel"],
                                colModel: [
                                    {
                                        name: "update", align: 'center', search: false, formatter: function (cellvalue, options, rowobject) {
                                            return ('<button onclick="EditPrincipalPartners(\'bu\', \'' + cellvalue + '\'); SetCurrentTab(\'Principaltabs2\');" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>' );
                                        }
                                    },
                                    { name: "OrganisationName", align: 'center' },
                                    { name: "OrganisationType", align: 'center' },
                                     {
                                         name: "update", align: 'center', width: 120, search: false, formatter: function (cellvalue, options, rowobject) {

                                                        return ('<button onclick="SetPrincipalRemovedStatus(\'' + cellvalue + '\', \'true\', \'#PrincipalDirectors\', \'#tblRemovedPrincipalDirectors\');" type="button"  class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>');
                                         }
                                     }
								],
						        autowidth: true,
                                pager: "#pagerNamedParty",
						        rowNum: 10,
						        rowList: [10, 20, 30],
                                sortname: "Name",
						        sortorder: "desc",
						        viewrecords: true,
						        gridview: true,
						        autoencode: true
						    });
						    $("#PrincipalDirectors").jqGrid('navGrid',
						    	'#pagerNamedParty',
						    	{edit: false, add: false, del: false},
						    	//options
						    	{height:280,reloadAfterSubmit:false},
						    	// edit options
						    	{height:280,reloadAfterSubmit:false},
						    	// add options
						    	{reloadAfterSubmit:false},
						    	// del options
						    	{sopt:['eq','bw','cn']}
						    	// search options
						    );
						});
                            </script>
                            <table id="PrincipalDirectors"><tr><td></td></tr></table>
                            <div id="pagerNamedParty"></div>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div id="Principaltabs2" class="tab-content">
                <fieldset id="fieldset">
                    <input id="PrincipalPartnersId" class="b" name="ID" type="hidden">
                    <!-- 1st row -->
                    <div class="row">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Type</label>
                            <label class="input">
                                <select id="EditPrincial13" onchange="EditPrincipal13Selected('EditPrincial13')" class="form-control b" name="Type">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="Principal">Principal</option>
                                    <option value="Subsidiary">Subsidiary</option>
                                    <option value="PreviousConsultingBusiness">Previous Consulting Business</option>
                                    <option value="Megers">Megers</option>
                                    <option value="JointVenture">Joint Venture</option>

                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateEditPrincial15"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Organisation Type</label>
                            <label class="input">
                                <select id="EditPrincial14" onchange="EditPrincipal14Selected('EditPrincial14')" class="form-control b" name="OrganisationTypeName">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="Person - Individual">Private</option>
                                    <option value="Corporate">Company</option>
                                    <option value="Trust">Trust</option>
                                    <option value="Partnership">Partnership</option>

                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateEditPrincial14"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Date of Retirement</label>
                            <label class="input">
                                <i></i>
                                <input name="DateofRetirement" placeholder="Date of Retirement" class="Startdate form-control rmv" data-dateformat="dd/mm/yy" id="EditPrincial15" type="text">
                            </label>
                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Date of Deceased</label>
                            <label class="input">
                                <i></i>
                                <input name="DateofDeceased" placeholder="Date of Deceased" class="Startdate form-control rmv" data-dateformat="dd/mm/yy" id="EditPrincial16" type="text">
                            </label>
                        </section>
                        <div id="EditOrgnamesec" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden">

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Organisation Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="EditPrincial17" name="OrganisationName" placeholder="Organisation Name" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial17"></p>
                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Activities</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="EditPrincial18" name="Activities" placeholder="Activities" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial18"></p>
                            </section>
                        </div>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="EditIndividual1">
                            <label class="label required">First Name</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgName" id="EditPrincial1" name="FirstName" placeholder="FirstName" value="">
                            </label>
                            <p class="validationContainer" id="ValidatePrincial1"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="EditIndividual2">
                            <label class="label required">Last Name</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgName" id="EditPrincial2" name="LastName" placeholder="LastName" value="">
                            </label>
                            <p class="validationContainer" id="ValidatePrincial2"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="EditIndividual3">
                            <label class="label required">Email</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgName" id="EditPrincial3" name="Email" placeholder="Email" value="">
                            </label>
                            <p class="validationContainer" id="ValidatePrincial3"></p>

                        </section>
                        <div class="hidden" id="EditIndividualPrincipal">


                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Qualifications/Year attained:</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="EditPrincial4" name="Qualifications" placeholder="Qualifications" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial4"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Are you a member of NZIA?</label>
                                <label class="input">
                                    <select id="EditPrincial5" onchange="EditPrincipal1Selected('EditPrincial5')" class="form-control b" name="IsNZIAmember">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateEditPrincial5"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="EditPrincial6Sec">
                                <label class="label required">If 'Yes'-State the type of NZIA membership held</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="EditPrincial6" name="NZIAmembership" placeholder="NZIA Membership Type" value="">
                                </label>
                                <p class="validationContainer" id="ValidateEditPrincial6"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Are you a member of ADNZ?</label>
                                <label class="input">
                                    <select id="EditPrincial7" onchange="EditPrincipal2Selected('EditPrincial7')" class="form-control b" name="IsADNZmember">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateEditPrincial7"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="EditPrincial8Sec">
                                <label class="label required">Do you hold LPB Category 3 classification?</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="EditPrincial8" name="IsLPBCategory3" placeholder="LBP Category" value="">
                                </label>
                                <p class="validationContainer" id="ValidateEditPrincial8"></p>

                            </section>


                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">How long have you been at this practice?</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="EditPrincial9" name="YearofPractice" placeholder="Years of Practice" value="">
                                </label>
                                <p class="validationContainer" id="ValidateEditPrincial9"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Name of previous practice:</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="EditPrincial10" name="prevPractice" placeholder="Practice Name" value="">
                                </label>
                                <p class="validationContainer" id="ValidateEditPrincial10"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label  required">Do you require coverage for other directorship appointments held by you on behalf of your practice?</label>
                                <label class="input">
                                    <select id="EditPrincial11" onchange="EditPrincipal3Selected('EditPrincial11')" class="form-control b" name="IsOtherdirectorship">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateEditPrincial11"></p>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="EditPrincial12Sec">
                                <label class="label required">Please list all Name of company(s)</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="EditPrincial12" name="Othercompanyname" placeholder="Company(s) Names seperated by (,)" value="">
                                </label>
                                <p class="validationContainer" id="ValidateEditPrincial12"></p>
                            </section>
                        </div>
                        <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <button onclick="ValidateEditPrincipalDirectors(event);" class="btn-sm AddupdateBoat" id="updateBoat">Add</button>
                            <button onclick="ClearBoats(event,'#Principaltabs2','Principaltabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>
                        </section>

                    </div>
                </fieldset>

            </div>
            <div id="Principaltabs3" class="tab-content">
                <fieldset id="fieldset">
                    <input id="NamedPartyOrganisationId" class="b" name="ID" type="hidden">
                    <!-- 1st row -->
                    <div class="row">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Type</label>
                            <label class="input">
                                <select id="AddPrincial13" onchange="Principal13Selected('AddPrincial13')" class="form-control b" name="Type">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="Principal">Principal</option>
                                    <option value="Subsidiary">Subsidiary</option>
                                    <option value="PreviousConsultingBusiness">Previous Consulting Business</option>
                                    <option value="Megers">Megers</option>
                                    <option value="JointVenture">Joint Venture</option>

                                </select>
                            </label>
                            <p class="validationContainer" id="ValidatePrincial15"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Organisation Type</label>
                            <label class="input">
                                <select id="AddPrincial14" onchange="Principal14Selected('AddPrincial14')" class="form-control b" name="OrganisationTypeName">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="Person - Individual">Private</option>
                                    <option value="Corporate">Company</option>
                                    <option value="Trust">Trust</option>
                                    <option value="Partnership">Partnership</option>

                                </select>
                            </label>
                            <p class="validationContainer" id="ValidatePrincial14"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Date of Retirement</label>
                            <label class="input">
                                <i></i>
                                <input name="DateofRetirement" placeholder="Date of Retirement" class="Startdate form-control rmv" data-dateformat="dd/mm/yy" id="AddPrincial15" type="text">
                            </label>
                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Date of Deceased</label>
                            <label class="input">
                                <i></i>
                                <input name="DateofDeceased" placeholder="Date of Deceased" class="Startdate form-control rmv" data-dateformat="dd/mm/yy" id="AddPrincial16" type="text">
                            </label>
                        </section>
                        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden"  id="Orgnamesec">

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Organisation Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="AddPrincial17" name="OrganisationName" placeholder="Organisation Name" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial17"></p>
                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Activities</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="AddPrincial18" name="Activities" placeholder="Activities" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial18"></p>
                            </section>
                        </div>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden"  id="AddIndividual1">
                                <label class="label required">First Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="AddPrincial1" name="FirstName" placeholder="FirstName" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial1"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden"  id="AddIndividual2">
                                <label class="label required">Last Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="AddPrincial2" name="LastName" placeholder="LastName" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial2"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden"  id="AddIndividual3">
                                <label class="label required">Email</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="AddPrincial3" name="Email" placeholder="Email" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial3"></p>

                            </section>
                        <div class="hidden" id="AddIndividualPrincipal">


                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Qualifications/Year attained:</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="AddPrincial4" name="Qualifications" placeholder="Qualifications" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial4"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Are you a member of NZIA?</label>
                                <label class="input">
                                    <select id="AddPrincial5" onchange="Principal1Selected('AddPrincial5')" class="form-control b" name="IsNZIAmember">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidatePrincial5"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="Princial6Sec">
                                <label class="label required">If 'Yes'-State the type of NZIA membership held</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="AddPrincial6" name="NZIAmembership" placeholder="NZIA Membership Type" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial6"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Are you a member of ADNZ?</label>
                                <label class="input">
                                    <select id="AddPrincial7" onchange="Principal2Selected('AddPrincial7')" class="form-control b" name="IsADNZmember">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidatePrincial7"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="Princial8Sec">
                                <label class="label required">Do you hold LPB Category 3 classification?</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="AddPrincial8" name="IsLPBCategory3" placeholder="LBP Category" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial8"></p>

                            </section>


                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">How long have you been at this practice?</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="AddPrincial9" name="YearofPractice" placeholder="Years of Practice" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial9"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Name of previous practice:</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="AddPrincial10" name="prevPractice" placeholder="Practice Name" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial10"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label  required">Do you require coverage for other directorship appointments held by you on behalf of your practice?</label>
                                <label class="input">
                                    <select id="AddPrincial11" onchange="Principal3Selected('AddPrincial11')" class="form-control b" name="IsOtherdirectorship">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidatePrincial11"></p>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="Princial12Sec">
                                <label class="label required">Please list all Name of company(s)</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="AddPrincial12" name="Othercompanyname" placeholder="Company(s) Names seperated by (,)" value="">
                                </label>
                                <p class="validationContainer" id="ValidatePrincial12"></p>
                            </section>
                        </div>
                        <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <button onclick="ValidatePrincipalDirectors(event);" class="btn-sm AddupdateBoat" id="updateBoat">Add</button>
                            <button onclick="ClearBoats(event,'#Principaltabs3','Principaltabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>
                        </section>

                    </div>
                </fieldset>
            </div>

            <div id="Principaltabs4" class="tab-content">

                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script type="text/javascript">
                                 $(".PrincipalRemoved").click(function () {
                               $("#tblRemovedPrincipalDirectors").jqGrid({
                                url: "/Services/GetPrincipalPartners?informationId=@Model.AnswerSheetId&validated=true&removed=true&ceased=false",
                                datatype: "xml",
                                   mtype: "GET",
                                async: true,
                                   colNames: ["","Organisation Name", "Organisation Type"],
                                    colModel: [

                                    {
                                        name: "update", align: 'center' ,width: 60, search: false, formatter: function (cellvalue, options, rowobject) {/*{ class=" btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash*/
                                            return '<button onclick="SetPrincipalRemovedStatus(\'' + cellvalue + '\', \'false\', \'#tblRemovedPrincipalDirectors\', \'#tblRemovedPrincipalDirectors\');" type="button" class=" btn btn-success btn-sm" ><i class="fa fa-undo"></i></button>';

                                        }
                                    },
                                     { name: "OrganisationName", align: 'center' },
                                    { name: "OrganisationType", align: 'center' },
                                   ],
                                autowidth: true,
                                pager: "#PagerPrincipalDirectors",
                                rowNum: 10,
                                rowList: [10, 20, 30],
                                sortname: "BoatName",
                                sortorder: "desc",
                                viewrecords: true,
                                gridview: true,
                                autoencode: true
                            });
                            $("#tblRemovedPrincipalDirectors").jqGrid('navGrid',
                                '#PagerPrincipalDirectors',
                                { edit: false, add: false, del: false },
                                //options
                                { height: 280, reloadAfterSubmit: false },
                                // edit options
                                { height: 280, reloadAfterSubmit: false },
                                // add options
                                { reloadAfterSubmit: false },
                                // del options
                                { sopt: ['eq', 'bw', 'cn'] }
                                // search options
                                 );
                                });
                            </script>
                            <table id="tblRemovedPrincipalDirectors"><tr><td></td></tr></table>
                            <div id="PagerPrincipalDirectors"></div>
                        </section>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">


    
     function Principal14Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value != "Person - Individual") {
            $('#Orgnamesec').removeClass('hidden');
             $('#AddPrincial1').val('');
            $('#AddPrincial2').val('');
            $('#AddPrincial3').val('');
            $('#AddIndividual1').addClass('hidden');
            $('#AddIndividual2').addClass('hidden');
            $('#AddIndividual3').addClass('hidden');

        } else {
            
            $('#AddPrincial17').val('');
            $('#AddPrincial18').val('');
            $('#Orgnamesec').addClass('hidden');
            $('#AddIndividual1').removeClass('hidden');
            $('#AddIndividual2').removeClass('hidden');
            $('#AddIndividual3').removeClass('hidden');
        }
     }
     function Principal13Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "Principal") {
            $('#AddIndividualPrincipal').removeClass('hidden');
            $('#AddIndividual1').removeClass('hidden');
            $('#AddIndividual2').removeClass('hidden');
            $('#AddIndividual3').removeClass('hidden');

            $('#AddPrincial14').val('Person - Individual');
            $('#AddPrincial14').prop("disabled", true);

        } else {
            $('#AddPrincial1').val('');
            $('#AddPrincial2').val('');
            $('#AddPrincial3').val('');
            $('#AddPrincial4').val('');
            $('#AddPrincial5').val('');
            $('#AddPrincial6').val('');
            $('#AddPrincial7').val('');
            $('#AddPrincial8').val('');
            $('#AddPrincial9').val('');
            $('#AddPrincial10').val('');
            $('#AddPrincial11').val('');
            $('#AddPrincial14').val('');
             $('#AddPrincial17').val('');
            $('#AddPrincial18').val('');
            $('#AddPrincial14').prop("disabled", false);
            $('#AddIndividualPrincipal').addClass('hidden');
            $('#AddIndividual1').addClass('hidden');
            $('#AddIndividual2').addClass('hidden');
            $('#AddIndividual3').addClass('hidden');

        }
    }

    function Principal1Selected(PrincipalSelected) {
        debugger;
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#Princial6Sec').removeClass('hidden');
        } else {
            $('#AddPrincial6').val('');
            $('#Princial6Sec').addClass('hidden');

         }
      }
     function Principal2Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#Princial8Sec').removeClass('hidden');
        } else {
            $('#AddPrincial8').val('');
            $('#Princial8Sec').addClass('hidden');

        }
    }
     function Principal3Selected(PrincipalSelected) {
        debugger;
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#Princial12Sec').removeClass('hidden');
        } else {
            $('#AddPrincial12').val('');
            $('#Princial12Sec').addClass('hidden');

        }
    }



    function EditPrincipal14Selected(PrincipalSelected) {
        debugger;
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value != "Person - Individual") {
            $('#EditOrgnamesec').removeClass('hidden');
             $('#EditPrincial1').val('');
            $('#EditPrincial2').val('');
            $('#EditPrincial3').val('');
            $('#EditIndividual1').addClass('hidden');
            $('#EditIndividual2').addClass('hidden');
            $('#EditIndividual3').addClass('hidden');

        } else {
            
            $('#EditPrincial17').val('');
            $('#EditPrincial18').val('');
            $('#EditOrgnamesec').addClass('hidden');
            $('#EditIndividual1').removeClass('hidden');
            $('#EditIndividual2').removeClass('hidden');
            $('#EditIndividual3').removeClass('hidden');
        }
     }
    function EditPrincipal13Selected(PrincipalSelected) {
                 debugger;

        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "Principal") {
            $('#EditIndividualPrincipal').removeClass('hidden');
            $('#EditIndividual1').removeClass('hidden');
            $('#EditIndividual2').removeClass('hidden');
            $('#EditIndividual3').removeClass('hidden');

            $('#EditPrincial14').val('Person - Individual');
            $('#EditPrincial14').prop("disabled", true);

        } else {
            $('#EditPrincial1').val('');
            $('#EditPrincial2').val('');
            $('#EditPrincial3').val('');
            $('#EditPrincial4').val('');
            $('#EditPrincial5').val('');
            $('#EditPrincial6').val('');
            $('#EditPrincial7').val('');
            $('#EditPrincial8').val('');
            $('#EditPrincial9').val('');
            $('#EditPrincial10').val('');
            $('#EditPrincial11').val('');
            $('#EditPrincial14').val('');
            $('#EditPrincial17').val('');
            $('#EditPrincial18').val('');
            $('#EditPrincial14').prop("disabled", false);
            $('#EditIndividualPrincipal').addClass('hidden');
            $('#EditIndividual1').addClass('hidden');
            $('#EditIndividual2').addClass('hidden');
            $('#EditIndividual3').addClass('hidden');

        }
    }

     function EditPrincipal1Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#EditPrincial6Sec').removeClass('hidden');
        } else {
            $('#EditPrincial6').val('');
            $('#EditPrincial6Sec').addClass('hidden');

         }
      }
     function EditPrincipal2Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#EditPrincial8Sec').removeClass('hidden');
        } else {
            $('#EditPrincial8').val('');
            $('#EditPrincial8Sec').addClass('hidden');

        }
    }
     function EditPrincipal3Selected(PrincipalSelected) {
        debugger;
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#EditPrincial12Sec').removeClass('hidden');
        } else {
            $('#EditPrincial12').val('');
            $('#EditPrincial12Sec').addClass('hidden');

        }
    }

     function EditPrincipalPartners(classId, boatUseId) {
        debugger;
        event.preventDefault();
        var _sheetId = $('#AnswerSheetId').val();
        var postData = {
		'partyID': boatUseId,
		'answerSheetId': _sheetId
	};

    $.ajax({
        // change back once mono decides to fix
        url: '@Url.Action("GetPrincipalPartners", "Services")',
        type: "Post",
        data: postData,
        async: true
    })
        .done(function (data) {
            debugger;
        $('#PrincipalPartnersId').val(data.id);

        $('#EditPrincial13').val(data.type);
        EditPrincipal13Selected('EditPrincial13');
        if (data.type != "Principal") {
            $('#EditPrincial14').val(data.organisationTypeName);
            EditPrincipal14Selected('EditPrincial14');
        }

        $('#EditPrincial5').val(""+data.isNZIAmember);
        EditPrincipal1Selected('EditPrincial5');
        $('#EditPrincial7').val(""+data.isADNZmember);
        EditPrincipal2Selected('EditPrincial7');
        $('#EditPrincial11').val(""+data.isOtherdirectorship);
        EditPrincipal3Selected('EditPrincial11');
        $('#EditPrincial1').val(data.firstName);
        $('#EditPrincial2').val(data.lastName);
        $('#EditPrincial4').val(data.qualifications);
        $('#EditPrincial3').val(data.email);
        //$('#EditPrincial5').val(data.isNZIAmember);
        $('#EditPrincial6').val(data.nziAmembership);
        $('#EditPrincial8').val(data.isLPBCategory3);
        $('#EditPrincial9').val(data.yearofPractice);
        $('#EditPrincial10').val(data.prevPractice);
        $('#EditPrincial12').val(data.othercompanyname);
        $('#EditPrincial15').val(data.dateofRetirement);
        $('#EditPrincial16').val(data.dateofDeceased);
        $('#EditPrincial17').val(data.organisationName);
        $('#EditPrincial18').val(data.activities);
            UpdateChosen();

	});
    };

    

     function ValidateEditPrincipalDirectors(event) {
         debugger;
         event.preventDefault();
             var validity = true;
           if ($('#EditPrincial1').val() == '' && $('#EditPrincial14').val() == "Person - Individual") {
             $('#ValidateEditPrincial1').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidateEditPrincial6').html("<i></i>");
             }
         }
           if ($('#EditPrincial2').val() == '' && $('#EditPrincial14').val() == "Person - Individual") {
            $('#ValidateEditPrincial2').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
         }if ($('#EditPrincial3').val() == '' && $('#EditPrincial14').val() == "Person - Individual") {
            $('#ValidateEditPrincial3').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
         }

             for (var index = 4; index <= 5; index++) {
                     var addPrincial = "#EditPrincial" + index;
                 var value = $(addPrincial).val();
                 var validator = "#ValidateEditPrincial" + index;

                  if (value == "" && $('#EditPrincial13').val() == "Principals") {
              $(validator).html("<font color='red'>Field is required</font>")
                if (validity) {
                  validity = false;
                }
                  } else {
                     $(validator).html("<i></i>");
                }

         };

         if ($('#EditPrincial6').val() == '' && $('#EditPrincial5').val() == 'true' && $('#EditPrincial13').val() == "Principals") {
             $('#ValidateEditPrincial6').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidateEditPrincial6').html("<i></i>");
             }
         }
        if ($('#EditPrincial7').val() == '' && $('#EditPrincial13').val() == "Principals") {
            $('#ValidateEditPrincial7').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
        }
        else {
            $('#ValidateEditPrincial7').html("<font></font>");
         }
          if ($('#EditPrincial8').val() == '' && $('#EditPrincial7').val() == 'true' && $('#EditPrincial13').val() == "Principals") {
             $('#ValidateEditPrincial8').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidateEditPrincial8').html("<i></i>");
             }
         }
         
         for (var index = 9; index <= 14 && index !=12 ; index++) {
                     var addPrincial = "#EditPrincial" + index;
                 var value = $(addPrincial).val();
                 var validator = "#ValidateEditPrincial" + index;

                  if (value == "" && $('#EditPrincial6').val() == "Principals" ) {
              $(validator).html("<font color='red'>Field is required</font>")
                if (validity) {
                  validity = false;
                }
                  } else {
                     $(validator).html("<i></i>");
                }

         };

         if ($('#EditPrincial17').val() == '' && $('#EditPrincial14').val() != "Person - Individual") {
             $('#ValidateEditPrincial17').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidateEditPrincia17').html("<i></i>");
             }
         };
           if ($('#EditPrincial18').val() == '' && $('#EditPrincial14').val() != "Person - Individual") {
             $('#ValidateEditPrincial18').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidateEditPrincia18').html("<i></i>");
             }
         };


         if ($('#EditPrincial12').val() == '' && $('#EditPrincial11').val() == 'true' && $('#EditPrincial13').val() == "Principals") {
             $('#ValidateEditPrincial12').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidateEditPrincia12').html("<i></i>");
             }
         };




         if (validity) {
               EditPrincipalDirectors(event, '#Principaltabs2', '#PrincipalDirectors','Principaltabs1');
             };



    };
     function EditPrincipalDirectors(event,tabId, tableId,currenttab) {
        debugger;
        event.preventDefault();
        var informationId = $('#AnswerSheetId').serialize();
        var orgnisationType = $('#EditPrincial14').val();
        var proddata = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
        var proddata = proddata + "&OrganisationTypeName=" + orgnisationType;
        $.ajax({
            url: '@Url.Action("EditPrincipalDirectors", "Services")',
            type: "POST",
            data: proddata
        })
            .done(function (data) {
                debugger;
                SetCurrentTab(currenttab);
                $(tableId).trigger('reloadGrid');
                $(tabId + " :input").val("");
                $('#EditIndividual1').addClass('hidden');
                $('#EditIndividual2').addClass('hidden');
                $('#EditIndividual3').addClass('hidden');
                $('#EditIndividualPrincipal').addClass('hidden');
                $('#EditPrincial6Sec').addClass('hidden');
                $('#EditPrincial8Sec').addClass('hidden');
                $('#EditPrincial12Sec').addClass('hidden');
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to save the Vehicle.");
            });
    };
     function ValidatePrincipalDirectors(event) {
         debugger;
         event.preventDefault();
             var validity = true;
           if ($('#AddPrincial1').val() == '' && $('#AddPrincial14').val() == "Person - Individual") {
             $('#ValidatePrincial1').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidatePrincial6').html("<i></i>");
             }
         }
           if ($('#AddPrincial2').val() == '' && $('#AddPrincial14').val() == "Person - Individual") {
            $('#ValidatePrincial2').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
         }if ($('#AddPrincial3').val() == '' && $('#AddPrincial14').val() == "Person - Individual") {
            $('#ValidatePrincial3').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
         }

             for (var index = 4; index <= 5; index++) {
                     var addPrincial = "#AddPrincial" + index;
                 var value = $(addPrincial).val();
                 var validator = "#ValidatePrincial" + index;

                  if (value == "" && $('#AddPrincial13').val() == "Principals") {
              $(validator).html("<font color='red'>Field is required</font>")
                if (validity) {
                  validity = false;
                }
                  } else {
                     $(validator).html("<i></i>");
                }

         };

         if ($('#AddPrincial6').val() == '' && $('#AddPrincial5').val() == 'true' && $('#AddPrincial13').val() == "Principals") {
             $('#ValidatePrincial6').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidatePrincial6').html("<i></i>");
             }
         }
        if ($('#AddPrincial7').val() == '' && $('#AddPrincial13').val() == "Principals") {
            $('#ValidatePrincial7').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
        }
        else {
            $('#ValidatePrincial7').html("<font></font>");
         }
          if ($('#AddPrincial8').val() == '' && $('#AddPrincial7').val() == 'true' && $('#AddPrincial13').val() == "Principals") {
             $('#ValidatePrincial8').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidatePrincial8').html("<i></i>");
             }
         }
         
         for (var index = 9; index <= 14 && index !=12 ; index++) {
                     var addPrincial = "#AddPrincial" + index;
                 var value = $(addPrincial).val();
                 var validator = "#ValidatePrincial" + index;

                  if (value == "" && $('#AddPrincial6').val() == "Principals" ) {
              $(validator).html("<font color='red'>Field is required</font>")
                if (validity) {
                  validity = false;
                }
                  } else {
                     $(validator).html("<i></i>");
                }

         };

         if ($('#AddPrincial17').val() == '' && $('#AddPrincial14').val() != "Person - Individual") {
             $('#ValidatePrincial17').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidatePrincia17').html("<i></i>");
             }
         };
           if ($('#AddPrincial18').val() == '' && $('#AddPrincial14').val() != "Person - Individual") {
             $('#ValidatePrincial18').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidatePrincia18').html("<i></i>");
             }
         };


         if ($('#AddPrincial12').val() == '' && $('#AddPrincial11').val() == 'true' && $('#AddPrincial13').val() == "Principals") {
             $('#ValidatePrincial12').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             } else {
                 $('#ValidatePrincia12').html("<i></i>");
             }
         };




         if (validity) {
               AddPrincipalDirectors(event, '#Principaltabs3', '#PrincipalDirectors','Principaltabs1');
             };



    };

    function AddPrincipalDirectors(event,tabId, tableId,currenttab) {
        debugger;
        event.preventDefault();
        var informationId = $('#AnswerSheetId').serialize();
        var orgnisationType = $('#AddPrincial14').val();
        var proddata = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
        var proddata = proddata + "&OrganisationTypeName=" + orgnisationType;
        $.ajax({
            url: '@Url.Action("AddPrincipalDirectors", "Services")',
            type: "POST",
            data: proddata
        })
            .done(function (data) {
                debugger;
                SetCurrentTab(currenttab);
                $(tableId).trigger('reloadGrid');
                $(tabId + " :input").val("");
                $('#AddIndividual1').addClass('hidden');
                $('#AddIndividual2').addClass('hidden');
                $('#AddIndividual3').addClass('hidden');
                $('#AddIndividualPrincipal').addClass('hidden');
                $('#Princial6Sec').addClass('hidden');
                $('#Princial8Sec').addClass('hidden');
                $('#Princial12Sec').addClass('hidden');
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to save the Vehicle.");
            });
    };

     function SetPrincipalRemovedStatus(PrincipalId, status, sourceTable, destTable) {
         var AnswersheetId = $('#AnswerSheetId').val();
         var postData = {
                 'answersheetId' : AnswersheetId,
		         'principalId': PrincipalId,
		         'status': status
	           };

            $.ajax({
            // change back once mono decides to fix
            url: '@Url.Action("SetPrincipalRemovedStatus", "Services")',
            type: "Post",
            //contentType: "application/json; charset=utf-8",
            //data: JSON.stringify({ locationId: locationId, status: status })
            data: postData,
            async: true
        })
        .done(function (data) {
            if (data === true) {
                $(sourceTable).trigger('reloadGrid');
                $(destTable).trigger('reloadGrid');

            }
        });
    };

</script>