@model TechCertain.WebUI.Models.InformationViewModel

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate" name="sharedRoleForm" onsubmit="return (SharedRoleValidation());">
        @*@using (var tabs = Html.Bootstrap().Begin(new Tabs("roleTabs")))*@
        {
            @*@tabs.Tab("Location")
            @tabs.Tab("Roles")
            @tabs.Tab("Location Breakdown")*@

            using (tabs.BeginPanel())
            {
                <fieldset>
                    <section class="col col-xs-12">
                        <label class="label">Do you have offices outside of New Zealand?</label>
                        <div class="inline-group">
                            <label class="radio">
                                <input name="radio-outsideTradeNZ" type="radio" value="yes" onchange="toggleLocationsVisible('active')">
                                <i></i>Yes
                            </label>
                            <label class="radio">
                                <input name="radio-outsideTradeNZ" type="radio" value="no" onchange="toggleLocationsVisible('Inactive')">
                                <i></i>No
                            </label>
                        </div>
                    </section>

                    <section class="col col-xs-12">
                        <div id="RoleLocation" name="RoleLocation" hidden>
                            <label class="label">Locations</label>
                            <label class="input">
                                <select class="cselect form-control" data-placeholder="Locations" id="locationSelect" multiple="multiple" name="locationSelect" style="display: none;" hidden>
                                    @foreach (var location in Model.Locations)
                                    {
                                        <option value="@location.LocationId">@location.Country</option>
                                    }
                                </select>
                            </label>
                        </div>
                    </section>

                    <section id="sharedRole" class="col col-xs-12">
                        <button onclick="SetCurrentTab('roleTabs-2')" class="btn-sm">Go to Roles</button>

                        @*@Html.Bootstrap().Button().Text("Go to Roles").HtmlAttributes(new { onclick = "SetCurrentTab('roleTabs-2');" }).Class("btn-sm")*@
                    </section>
                </fieldset>
            }

            using (tabs.BeginPanel())
            {
                <fieldset>
                    <section class="col col-xs-12">
                        <label class="label">Team Members in Role</label>
                        <label class="input">
                            <select class="cselect form-control" data-placeholder="Roles" id="roleSelect" multiple="multiple" name="roleSelect" style="display: none;">
                                @foreach (var role in Model.RolesByLocation)
                                {
                                    <option value="@role.Role.Id">@role.Role.Title</option>
                                }
                            </select>
                        </label>
                    </section>

                    <section id="roleLocation" class="col col-xs-12">
                        <button class="btn btn-default btn-sm" type="button" onclick="BuildRolesTable();SetCurrentTab('roleTabs-3');">Go To Location Breakdown</button>
                    </section>

                </fieldset>
            }
            using (tabs.BeginPanel())
            {
                @*<fieldset>
                    <section class="col col-xs-12">
                        <table id="sharedRoleLocationTable" class="table">
                            <thead>
                            </thead>
                            <tbody>
                                @foreach (var activity in Model.RevenueByActivity)
                                {
                                    <tr>
                                        <td>@activity.Activity</td>
                                        @foreach (var territory in Model.RevenueByTerritories)
                                        {
                                            <td>
                                                <section>
                                                    <label class="input">
                                                        <input type="text" class="form-control" value="@territory.DeclaredRevenue" />
                                                    </label>
                                                </section>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>

                    <section id="sharedRevenueActivity" class="col col-xs-12">
                            <button class="btn btn-default btn-sm" type="button" onclick="BuildRevenuesTable('false');SetCurrentTab('roleTabs-4');">Go To Activity Breakdown</button>
                        </section>

                </fieldset>*@

            }

        }

    </div>
</div>








