@model TechCertain.WebUI.Models.InformationViewModel


    <div class="padding-10">
        <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">

            <div id="SharedRevenue">

                <ul id="tab" class="nav nav-tabs">
                    <li class="nav nav-tabs ListAll"> <a href="#RevenueTabs1"> List All </a> </li>
                    <li class="nav nav-tabs Add"> <a href="#RevenueTabs2"> Add </a> </li>
                    <li class="nav nav-tabs TerritoryBreakdown"> <a href="#RevenueTabs3"> Edit </a> </li>                   
                </ul>

                <div id="RevenueTabs1" class="tab-content">

                    <fieldset>
                        <div class="row">
                            <section class="container-fluid">
                                
                                <script type="text/javascript">                              
                                    $(window).on('load', function () {
                                        $("#tblSharedRevenueData").jqGrid({
                                            url: "/Services/GetBoats?informationId=@Model.AnswerSheetId&validated=true&removed=false&transfered=false",
                                            datatype: "xml",
                                            mytpe: "GET",
                                            colNames: ["Edit Shared Revenue", "Territories", "Activities", "Total Revenue", "Delete Shared Revenue"],
                                            colModel: [
                                                {
                                                    name: "edit", template: "actions", width: 90, align: 'center', search: false, editable: true, formatter: function (cellvalue, options, rowobject) {
                                                        return ('<button onclick="EditSharedRevenue(\'b\', \'' + cellvalue + '\'); SetCurrentTab(\'RevenueTabs3\');" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"> </i></button>')
                                                    }
                                                },
                                                { name: "sharedData", align: 'center', key: 'true', editable: true },
                                                { name: "YearOfManufacture", align: 'center', editable: true },
                                                { name: "TotalRevenue", align: 'center', editable: true },
                                                {
                                                    name: "update", align: 'center', search: false, width: 90, editable: true, formatter: function (cellvalue, options, rowobject) {
                                                        return ('<button id="trash" onclick="RemoveBoat(\'' + cellvalue + '\', \'true\', \'#tblBoat\', \'#tblRemovedBoat\',\'@Model.Status\');" type="button" class=" btn btn-danger btn-sm" ><span class="fa fa-trash" id="span"></span></button>');
                                                    }
                                                }
                                            ],
                                            autowidth: true,
                                            pager: "#pagerBoat",
                                            rowNum: 10,
                                            rowList: [10, 20, 30],
                                            sortname: "sharedData",
                                            sortorder: "desc",
                                            viewrecords: true,
                                            gridview: true,
                                            autoencode: true,
                                            onSelectRow: function (rowid) {
                                                var grid = $('#tblSharedRevenueData');
                                                var myCellData = grid.jqGrid('getCell', rowid, 'column_name');
                                                SetCurrentTab("boatTabs-2");
                                            }
                                        });
                                        $("#tblSharedRevenueData").jqGrid('navGrid', '#pagerBoat', { edit: false, add: false, del: false }, { height: 280, reloadAfterSubmit: false },
                                            { height: 280, reloadAfterSubmit: false }, { reloadAfterSubmit: false }, { search: true }, { sopt: ['eq', 'bw', 'cn'] }
                                        );
                                    });
                                </script>
                                <table id="tblSharedRevenueData"><tr><td></td></tr></table>
                                <div id="pagerBoat"></div>
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

            @*<form class="smart-form" id="sharedRevenueId" formaction="#">

                <div id="SharedRevenue">

                    <ul id="tab" class="nav nav-tabs">
                        <li class="nav nav-tabs Territory"> <a href="#RevenueTabs1"> Territory </a> </li>
                        <li class="nav nav-tabs Activities"> <a href="#RevenueTabs2"> Activities </a> </li>
                        <li class="nav nav-tabs TerritoryBreakdown"> <a href="#RevenueTabs3"> Territory Breakdown </a> </li>
                        <li class="nav nav-tabs ActivityBreakdown"> <a href="#RevenueTabs4"> Activity Breakdown </a> </li>
                    </ul>

                    <div id="RevenueTabs1" class="tab-content">
                        <fieldset>
                            <div class="container-fluid">
                                <div class="input-group mb-3">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                                        <div class="row">
                                            <label class="btn btn-primary col-12">
                                                <input name="radio-outsideTradeNZ" type="radio" value="yes" onchange="toggleTerritoriesVisible('active')"><i></i> Yes, I do trade outside of New Zealand
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label class="btn btn-primary">
                                                <input name="radio-outsideTradeNZ" type="radio" value="no" onchange="toggleTerritoriesVisible('Inactive')"><i></i> No, I don't trade outside of New Zealand
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="input-group mb-3" id="sharedRevenueTerritories" name="sharedRevenueTerritories" style="display:none">
                                    <select data-placeholder="Choose Territories" id="SharedTerritories" name="Territories" multiple class="col-6 chosen-select form-control b" required>
                                        @foreach (var territory in Model.RevenueByTerritories)
                                        {
                                            <option value="@territory.Territory">@territory.Territory</option>
                                        }
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                    <button class="btn-primary btn" onclick="SetCurrentTab('RevenueTabs2');event.preventDefault()">  Go to Activities  </button>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div id="RevenueTabs2" class="tab-content">

                        <fieldset>
                            <div class="container-fluid">
                                <div class="input-group mb-3">
                                    <select id="sharedRevenueActivities" name="sharedRevenueActivities" multiple class="col-6 chosen-select form-control b" data-placeholder="Choose Activities" required>
                                        @foreach (var ou in Model.BusinessActivities)
                                        {
                                            <option value="@ou.AnzsciCode">@ou.Description</option>
                                        }
                                    </select>
                                </div>

                                <div id="sharedRevenueTerritoriesBreakdownTab" class="input-group mb-3" style="display:none">
                                    <button class="btn-primary btn" onclick="BuildRevenuesTable('true');SetCurrentTab('RevenueTabs3');event.preventDefault()">Go To Territory Breakdown</button>
                                </div>

                                <div id="sharedRevenueActivity" class="input-group mb-3" style="display:none">
                                    <button class="btn-primary btn" onclick="BuildRevenuesTable('false');SetCurrentTab('RevenueTabs4');event.preventDefault()">Go To Activity Breakdown</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div id="RevenueTabs3" class="tab-content">
                        <fieldset>
                            <div class="container-fluid">
                                <div class="input-group mb-3">
                                    <input id="totalRevenue" name="totalRevenue" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                                    <table id="sharedRevenueTerritoriesTable" class="table">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            foreach (var activity in Model.RevenueByActivity)
                                                {
                                                    <tr>
                                                        <td>@activity.Activity</td>
                                                        @foreach (var territory in Model.RevenueByTerritories)
                                                        {
                                                            <td>
                                                                <div class="input-group">
                                                                    <label class="input">
                                                                        <input type="text" class="form-control" value="@territory.DeclaredRevenue" />
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="input-group mb-3">
                                    <div id="sharedRevenueActivity" class="input-group">
                                        <button class="btn-primary btn" onclick="BuildRevenuesTable('false');SetCurrentTab('RevenueTabs4');event.preventDefault()">Go To Activity Breakdown</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div id="RevenueTabs4" class="tab-content">

                        <fieldset>
                            <div class="container-fluid">
                                <div class="input-group mb-3">
                                    <table id="sharedRevenueActivityTable" class="table">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            foreach (var activity in Model.RevenueByActivity)
                                                {
                                                    <tr>
                                                        <td>@activity.Activity</td>
                                                        @foreach (var territory in Model.RevenueByTerritories)
                                                        {
                                                            <td>
                                                                <section>
                                                                    <label class="input">
                                                                        <input type="text" class="form-control" value="@territory.DeclaredRevenue" />
                                                                    </label>
                                                                </section>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="footer">
                                        <input type="submit" value="Submit" class="btn btn-success" id="btnSharedRevenueSubmit" onclick="return (SharedRevenueCalculation()); event.preventDefault()">
                                        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel<i class="fa fa-close"></i></a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>*@


            <style>

                .required:after {
                    content: " *";
                    color: red;
                    font-size: 20px;
                }

                .selectuse option {
                    background-color: white;
                }
            </style>


