@model DealEngine.WebUI.Models.InformationViewModel


<!-- MAIN CONTENT -->
    <div id="content">
        <!-- Bread crumb is created dynamically -->

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i><a href="~/Agreement/ViewAcceptedAgreement/@Model.ClientProgrammeID"> Agreement</a>
                > <span>View Client Information Sheet</span>
            </h1>
        </div>
        <span>
            <a onclick="location.href='@Url.Action("ViewAcceptedAgreement", "Agreement",new { Id =@Model.ClientProgrammeID })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>


        <!-- widget grid -->
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-6">
                    <!-- new widget -->
                    <div class="jarviswidget jarviswidget-color-blue" id="wid-id-2" data-widget-editbutton="true" data-widget-colorbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa--envelope txt-color-white"></i> </span>
                            <h2>Client Programme  </h2>
                        </header>
                        <!-- widget div-->
                        @*<div>*@
                        @*<div class="widget-body no-padding smart-form">*@
                        <!-- content goes here -->


                        <table class="table table-bordered table-striped table-hover table-condensed">

                            <thead>
                                <tr align="center">
                                    <th align="center">Client Information Sheet</th>


                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var Section in Model.Section.OrderBy(s => s.Position))
                                {

                                    if (!string.IsNullOrWhiteSpace(Section.CustomView))
                                    {
                                        <tr>

                                            @*<td onclick="accordionpartialView('@Section.CustomView','@Model.Id')" style="cursor:pointer" align="center"> @Section.Name </td>*@


                                            <td onclick="location.href='@Url.Action("PartialViewProgramme", "Information",new { name = Section.CustomView , id = Model.Id})'" style="cursor:pointer" align="left">
                                                @Section.Name
                                            </td>

                                        </tr>

                                    }
                                }

                            </tbody>
                        </table>
                </article>
            </div>
        </section>
    </div>


@section pagespecific {

    @Html.Partial("_InformationWizardScripts")

}
