@model TechCertain.WebUI.Models.Milestone.MilestoneBuilderViewModel

    <div id="MilestoneStart-form" class="smart-form" novalidate="novalidate">

        <div id="taskPriority">
            <label>Task Priority</label>
            @Html.DropDownList("Priortylist", Model.Priorities)
        </div>

        <div id="taskDueDate">
            <label>Due Date</label>
            <input placeholder="Due Date" class="datepicker form-control b" data-dateformat="dd/mm/yy" type="text" id="DueDate">
        </div>

        <div id="taskReference">
            <label>Task Reference</label>
            @Html.TextAreaFor(m => m.UserTask.Details)
        </div>

        <div id="taskDescription">
            <label>Task Description</label>
            @Html.TextAreaFor(m => m.UserTask.Description)
            <script>CKEDITOR.replace('@(Html.IdFor(m => m.UserTask.Description))');</script>
        </div>

    </div>

<script type="text/javascript">
    function GetUserTaskContentJson()
    {
        return {
            Priority: $("#Priortylist").val(), 
            DueDate: $("#DueDate").val(), 
            Details: $("#@(Html.IdFor(m => m.UserTask.Details))").val(),
            Description: CKEDITOR.instances["@(Html.IdFor(m => m.UserTask.Description))"].getData()
    	};
    }
</script>
