@model TechCertain.WebUI.Models.Milestone.MilestoneBuilderViewModel

    <div id="fuelux-wizard" class="smart-form" novalidate="novalidate">
        <select class="form-control b" id="emailaddress" required>
            <option selected="selected" value="">-- Select --</option>
            @foreach (var emailAdd in Model.EmailAddresses)
            {
                <option value="@emailAdd"> @emailAdd</option>
            }
        </select>
        <hr />
        @Html.TextAreaFor(m => m.EmailTemplate.Subject)
        <hr />
        @Html.TextAreaFor(m => m.EmailTemplate.Body)
        <script>CKEDITOR.replace('@(Html.IdFor(m => m.EmailTemplate.Body))');</script>
    </div>

<script type="text/javascript">
    function GetEmailContentJson()
    {
        return {
            Subject: $("#@(Html.IdFor(m => m.EmailTemplate.Subject))").val(),
            Body: CKEDITOR.instances["@(Html.IdFor(m => m.EmailTemplate.Body))"].getData()
    	};
    }
</script>
