@model TechCertain.WebUI.Models.SystemEmailTemplateViewModel

@using TechCertain.WebUI.Helpers.CustomHtml
    <script src="~/ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="row">
            <!-- col -->
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <!-- PAGE HEADER -->
                    <i class="fa-fw fa fa-file-o"></i>  <span>
                        <a href="~/Admin"> Admin Panel</a>
                    </span>
                </h1>
            </div>
            <!-- end col -->
        </div>
        <span>
            <a onclick="location.href='/Admin';" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="glyphicon glyphicon-circle-arrow-left"></span>  </a>
        </span>
        <section class="col-xs-12"></section>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- NEW WIDGET START -->
        <div class="col col-12">
            <!-- Widget ID (each widget will need unique ID)-->
            @*<script src="~/ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>*@
            <div class="jarviswidget" id="wid-id-10"
                 data="false"                          
                 data-widget-editbutton="false"
                 data-widget-togglebutton="false"                                     
                 data-widget-deletebutton="false"
                 data-widget-custombutton="false"
                 data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                    <h2>System Email Template</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="smart-form no-padding">
                        <div class="widget-body widget-hide-overflow">
                            <form action="~/Admin/SysEmailTemplate" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
                                <div>
                                    @Html.HiddenFor(m => m.SystemEmailType)
                                    @Html.HiddenFor(m => m.InternalNotes)
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as drop downSS edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->

                                    <div class="col col-10">
                                        <div class="alert alert-info">
                                            <p>@Model.InternalNotes</p>
                                        </div>
                                        @Html.TextBoxFor(m => m.Subject)
                                        <br />
                                        @Html.TextAreaFor(m => m.Body)
                                        @*@Html.TextAreaFor(m => m.Body, new { id = "SysEmail", name = "content", cols = "10", rows = "80" })*@

                                        <br />
                                    </div>
                                    <!-- end widget content -->
                                </div>
                            </form>
                        </div>
                        <div class="widget-body widget-hide-overflow">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-12">
                                        <button onclick="javascript:SaveSystemEmailTemplate()" class="btn txt-color-white bg-color-green btn-sm">Save System Email Template</button>

                                        @*@Html.Bootstrap().Button().Text("Save System Email Template").HtmlAttributes(new { onclick = "javascript:SaveSystemEmailTemplate()" }).Class("btn txt-color-white bg-color-green btn-sm")*@
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </div>
        <!-- WIDGET END -->
    </section>
</div>


@section pagespecific {

    <script type="text/javascript">
        let editor;
                                                   ClassicEditor
                                                               .create( document.querySelector( '#Body' ) )
                                                               .then( newEditor => {
                                                                editor = newEditor;
                                                               } )
                                                                 .catch( error => {
                                                                 console.error( error );
                                                                 });


        function SaveSystemEmailTemplate() {
            debugger;
            @*var body = CKEDITOR.instances['@Html.IdFor(m => m.Body)'].getData();*@
             const body = editor.getData();
			var bodyElement = $("#@Html.IdFor(m => m.Body)");
			// hack because jquery will only escape text inside an element, so we'll store the text, & get the escaped text, and then resave that
			// using hack because escape(...) was deprecated
            bodyElement.text(bodyElement.text(body).html());

			$.ajax({
				type: "POST",
				url: '@Url.Action("SysEmailTemplate", "Admin")',
			    data: $("#update-form").serialize() // serializes the form's elements.
			})
	        .done(function (json) {
				console.log(json);
	        })
	        .fail(function (err, ajaxOptions, thrownError) {
				alert("Unable to save." + err.responseText );
				console.log(err);
				console.log(ajaxOptions);
				console.log(thrownError);
	        });
        };

    </script>

}


