@model TechCertain.Web.UI.ViewModels.InformationViewModel

<div id="content">
    <!-- widget grid -->
    <section id="widget-grid">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                @if (Model != null)
                {
                    <div class="jarviswidget" id="wid-id-10"
                         data-widget-colorbutton="false"
                         data-widget-editbutton="false"
                         data-widget-togglebutton="false"
                         data-widget-deletebutton="false"
                         data-widget-custombutton="false"
                         data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>@Model.Name</h2>
                        </header>
                        <div>
                            <!-- widget div-->
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as drop downSS edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            @if (ViewBag.TestData != null && ViewBag.TestData)
                                {
                                    <div class="smart-form">
                                        <header>
                                            <div class="row padding-bottom-10">

                                                <div class="col col-12">
                                                    <a href="~/Policy/ViewDocumentTemplate?id=09485282-29a6-4dff-88ef-a5b40160eb07" class="btn btn-primary btn-sm">View Terms</a>
                                                    <a href="~/Agreement/ViewAgreement/123" class="btn btn-primary btn-sm">View Agreement</a>
                                                </div>

                                            </div>
                                        </header>
                                    </div>
                                }

                            @if (Model.Status == "Submitted") {
                            	@Html.Bootstrap().Alert("This information sheet has already been submitted, and cannot be updated.").Style(AlertColor.Warning);
                            }
							@if (Model.Status != "Submitted") {
				                <div class="modal" id="advisoryModal" tabindex="-1" role="dialog" data-backdrop="static">
								    <div class="modal-dialog">
								        <div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Important!</h4>
											</div>
											<div class="modal-body">
												<p>Insurance is offerred on the basis of the information you supply. If your not sure press the "Seek Advice" button at any time.</p>
												<p>Untruthful answers will result in cancellation without compensation.</p>
											</div>
											<div class="modal-footer">
												<button class="btn-default btn" type="button" onclick="$('#advisoryModal').modal('hide');">I Understand</button>
											</div>
										</div>
								    </div>
								</div>
							}

                            <div class="row">
                                <div class="col col-12">
                                	<form id="dataItems" method="post" action=@Url.FixedAction("SubmitInformation") @Html.Raw(Model.Status == "Submitted" ? "onsubmit='event.preventDefault(); return false;'" : "" )>
                                        <div id="accordion">

                    						@Html.HiddenFor(m => m.AnswerSheetId)

                                            @if (Model.Sections != null) {
                                                foreach (var informationSection in Model.Sections) {
                                                <div>
                                                    <h4>@informationSection.Name</h4>
                                                    <div class="padding-10">
                                                        <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">
                                                            <fieldset>
                                                                <div class="row">
                                                                @if (informationSection.Items != null)
                                                                {
                                                                    var items = informationSection.Items;
                                                                    for (int i = 0; i < items.Count(); i++)
                                                                    {
                                                                        var item = items.ElementAtOrDefault(i);
                                                                        if (item.Type != ItemType.SECTIONBREAK)
                                                                        {
                                                                            <section class="col col-@item.Width">
															
                                                                            @switch (item.Type) {
                                                                                case ItemType.TEXTBOX:
                                                                                    <label class="label">@item.Label</label>
                                                                                    <label class="input">
                                                                                    	<i class="@item.Icon"></i>
                                                                                    	<input data-id="@item.Id" data-type="@item.Type" data-name="@item.Name" 
                                                                                               id="@item.Name" type="@item.Control" name="@item.Name" placeholder="@item.Label" value="@item.Value" />
                                                                                    </label>
                                                                                    break;

                                                                                case ItemType.TEXTAREA:
                                                                                    <label class="label">@item.Label</label>
                                                                                    <label class="textarea">
                                                                                    	<textarea data-id="@item.Id" data-type="@item.Type" data-name="@item.Name" 
                                                                                               id="@item.Name" type="@item.Control" name="@item.Name" placeholder="@item.Label" value="@item.Value" ></textarea>
                                                                                    </label>
                                                                                    break;

                                                                                case ItemType.LABEL:
                                                                                    <article class="col col-@item.Width col-xs-12">
                                                                                        @Html.Raw(@item.Label)
                                                                                    </article>
                                                                                    break;

                                                                                case ItemType.DROPDOWNLIST:
                                                                                    <label class="label">@item.Label</label>
                                                                                    <label class="input">
                                                                                    	@Html.Bootstrap().DropDownList(@item.Name, @item.Options).SelectedValue(@item.Value).OptionLabel(@item.DefaultText).Id(@item.Name)
                                                                                    </label>
                                                                                    break;

                                                                                case ItemType.PERCENTAGEBREAKDOWN:
                                                                                    <div class="row">
                                                                                        <div class="col col-12 col-xs-12"><label class="label">@item.Label</label></div>
                                                                                        <div class="col col-10 col-xs-12">
                                                                                            @Html.Bootstrap().DropDownList(@item.Name, @item.Options).OptionLabel(@item.DefaultText).Class("form-control")
                                                                                    	</div>
                                                                                        <div class="col col-2 col-xs-12">
                                                                                            <button id="clickMe" onclick="AddBusinessActivity(this, '#@item.Name', '#tableResult');" class="btn btn-sm btn-success" style="width:100px">
                                                                                                Add
                                                                                            </button>
                                                                                        </div>
                                                                                        <div class="col col-12">
                                                                                            <table id="tableResult" cellpadding="4" cellspacing="0">
                                                                                                <tbody></tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                    break;

                                                                                case ItemType.MULTISELECT:
                                                                                    <label class="label">@item.Label</label>
                                                                                    <label class="input">
																						@Html.Bootstrap().ListBox(@item.Name, @item.Options).Class("cselect").Data(new { placeholder = @item.Label })
                                                                                    </label>
                                                                                    break;

                                                                                case ItemType.JSBUTTON:
                                                                                	@Html.Bootstrap().Button().Text(@item.Label).HtmlAttributes(new { onclick = @item.Value }).Class("btn-sm")
                                                                                	break;

                                                                                case ItemType.SUBMITBUTTON:
                                                                                	@Html.Bootstrap().SubmitButton().Text(@item.Label).Class("btn-sm")
                                                                                	break;

                                                                                case ItemType.MOTORVEHICLELIST:
                                                                                	<div class="row">
                                                                                        <div class="col col-xs-12">
																							@using (Html.Bootstrap().Begin(new Table().Id(@item.Name+"TableResult").Striped()))
																						    {
																								<thead>
																									<th>Registration</th>
																									<th>Make</th>
																									<th>Model</th>
																									<th>Sum Insured</th>
																								</thead>
                                                                                                <tbody></tbody>
																						    }
                                                                                        </div>
                                                                                        <div class="col col-xs-12"><label class="label">@item.Label</label></div>
                                                                                        <div class="col col-xs-12 col-sm-10">
																							@Html.Bootstrap().TextBox(@item.Name).Placeholder("Registration Number").Class("form-control")
                                                                                    	</div>
                                                                                        <div class="col col-xs-12 col-sm-2">
                                                                                            <button id="clickMe" type="button" onclick="SearchMotorVehicle(this, '#@item.Name');" class="btn btn-sm btn-success" style="width:100px">
                                                                                                Search
                                                                                            </button>
                                                                                        </div>
																					</div>
                                                                                	break;
                                                                            }
                                                                            </section>
                                                                        }
	                                                                    else
	                                                                    {
	                                                                        @Html.Raw("</div><div class=\"row\">")
	                                                                    }
                                                                    }
                                                                }
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                }
                                            }
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- sample use of business activities control -->
                            @*<div>
                                <select id="selectTz">
                                <option>Yes</option>
                                <option>No</option>
                                <option>Maybe</option>
                                <option>No</option>
                                <option>Definately Not</option>
                                </select>
                                <button id="clickMe" onclick="AddBusinessActivity(this, '#selectTz', '#tableResult');">Add</button>
                                <table id="tableResult">
                                <tbody></tbody>
                                </table>
                                </div>*@
                            <!-- end sample use of business activities control -->
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                }
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- Row End-->
    </section>
    <!-- Section END-->
</div>

@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function () {

            // Accordian
            var accordionIcons = {
                header: "fa fa-circle-o",           // custom icon class
                activeHeader: "fa fa-dot-circle-o"  // custom icon class
            };

            $("#accordion").accordion({
                autoHeight: false,
                heightStyle: "content",
                collapsible: false,
                animate: 300,
                icons: accordionIcons,
                header: "h4",
                activate: function (event, ui) { }
            });
        })

		$(window).load(function(){
	        $('#advisoryModal').modal('show');
	    });
    </script>
}
