@model DealEngine.WebUI.Models.AdditionalActivityViewModel

<div class="form-group" style="display:none" id="InspectionReport">
    <div class="row-fluid">
        <label for="@Model.InspectionReportTextId">Please describe the nature of these reports and what they would be used for, (examples. Domestic pre-purchase property inspections, Commercial building Inspections for Earthquake Strengthening, Inspections relating to Building Feasibility reports)</label>
        @Html.TextBoxFor(t => t.InspectionReportTextId, new { @class = "form-control", @form = "revenue3" })
    </div>

    <div class="row-fluid">
        <label for="@Model.InspectionReportBoolId">Do you include limitations of liability clauses and liability disclaimers in your reports/contracts of Engagement? </label>
        @Html.DropDownListFor(t => t.InspectionReportBoolId, Model.InspectionReportBoolId, new { @class = "form-control", @form = "revenue3" })
    </div>
</div>

<div class="form-group" style="display:none" id="Valuation">
    <div class="row-fluid">
        <label for="@Model.ValuationTextId">Please state the types of Valuations provided, (examples. Domestic replacement valuation for insurance, Insurance valuation for Historic buildings)</label>
        @Html.TextBoxFor(t => t.ValuationTextId, new { @class = "form-control", @form = "revenue3" })
    </div>

    <div class="row-fluid">
        <label for="@Model.ValuationTextId2">Please provide details of the relevant qualifications held by the persons undertaking this Discipline</label>
        @Html.TextBoxFor(t => t.ValuationTextId2, new { @class = "form-control", @form = "revenue3" })
    </div>
    <div class="row-fluid">
        <label for="@Model.ValuationBoolId">Do you include limitations of liability clauses and liability disclaimers in your reports? </label>
        @Html.DropDownListFor(t => t.ValuationBoolId, Model.ValuationBoolId, new { @class = "form-control", @form = "revenue3" })
    </div>
</div>

<div class="form-group" style="display:none" id="SchoolsDesignWork">
    <div class="row-fluid">
        <label for="SchoolsDesignWork">Please also advise whether your practice:</label>
    </div>
    <div class="row-fluid">
        <label for="@Model.SchoolsDesignWorkBoolId">Was contracted to provide construction management or observation services?</label>
        @Html.DropDownListFor(t => t.SchoolsDesignWorkBoolId, Model.SchoolsDesignWorkBoolId, new { @class = "form-control", @form = "revenue3" })
    </div>
    <div class="row-fluid">
        <label for="@Model.SchoolsDesignWorkBoolId2">Recommended the use of any cladding product? </label>
        @Html.DropDownListFor(t => t.SchoolsDesignWorkBoolId2, Model.SchoolsDesignWorkBoolId2, new { @class = "form-control", @form = "revenue3" })
    </div>
    <div class="row-fluid">
        <label for="@Model.SchoolsDesignWorkBoolId3">Has undertaken in the past 10 years any work on Ministry of Education State Schools (i.e Not Private, Integrated or Designated Character Schools)? </label>
        @Html.DropDownListFor(t => t.SchoolsDesignWorkBoolId3, Model.SchoolsDesignWorkBoolId3, new { @class = "form-control", @form = "revenue3" })
    </div>
    <div class="row-fluid">
        <label for="@Model.SchoolsDesignWorkBoolId4">Issued practical completion certificates? </label>
        @Html.DropDownListFor(t => t.SchoolsDesignWorkBoolId4, Model.SchoolsDesignWorkBoolId4, new { @class = "form-control", @form = "revenue3" })
    </div>
</div>

<div class="form-group" style="display:none" id="OtherActivities">
    <div class="row-fluid">
        <label for="@Model.OtherActivitiesTextId"> You have specified Other Work not listed above, please provide further details:</label>
        @Html.TextBoxFor(t => t.OtherActivitiesTextId, new { @class = "form-control", @form = "revenue3" })
    </div>
</div>

<div class="form-group" id="CanterburyEarthquakeRebuildWork">
    <div class="row-fluid">
        <label for="@Model.CanterburyEarthquakeRebuildWorkId"> If you have specified 20% or more of your fee income earned in the next 12 months to come from work related to the Canterbury earthquake rebuild work, please provide details:</label>
        @Html.TextBoxFor(t => t.CanterburyEarthquakeRebuildWorkId, new { @class = "form-control", @form = "revenue3", @placeholder = "" })
    </div>
</div>

<div class="form-group" style="display:none" id="OtherProjectManagement">
    <div class="row-fluid">
        <label for="@Model.OtherProjectManagementTextId"> Please provide details of your Other Project Management activities:</label>
        @Html.TextBoxFor(t => t.OtherProjectManagementTextId, new { @class = "form-control", @form = "revenue3", @placeholder = "" })
    </div>
</div>

<div class="form-group" style="display:none" id="NonProjectManagement">
    <div class="row-fluid">
        <label for="@Model.NonProjectManagementTextId"> Please provide details of your non Project Management activities:</label>
        @Html.TextBoxFor(t => t.NonProjectManagementTextId, new { @class = "form-control", @form = "revenue3", @placeholder = "" })
    </div>
</div>

<div class="form-group" id="Construction" style="display:none">
    <div class="row-fluid">
        <label for="constructiontable"> Please provide your best estimate of a percentage breakdown of your revenue from each of the following industry activities:</label>
        <table id="constructiontable">
            <tbody>
                <tr>
                    <td>
                        Commercial
                    </td>
                    <td>
                        @Html.TextBoxFor(t => t.ConstructionCommercial, new { @class = "form-control", @form = "revenue3", @placeholder="%", @type="number" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Dwellings
                    </td>
                    <td>
                        @Html.TextBoxFor(t => t.ConstructionDwellings, new { @class = "form-control", @form = "revenue3", @placeholder="%", @type="number" })                        
                    </td>
                </tr>
                <tr>
                    <td>
                        Industrial
                    </td>
                    <td>
                        @Html.TextBoxFor(t => t.ConstructionIndustrial, new { @class = "form-control", @form = "revenue3", @placeholder = "%", @type="number" })                        
                    </td>
                </tr>
                <tr>
                    <td>
                        Infrastructure
                    </td>
                    <td>
                        @Html.TextBoxFor(t => t.ConstructionInfrastructure, new { @class = "form-control", @form = "revenue3", @placeholder = "%", @type="number" })                        
                    </td>
                </tr>
                <tr>
                    <td>
                        School
                    </td>
                    <td>
                        @Html.TextBoxFor(t => t.ConstructionSchool, new { @class = "form-control", @form = "revenue3", @placeholder = "%", @type="number"})                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="form-group mb-3">
    <div class="footer" style="display:none" id="additionalActivitySubmit">
        <button class="btn btn-success" id="btnSharedRevenueSubmit" onclick="SaveRevenueTabThree()">Submit</button>
    </div>
</div>


