@model DealEngine.WebUI.Models.RevenueByActivityViewModel

<ul id="sharedRevenTabs" class="nav nav-tabs d-sm-flex">
    <li class="nav nav-tabs Summary" tabindex="0"> <a href="#RevenueTabs0" data-toggle="tab"> Summary </a> </li>
    <li class="nav nav-tabs Territory" tabindex="1" style="display:none" id="revenueTab1"> <a href="#RevenueTabs1" data-toggle="tab"> Territory </a> </li>
    <li class="nav nav-tabs Activities" tabindex="2" style="display:none" id="revenueTab2"> <a href="#RevenueTabs2" data-toggle="tab"> Activities </a> </li>
    <li class="nav nav-tabs AdditionalInformation" tabindex="3" id="revenueTab3"> <a href="#RevenueTabs3" data-toggle="tab"> Additional Information </a> </li>
</ul>


<div id="" class="tab-content">
    <div class="tab-pane active" id="RevenueTabs0" role="tabpanel">
        <div class="form-group">
            <div class="row">
                <div class="col-3">
                    <label for="sharedcurrentYear">Estimate of current year</label>
                    <input id="sharedcurrentYear" name="sharedcurrentYear" type="number" class="form-control" readonly value="@Model.CurrentYear.ToString("0.00").Replace(".00", String.Empty)" placeholder="$" required>
                </div>
                <div class="col-3">
                    <label for="sharedlastFinancialYear">Last completed financial year</label>
                    <input id="sharedlastFinancialYear" name="sharedlastFinancialYear" type="number" readonly class="form-control" value="@Model.LastFinancialYear.ToString("0.00").Replace(".00", String.Empty)" placeholder="$">
                </div>
                <div class="col-3">
                    <label for="sharednextFinancialYear">Estimate of next financial year</label>
                    <input id="sharednextFinancialYear" name="sharednextFinancialYear" type="number" readonly class="form-control" value="@Model.NextFincialYear.ToString("0.00").Replace(".00", String.Empty)" placeholder="$">
                </div>
            </div>            
        </div>
        <div class="form-group">
            <table id="ListSharedRevenueTerritories" class="table">
                <thead>
                    <tr>
                        @foreach (var territoryData in Model.RevenueData.Territories)
                        {
                            <th scope="col">@territoryData.Location</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var territoryData in Model.RevenueData.Territories)
                        {
                            <th scope="row">
                                <input class="form-control" readonly type="number" form="revenue" name="@territoryData.Id" id="@territoryData.Id" maxlength="3" value="@territoryData.Pecentage.ToString("0.00").Replace(".00", String.Empty)">
                            </th>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <table id="ListSharedRevenueActivities" class="table">
                <thead>
                    <tr>
                        @foreach (var businessActivityData in Model.RevenueData.Activities)
                        {
                            <th scope="col">@businessActivityData.Description</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var businessActivityData in Model.RevenueData.Activities)
                        {
                            <th scope="row">
                                <input class="form-control" type="number" readonly form="revenue" name="@businessActivityData.Id" id="@businessActivityData.Id" maxlength="3" value="@businessActivityData.Pecentage.ToString("0.00").Replace(".00", String.Empty)">
                            </th>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="UpdateSharedActivity" class="form-group">
            <button class="btn-primary btn" onclick="UpdateSharedRevenue()">Change</button>
        </div>
    </div>
    <div class="tab-pane active" id="RevenueTabs1" role="tabpanel">
        <div class="container-fluid">
            <div class="form-group" id="sharedRevenueTerritories" name="sharedRevenueTerritories">
                <label for="SharedTerritories">Select Territories</label>
                <select data-placeholder="Click here to select Territories" form="revenue1" id="SharedTerritories" name="Territories" multiple class="col-6 chosen-select form-control b" onchange="ToggleSharedRevenueTab1Button()" required>
                    @foreach (var territory in Model.Territories)
                    {
                        <option selected="@territory.Selected" value="@territory.Value">@territory.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <table id="sharedRevenueTerritoriesTable" class="table">
                    <thead>
                        <tr>

                            @foreach (var territoryData in Model.RevenueData.Territories)
                            {
                                <th scope="col">@territoryData.Location</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var territoryData in Model.RevenueData.Territories)
                            {
                                <th scope="row">
                                    <input class="form-control" type="number" form="revenue1" name="@territoryData.TerritoryTemplateId" id="@territoryData.TerritoryTemplateId" maxlength="3" value="@territoryData.Pecentage.ToString("0.00").Replace(".00", String.Empty)">
                                </th>
                            }
                        </tr>
                    </tbody>

                </table>
            </div>

            <div id="sharedRevenue1Btn" class="form-group">
                <button class="btn btn-primary" id="tradingButton" onclick="SaveRevenueTabOne()">Submit To Save</button>
            </div>
        </div>
    </div>
    <div class="tab-pane active" id="RevenueTabs2" role="tabpanel">
        <div class="container-fluid">
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label for="currentYear">Estimate of current year</label>
                        <input id="currentYear" name="currentYear" type="number" class="form-control" form="revenue2" value="@Model.CurrentYear.ToString("0.00").Replace(".00", String.Empty)" placeholder="$" required>
                    </div>
                    <div class="col-3">
                        <label for="lastFinancialYear">Last completed financial year</label>
                        <input id="lastFinancialYear" name="lastFinancialYear" type="number" form="revenue2" class="form-control" value="@Model.LastFinancialYear.ToString("0.00").Replace(".00", String.Empty)" placeholder="$" >
                    </div>
                    <div class="col-3">
                        <label for="nextFinancialYear">Estimate of next financial year</label>
                        <input id="nextFinancialYear" name="nextFinancialYear" type="number" form="revenue2" class="form-control" value="@Model.NextFincialYear.ToString("0.00").Replace(".00", String.Empty)" placeholder="$" >
                    </div>
                </div>                
            </div>

            <div class="form-group">
                <label for="sharedRevenueActivities">Select Activites</label>
                <select id="sharedRevenueActivities" name="sharedRevenueActivities" form="revenue2" multiple class="col-6 chosen-select form-control b" onchange="ToggleSharedRevenueTab2Button()" data-placeholder="Click here to select Activities" required>
                    @foreach (var ou in Model.Activities)
                    {
                        <option selected="@ou.Selected" value="@ou.Value">@ou.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <table id="sharedRevenueActivityTable" class="table">
                    @if (Model.RevenueData != null)
                    {
                        <thead>
                            <tr>
                                @foreach (var businessActivityData in Model.RevenueData.Activities)
                                {
                                    <th scope="col">@businessActivityData.Description</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var businessActivityData in Model.RevenueData.Activities)
                                {
                                    <th scope="row">
                                        <input class="form-control" type="number" form="revenue2" name="@businessActivityData.BusinessActivityTemplate" id="@businessActivityData.BusinessActivityTemplate" maxlength="3" value="@businessActivityData.Pecentage.ToString("0.00").Replace(".00", String.Empty)">
                                    </th>
                                }
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <div class="form-group">
                <div class="footer" id="submitTab4">
                    <button class="btn btn-success" id="btnSharedRevenueSubmit" onclick="SaveRevenueTabTwo('oldSummary')">Submit</button>
                </div>
                <div class="footer" id="additionalInfomation" style="display:none">
                    <button class="btn btn-primary" onclick="SaveRevenueTabTwo('additionalInfo')">Submit To Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane active" id="RevenueTabs3" role="tabpanel">
        <div class="container-fluid">
            @await Html.PartialAsync("/Views/Information/PrefabSections/SharedRevenue/AdditionalQuestions.cshtml", Model)
        </div>
    </div>
    </div>


