@model DealEngine.WebUI.Models.RevenueByActivityViewModel
    <form id="RevenueByActivityViewModel" class="is-valid">
        <ul id="sharedRevenTabs" class="nav nav-tabs d-sm-flex">
            <li class="nav nav-tabs Territory" id="SharedRevenueTab1"> <a class="nav-link active" href="#RevenueTabs1" data-toggle="tab"> Territory </a> </li>
            <li class="nav nav-tabs Activities" id="SharedRevenueTab2"> <a class="nav-link" href="#RevenueTabs2" data-toggle="tab"> Activities </a> </li>
            <li class="nav nav-tabs AdditionalInformation" id="SharedRevenueTab3"> <a class="nav-link" href="#RevenueTabs3" data-toggle="tab"> Additional Information </a> </li>
            <li class="nav nav-tabs Summary" id="SharedRevenueTab4"> <a class="nav-link" href="#RevenueTabs4" data-toggle="tab"> Summary </a> </li>
        </ul>
        <div id="RevenueTabs1" class="tab-pane active" role="tabpanel">
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label for="territories" class="label required">Please select the territories you trade in</label>
                    </div>
                    <div class="col-8">
                        <select id="territories" name="RevenueByActivityViewModel.Territories" class="chosen-select form-control b" multiple data-rule="BuildSharedTable" data-item="territories,territoriestable" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.Territories)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div id="RevenueByActivityViewModel.Territories">
                <div class="form-group">
                    <table id="territoriestable" class="table">
                        <thread class="thead-dark">
                            <tr>
                                <th>Territories</th>
                                <th>Percentage Amount (%)</th>
                            </tr>
                        </thread>
                    </table>
                </div>
                <div class="form-group">
                    <a class="btn btn-sm btn-primary text-light" onclick="ValidateSharedRevenueForm(1);">  Submit To Save  </a>
                </div>
            </div>
        </div>
        <div id="RevenueTabs2" class="tab-pane" role="tabpanel">
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label for="currentYear" class="label required">Estimate of current year</label>
                        @Html.TextBoxFor(m => m.CurrentYearTotal, new { @class = "form-control", @id = "currentYear", @type = "number", onchange = "OnChange(this.id, this.name)", @placeholder = "$" })
                    </div>
                    <div class="col-3">
                        <label for="lastFinancialYear">Last completed financial year</label>
                        @Html.TextBoxFor(m => m.LastFinancialYearTotal, new { @class = "form-control", @id = "lastFinancialYear", @type = "number", onchange = "OnChange(this.id, this.name)", @placeholder = "$" })
                    </div>
                    <div class="col-3">
                        <label for="nextFinancialYear">Estimate of next financial year</label>
                        @Html.TextBoxFor(m => m.NextFincialYearTotal, new { @class = "form-control", @id = "nextFinancialYear", @type = "number", onchange = "OnChange(this.id, this.name)", @placeholder = "$" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="activities">Select Activites</label>
                <select id="activities" name="RevenueByActivityViewModel.Activities" multiple class="chosen-select form-control b" data-rule="BuildSharedTable" data-item="activities,activitiestable" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var ou in Model.Activities)
                    {
                        <option selected="@ou.Selected" value="@ou.Value">@ou.Text</option>
                    }
                </select>
            </div>
            <div id="RevenueByActivityViewModel.Activities">
                <div class="form-group">
                    <table id="activitiestable" class="table">
                        <thread class="thead-dark">
                            <tr>
                                <th>Activities</th>
                                <th>Percentage Amount (%)</th>
                            </tr>
                        </thread>
                    </table>
                </div>
                <div class="form-group">
                    <a class="btn btn-sm btn-primary text-light" onclick="ValidateSharedRevenueForm(2);">  Submit To Save  </a>
                </div>
            </div>
        </div>
        <div id="RevenueTabs3" class="tab-pane" role="tabpanel">
            <div id="M692160" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="inspectionreportdetails">Please describe the nature of these reports and what they would be used for, (examples. Domestic pre-purchase property inspections, Commercial building Inspections for Earthquake Strengthening, Inspections relating to Building Feasibility reports)</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(t => t.AdditionalInformation.InspectionReportDetails, new { @class = "form-control", @id = "inspectionreportdetails", onchange = "OnChange(this.id, this.name)", @required = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label for="hasinspectionreportoptions">Please describe the nature of these reports and what they would be used for, (examples. Domestic pre-purchase property inspections, Commercial building Inspections for Earthquake Strengthening, Inspections relating to Building Feasibility reports)</label>
                            </div>
                            <div class="col-3">
                                <select id="hasinspectionreportoptions" name="RevenueByActivityViewModel.AdditionalInformation.HasInspectionReportOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                                    @foreach (var option in Model.AdditionalInformation.HasInspectionReportOptions)
                                    {
                                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="M692210" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="valuationdetails">Please state the types of Valuations provided, (examples. Domestic replacement valuation for insurance, Insurance valuation for Historic buildings)</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(t => t.AdditionalInformation.ValuationDetails, new { @class = "form-control", @id = "valuationdetails", onchange = "OnChange(this.id, this.name)", @required = "" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="qualificationdetails">Please provide details of the relevant qualifications held by the persons undertaking this Discipline</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(t => t.AdditionalInformation.QualificationDetails, new { @class = "form-control", @id = "qualificationdetails", onchange = "OnChange(this.id, this.name)", @required = "" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="hasdisclaimerreports">Do you include limitations of liability clauses and liability disclaimers in your reports?</label>
                        </div>
                        <div class="col-3">
                            <select id="hasdisclaimerreports" name="RevenueByActivityViewModel.AdditionalInformation.HasDisclaimerReportsOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                                @foreach (var option in Model.AdditionalInformation.HasDisclaimerReportsOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="M692140||M692130" hidden>
                <div class="form-group">
                    <div class="row">
                        <label>Please also advise whether your practice:</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="hasobservationservices">Was contracted to provide construction management or observation services?</label>
                        </div>
                        <div class="col-3">
                            <select id="hasobservationservices" name="RevenueByActivityViewModel.AdditionalInformation.HasObservationServicesOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                                @foreach (var option in Model.AdditionalInformation.HasObservationServicesOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="hasrecommendedcladding">Recommended the use of any cladding product?</label>
                        </div>
                        <div class="col-3">
                            <select id="hasrecommendedcladding" name="RevenueByActivityViewModel.AdditionalInformation.HasRecommendedCladdingOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                                @foreach (var option in Model.AdditionalInformation.HasRecommendedCladdingOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="hasstateschool">Has undertaken in the past 10 years any work on Ministry of Education State Schools (i.e Not Private, Integrated or Designated Character Schools)?</label>
                        </div>
                        <div class="col-3">
                            <select id="hasstateschool" name="RevenueByActivityViewModel.AdditionalInformation.HasStateSchoolOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                                @foreach (var option in Model.AdditionalInformation.HasStateSchoolOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="hasissuedcertificates">Issued practical completion certificates?</label>
                        </div>
                        <div class="col-3">
                            <select id="hasissuedcertificates" name="RevenueByActivityViewModel.AdditionalInformation.HasIssuedCertificatesOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                                @foreach (var option in Model.AdditionalInformation.HasIssuedCertificatesOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="S" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="otherdetails">You have specified Other Work not listed above, please provide further details:</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(t => t.AdditionalInformation.OtherDetails, new { @class = "form-control", @id = "otherdetails", onchange = "OnChange(this.id, this.name)", @required = "" })
                        </div>
                    </div>
                </div>
            </div>
            <div id="M692280" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="rebuilddetails">If you have specified 20% or more of your fee income earned in the next 12 months to come from work related to the Canterbury earthquake rebuild work, please provide details:</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(t => t.AdditionalInformation.RebuildDetails, new { @class = "form-control", @id = "rebuilddetails", onchange = "OnChange(this.id, this.name)", @required = "" })
                        </div>
                    </div>
                </div>
            </div>
            <div id="M696500" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="otherprojectmanagementdetails">Please provide details of your Other Project Management activities:</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(t => t.AdditionalInformation.OtherProjectManagementDetails, new { @class = "form-control", @id = "otherprojectmanagementdetails", onchange = "OnChange(this.id, this.name)", @required = "" })
                        </div>
                    </div>
                </div>
            </div>
            <div id="M696600" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="nonprojectmanagementdetails">Please provide details of your non Project Management activities:</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(t => t.AdditionalInformation.NonProjectManagementDetails, new { @class = "form-control", @id = "nonprojectmanagementdetails", onchange = "OnChange(this.id, this.name)", @required = "" })
                        </div>
                    </div>
                </div>
            </div>
            <div id="E" hidden>
                <div class="form-group">
                    <label>Please provide your best estimate of a percentage breakdown of your revenue from each of the following industry activities:</label>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-3">
                            <label>Please provide your best estimate of a percentage breakdown of your revenue from each of the following industry activities:</label>
                        </div>
                        <div class="col-9">
                            <table id="constructiontable">
                                <tbody>
                                    <tr>
                                        <td>
                                            Commercial
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(t => t.AdditionalInformation.ConstructionCommercialDetails, new { @id = "constructioncommercialdetails", @class = "form-control", onchange = "OnChange(this.id, this.name)", @placeholder = "%", @type = "number" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Dwellings
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(t => t.AdditionalInformation.ConstructionDwellingDetails, new { @id = "constructionindustrialdetails", @class = "form-control", onchange = "OnChange(this.id, this.name)", @placeholder = "%", @type = "number" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Industrial
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(t => t.AdditionalInformation.ConstructionIndustrialDetails, new { @id = "constructionindustrialdetails", @class = "form-control", onchange = "OnChange(this.id, this.name)", @placeholder = "%", @type = "number" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Infrastructure
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(t => t.AdditionalInformation.ConstructionInfrastructureDetails, new { @id = "constructioninfrastructuredetails", @class = "form-control", onchange = "OnChange(this.id, this.name)", @placeholder = "%", @type = "number" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            School
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(t => t.AdditionalInformation.ConstructionSchoolDetails, new { @id = "constructionschooldetails", @class = "form-control", onchange = "OnChange(this.id, this.name)", @placeholder = "%", @type = "number" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-sm btn-primary text-light" onclick="ValidateSharedform();">  Submit </a>
            </div>
        </div>
    </form>
@*<div id="RevenueTabs2" class="tab-pane" role="tabpanel">
    <div class="container-fluid">
        <form class="client-form">
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label for="currentYear">Estimate of current year</label>
                        <input id="currentYear" name="currentYear" type="number" class="form-control" form="revenue2" placeholder="$" required>
                    </div>
                    <div class="col-3">
                        <label for="lastFinancialYear">Last completed financial year</label>
                        <input id="lastFinancialYear" name="lastFinancialYear" type="number" form="revenue2" class="form-control" placeholder="$">
                    </div>
                    <div class="col-3">
                        <label for="nextFinancialYear">Estimate of next financial year</label>
                        <input id="nextFinancialYear" name="nextFinancialYear" type="number" form="revenue2" class="form-control" placeholder="$">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="sharedRevenueActivities">Select Activites</label>
                <select id="sharedRevenueActivities" form="revenue2" name="Activities" multiple class="col-6 chosen-select form-control b" onchange="ToggleSharedRevenueTab2Button()" data-placeholder="Click here to select Activities" required>
                    @foreach (var ou in Model.Activities)
                    {
                        <option selected="@ou.Selected" value="@ou.Value">@ou.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <table id="sharedRevenueActivityTable" class="table">
                </table>
            </div>

            <div class="form-group">
                <div class="footer" id="submitTab4">
                    <input type="submit" value="Submit" class="btn btn-success" id="btnSharedRevenueSubmit" onclick="SaveRevenueTabTwo('newSummary')">
                </div>
                <div class="footer" id="additionalInfomation" style="display:none">
                    <button class="btn-primary btn" onclick="SaveRevenueTabTwo('additionalInfo')">Submit To Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="RevenueTabs3" class="tab-pane" role="tabpanel">
    <div class="container-fluid">
        @await Html.PartialAsync("/Views/Information/PrefabSections/SharedRevenue/AdditionalQuestions.cshtml", Model.AdditionalInformation)
    </div>
</div>
<div id="RevenueTabs4" class="tab-pane" role="tabpanel">
    <form class="client-form">
        <div class="form-group">
            <div class="row">
                <div class="col-3">
                    <label for="sharedcurrentYear">Estimate of current year</label>
                    <input id="sharedcurrentYear" name="sharedcurrentYear" type="number" class="form-control" readonly value="@Model.CurrentYearTotal.ToString("0.00").Replace(".00", String.Empty)" placeholder="$" required>
                </div>
                <div class="col-3">
                    <label for="sharedlastFinancialYear">Last completed financial year</label>
                    <input id="sharedlastFinancialYear" name="sharedlastFinancialYear" type="number" readonly class="form-control" value="@Model.LastFinancialYearTotal.ToString("0.00").Replace(".00", String.Empty)" placeholder="$">
                </div>
                <div class="col-3">
                    <label for="sharednextFinancialYear">Estimate of next financial year</label>
                    <input id="sharednextFinancialYear" name="sharednextFinancialYear" type="number" readonly class="form-control" value="@Model.NextFincialYearTotal.ToString("0.00").Replace(".00", String.Empty)" placeholder="$">
                </div>
            </div>
        </div>
        <div class="form-group">
            <table id="ListSharedRevenueTerritories" class="table">
            </table>
        </div>
        <div class="form-group">
            <table id="ListSharedRevenueActivities" class="table">
            </table>
        </div>
        <div class="form-group">
            <div class="footer" id="UpdateSharedActivity">
                <button class="btn-primary btn" onclick="UpdateSharedRevenue()">Change</button>
            </div>
        </div>
    </form>
</div>*@

<script type="text/javascript">
            //$(function () {
            ////get all forms on load            
            //var forms = document.getElementsByClassName('is-valid');
            //var formIds = [];
            //for (var f = 0; f < forms.length; f++) {
            //    //get each form id
            //    formIds.push(forms[f].id);
            //}
            //for (var i = 0; i < formIds.length; i++) {
            //    var form = document.getElementById(formIds[i]);
            //    for (var e = 0; e < form.length; e++) {
            //        var element = document.getElementById(form[e].id);
            //        OnChange(element.id, element.name);
            //        //after first load change to default view
            //        element.classList.remove("is-valid");
            //        element.classList.remove("is-invalid");
            //        element.classList.add("is-up");
            //    }
            //    form.classList.remove("is-valid");
            //    form.classList.add("needs-validation");
            //}
            //});

    //function SharedRevenueOnChange(Id, Name) {
    //    var element = document.getElementById(Id);
    //    var value = element.value;
    //    var rule = element.getAttribute('data-rule');
    //    var ruleId = element.getAttribute('data-item');
    //    var Tag = element.tagName;

    //    if (Tag == "SELECT") {
    //        SelectValidation(element, value);
    //    } else if (Tag == "INPUT") {
    //        InputValidation(element, value);
    //    }
    //    debugger;
    //    //trigger
    //    TriggerHandler(Name, value, dataRule, dataId)
    //} 

    


</script>
