@model TechCertain.WebUI.Models.Permission.SelectRoleEditorViewModel
@Html.HiddenFor(model => model.RoleId)

<div class="form-group">
	<div class="col-md-5">
		<div class="checkbox">
			<label>
				@Html.CheckBoxFor(model => model.Selected, new { @class = "checkbox style-0" })
				<span>Checkbox 1</span>
				<input class="checkbox style-0" checked="checked" type="checkbox">
				<span>@Html.DisplayFor(model => model.RoleName)</span>
				@Html.CheckBoxFor(model => model.Selected)
				<span>@Html.DisplayFor(model => model.RoleName)</span>
			</label>
		</div>
	</div>
	<div class="col-md-7">
		<div class="checkbox">
			<label>
	        	@Html.DisplayFor(model => model.Description)
			</label>
		</div>
	</div>
</div>


@*<tr>
    <td style="text-align:center">
        @Html.CheckBoxFor(model => model.Selected, new { @class = "checkbox style-0" })
    </td>
    <td style="padding-right:20px">
        @Html.DisplayFor(model => model.RoleName)
    </td>
    <td style="padding-right:20px">
        @Html.DisplayFor(model => model.Description)
    </td>
</tr>*@
