@model DealEngine.WebUI.Models.Programme.ClientProgrammeInfoViewModel


<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER " -->
                <i class="fa-fw fa fa-file-o"></i><a href="~/Programme/MyProgrammes/@Model.Id"> Programmes</a>
                <span>
                    <a href="~/Programme/TermSheetTemplate/@Model.Id"> > Package Term Sheet</a>
                    <a href="~/Programme/ManageClient/@Model.Id"> > Programme Owner</a>
                    <a onclick="location.href='@Url.Action("OwnerProgrammes", "Programme",new {ownerId=@Model.OwnerId, Id =@Model.Id })'"> > Owner Programmes</a>

                    <a  onclick="location.href='@Url.Action("ClientProgrammeDetails", "Programme",new {programmeId=@Model.ProgramId, Id =@Model.Id,ownerId=@Model.OwnerId })'"> > Owner Details</a>

                    > Edit Owner Details
                </span>
            </h1>
        </div>
        <!-- end col -->
    </div>
    <div>
        <a onclick="location.href='@Url.Action("ClientProgrammeDetails", "Programme",new {programmeId=@Model.ProgramId, Id =@Model.Id,ownerId=@Model.OwnerId })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="glyphicon glyphicon-circle-arrow-left"></span> </a>

    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-2" data-widget-editbutton="true" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa--envelope txt-color-white"></i> </span>
                        <h2>Edit Owner Details </h2>
                    </header>
                    <form id="ProdForm">

                        <div class="form-group">
                            <label for="MaxSumInsured">Organization Name</label> <input type="text" class="form-control " id="OrgName" name="OrgName" />

                        </div>

                    <div class="form-group">
                        <i class="fa fa-phone-square"></i>
                        <label for="MaxSumInsured">phone</label>
                        <input type="text" class="form-control" id="OrgPhone" name="OrgPhone" />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-envelope"></i>
                        <label for="Excess">Contact Email</label>
                        <input type="text" class="form-control" id="OrgEmail" name="OrgEmail">
                    </div>
                    </form>

                    <input type="Reset" value="Submit" class="btn btn-success" id="btnSubmit">

                </div>
            </article>
        </div>
    </section>
</div>



@section pagespecific {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                debugger;

                var OrgName = $("#OrgName").val();
                var OrgPhone = $("#OrgPhone").val();
                var OrgEmail = $("#OrgEmail").val();
                var OwnerId = "@Model.OwnerId";



                var prodData = {
                    "Name": OrgName,
                    "Phone": OrgPhone,
                    "Email": OrgEmail,
                    "OwnerId": OwnerId
                };

                $.ajax({
                    type: "Post",
                    data: JSON.stringify({ programme_id: "@Model.ProgramId", clientviewmodel: prodData, id:"@Model.Id" }),
                    url: "/Programme/SaveClientProgrammeDetails",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        debugger;

                        alert("Saved Successfully!");
                        //location.reload(true);

                        location.href='@Url.Action("OwnerProgrammes", "Programme",new {Id =@Model.Id , ownerId=@Model.OwnerId})'
                       }
                });

            });





        });

    </script>
    }
