@model DealEngine.WebUI.Models.ProgrammeItem

<table id="tableProgrammeItems"
       class="table table-striped" width="100%"
       data-show-columns="true"
       data-pagination="true"
       data-search="true"      
       data-show-jump-to="true">
    <thead>
        <tr>
            <th data-field="name" data-sortable="true">Client Name</th>            
            <th data-field="status" data-sortable="true">Status</th>
            <th data-sortable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Deals)
        {
            <tr>
                @if (item.SubClientProgrammes.Count > 0)
                {
                    <td>
                        <div class="accordion" id="subsystemAccodion">
                            <div class="card">
                                <div class="card-header" id="heading_@item.Id">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_@item.Id" aria-expanded="true" aria-controls="collapse_@item.Id">
                                            Master Client Programme
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapse_@item.Id" class="collapse" aria-labelledby="heading_@item.Id" data-parent="#subsystemAccodion">
                                    <div class="card-body">
                                        @(item.Name + "  (Reference: " + item.ReferenceId + ") ")
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading_@item.SubClientProgrammes.FirstOrDefault().Id">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_@item.SubClientProgrammes.FirstOrDefault().Id" aria-expanded="false" aria-controls="collapse_@item.SubClientProgrammes.FirstOrDefault().Id">
                                            Subclients
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse_@item.SubClientProgrammes.FirstOrDefault().Id" class="collapse" aria-labelledby="heading_@item.SubClientProgrammes.FirstOrDefault().Id" data-parent="#subsystemAccodion">
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>
                                                        Client
                                                    </th>
                                                    <th>
                                                        Status
                                                    </th>
                                                    <th>
                                                        View
                                                    </th>
                                                    <th>
                                                        <a class="btn btn-primary btn-xs" href="~/Home/ViewSubClientProgrammes?clientProgrammeId=@item.Id">View all</a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var client in item.SubClientProgrammes)
                                                {
                                                    <tr>
                                                        <td>
                                                            @client.Owner.Name
                                                        </td>
                                                        <td>
                                                            @client.InformationSheet.Status
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-primary btn-xs" href="~/Home/ViewSubClientProgramme?subClientProgrammeId=@client.Id">View</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    <td>@(item.Name + "  (Reference: " + item.ReferenceId + ") ") </td>
                }

                <td>@(item.Status + "  (" + item.GetStatusDisplay(item.AgreementStatus) + ") ")</td>
                <td>
                    <div class="btn-group btn-secondary" role="group" aria-label="Basic example">
                        @if (item.Status.StartsWith("Bound"))
                        {
                            <a class="btn btn-primary btn-sm" href="/Agreement/ViewAcceptedAgreement/@item.Id"><i class="fa fa-search"></i> View</a>
                            if (Model.CurrentUserIsBroker == "True" || Model.CurrentUserIsInsurer == "True" || Model.CurrentUserIsTC == "True")
                            {
                                <a class="btn btn-primary btn-sm" href="/Agreement/ViewAcceptedAgreement/@item.Id"><i class="fa fa-edit"></i> Manage</a>
                            }
                            if (item.Status == "Bound and invoiced" && item.ProgrammeAllowUsesChange && item.NextInfoSheet == false)
                            {
                                <a href="#myChangeModal" aria-hidden="true" class="btn btn-primary btn-sm" data-toggle="modal" data-dealitem-id="@item.Id"><i class="fa fa-edit"></i> Update</a>
                            }

                        }
                        else if (item.Status == "Started")
                        {
                            <a class="btn btn-primary btn-sm" href="/Information/EditInformation/@item.Id"><i class="fa fa-arrow-right"></i> Go</a>
                        }
                        else if (item.Status.StartsWith("Submitted"))
                        {
                            <a class="btn btn-primary btn-sm" href="/Information/EditInformation/@item.Id"><i class="fa fa-arrow-right"></i> Go</a>
                            if (Model.CurrentUserIsBroker == "True" || Model.CurrentUserIsInsurer == "True" || Model.CurrentUserIsTC == "True")
                            {
                                <a class="btn btn-primary btn-sm" href="/Information/Unlock/@item.Id"><i class="fa fa-unlock"></i> Unlock</a>
                    @*<a href="#myUnlockModal" aria-hidden="true" class="btn btn-primary btn-sm" data-toggle="modal" data-dealitem-id="@item.Id"><i class="fa fa-edit"></i> Unlock</a>*@

                            }
                            if (Model.CurrentUserIsBroker == "True" || Model.CurrentUserIsInsurer == "True" || Model.CurrentUserIsTC == "True")
                            {
                                <a class="btn btn-primary btn-sm" href="/Agreement/ViewAcceptedAgreement/@item.Id"><i class="fa fa-edit"></i> Manage</a>
                            }
                        }
                        else if (item.Status == "Not Started")
                        {
                            <a class="btn btn-primary btn-sm" href="/Information/EditInformation/@item.Id"><i class="fa fa-arrow-right"></i> Go</a>
                        }
                        else if (item.Status == "Not Taken Up")
                        {
                            <a class="btn btn-primary btn-sm" href="/Information/Resume/@item.Id"><i class="fa fa-unlock"></i> Resume</a>
                            if (Model.CurrentUserIsBroker == "True" || Model.CurrentUserIsInsurer == "True" || Model.CurrentUserIsTC == "True")
                            {
                                <a class="btn btn-primary btn-sm" href="/Information/Unlock/@item.Id"><i class="fa fa-unlock"></i> Unlock</a>
                            }
                            if (Model.CurrentUserIsBroker == "True" || Model.CurrentUserIsInsurer == "True" || Model.CurrentUserIsTC == "True")
                            {
                                <a class="btn btn-primary btn-sm" href="/Agreement/ViewAcceptedAgreement/@item.Id"><i class="fa fa-edit"></i> Manage</a>
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

