@model System.Data.DataTable
@using System.Data

<h3>@ViewBag.Title</h3>

<li class="nav-item">

    <a href="@("Export File")" >Export File</a>
</li>


@*<button onclick="viewreport()"> view rport </button>*@
<br />
<div id='control_sh'>

    @foreach (System.Data.DataColumn col in Model.Columns)
    {
        <input type="checkbox" class="hide_show"><span>@col.Caption</span>
    }

</div>
<br />

<div class="container">
    <form method="post" action="~/Home/GetReportView" novalidate>
        <div class="card-footer">
            <button class="btn btn-primary btn-xs" id="ReportView" onclick="getReport()">Export Report</button>
        </div>
        <a href="@("Export File")">Export File</a>

        <input type="text" class="form-control" value="@ViewBag.reportName" name="queryselect" hidden>

        <input type="text" class="form-control" value="@ViewBag.ProgrammeId" name="ProgrammeId" hidden>
        <input name="IsReport" id="IsReport" hidden />
        <div>
            @if (Model != null)
            {
                <table border="1" width="80%" id="ReportAnalysis">
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn col in Model.Columns)
                            {
                                <th id="@col.Caption">@col.Caption</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.Rows)
                        {
                            <tr>
                                @foreach (var cell in row.ItemArray)
                                {

                                    if (cell != null)
                                    {
                                        <td>@cell</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }


                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>

    </form>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        //var table = $('#ReportAnalysis').DataTable();

        $("#hide_show_all").on("change", function () {
            var hide = $(this).is(":checked");
            $(".hide_show").prop("checked", hide);

            if (hide) {
                $('#ReportAnalysis tr th').hide(100);
                $('#ReportAnalysis tr td').hide(100);
            } else {
                $('#ReportAnalysis tr th').show(100);
                $('#ReportAnalysis tr td').show(100);
            }
        });

        $(".hide_show").on("change", function () {
            debugger;
            var hide = $(this).is(":checked");

            var all_ch = $(".hide_show:checked").length == $(".hide_show").length;

         //   $("#hide_show_all").prop("checked", all_ch);

            var ti = $(this).index(".hide_show");

            $('#ReportAnalysis tr').each(function () {
                if (hide) {
                    $('td:eq(' + ti + ')', this).hide(100);
                    $('th:eq(' + ti + ')', this).hide(100);
                } else {
                    $('td:eq(' + ti + ')', this).show(100);
                    $('th:eq(' + ti + ')', this).show(100);
                }
            });

        });
        $('#ReportAnalysis tfoot th').each(function () {
            debugger;
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        //$('#myInput').keyup(function () {
        //    table.draw();
        //});
        $('input.column_filter').on('keyup click', function () {
            filterColumn($(this).parents('tr').attr('data-column'));
        });

    });

    function getReport() {
        debugger;
        $('#IsReport').val("True");

    };

      function viewreport() {
          debugger;
                var TableData = new Array();
               $('#ReportAnalysis tr').each(function (row, tr) {
                   TableData = TableData + $(tr).find('td:eq(0)').text() + "-" + $(tr).find('td:eq(1)').text() + ",";                    
               });
               var postData = { values: TableData };                
               
               $.ajax({
                   url: "/Home/ExportExcel",
                   type : "POST",
                   data : postData,
                   //dataType: "json",
                   //traditional: true,
                   //contentType: "application/json; charset=utf-8",
                   success: function (data) {
 
                       // perform your save call here
 
                       if (data.status == "Success") {
                           alert("Done");
                       } else {
                           alert("Error occurs on the Database level!");
                       }
                   },
                   error: function () {
                       //alert("An error has occured!!!");					   
                   }
               });

            }
</script>