@model DealEngine.WebUI.Models.ProductModels.ProductDescriptionVM

<div class="tab-pane active" id="tab1">
	<br/>
    <h3><strong>Setup </strong> - New Product</h3>
    <div class="row">
    	@Html.HiddenFor(m => m.OriginalProductId)
    	@Html.HiddenFor(m => m.CreatorOrganisation)
    	@Html.HiddenFor(m => m.OwnerOrganisation)
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label><strong>Product Name</strong></label>
                <div class="input-group" style="width:100%">
                    <span class="input-group-addon" ><i class="fa fa-file-text fa-lg fa-fw"></i></span>
                    @Html.TextBoxFor(t => t.Name, new { placeholder = "Product Name", @class = "input-lg form-control" })

                    @*@Html.TextBoxFor(t => t.Name, new { placeholder = "Product Name", @class = "input-lg form-control" })*@
                </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label><strong>Product Description</strong></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-file-text fa-lg fa-fw"></i></span>
                    @Html.TextBoxFor(t => t.Description, new { placeholder = "Product Description", @class = "input-lg form-control" })

                </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label><strong>Select Base Product</strong></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-file-text fa-lg fa-fw"></i></span>
					@Html.DropDownListFor(m => m.SelectedBaseProduct, Model.BaseProducts , new {@class = "input-lg form-control" })
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label><strong>Select Languages</strong></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-globe fa-lg fa-fw"></i></span>
                    @Html.ListBoxFor(m => m.SelectedLanguages, Model.Languages, new {  @class = "listbox", style = "width: 80%;" })

                    @*@Html.ListBoxFor(m => m.FruitIds, Model.Fruits, new { @class = "listbox" })*@

                    @*@Html.ListBoxFor(m => m.SelectedLanguages, Model.Languages as MultiSelectList);*@
                    @*@Html.ListBoxFor(m => m.SelectedLanguages, (MultiSelectList)Model.LanguagesList)*@
                    @*@Html.ListBoxFor(model => model.SelectedLanguages, new MultiSelectList(Model.Languages, "Value", "Text", Model.SelectedLanguages), new { @class = "SelectedBox", Size = 10 })*@
                    @*@Html.ListBoxFor(model => model.SelectedLanguages, new SelectList(Model.Languages) as MultiSelectList, "Value", "Text")))*@
                    @*@Html.ListBoxFor(m => m.SelectedLanguages, (IEnumerable<SelectListItem>)Model.Languages as SelectList, new { id = "multiple", @class = "cselect", style = "width: 80%;" })*@

                </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<div class="smart-form">
					<label class="checkbox">
						@Html.CheckBoxFor(m => m.Public)
						<i></i>I want this product to be publicly available.
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
