@model DealEngine.WebUI.Models.Product.ProductSettingsVM

<div class="tab-pane" id="tab3">
	<br/>
	<h3><strong>Settings </strong> - Configure Product</h3>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label><strong>Select Documents</strong></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-file-text fa-lg fa-fw"></i></span>
					@Html.ListBoxFor(m => m.SelectedDocuments, Model.Documents)
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label><strong>Select Underwriting Information Sheet</strong></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-file-text fa-lg fa-fw"></i></span>
					@Html.DropDownListFor(m => m.SelectedInformationSheet, Model.InformationSheets)
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label><strong>Select a Product Owner</strong></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-file-text fa-lg fa-fw"></i></span>
					@Html.DropDownListFor(m => m.SelectedOwnerOrganisation, Model.PossibleOwnerOrganisations)
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label><strong>Attach to Insurance Programme</strong></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-file-text fa-lg fa-fw"></i></span>
					@Html.DropDownListFor(m => m.SelectedInsuranceProgramme, Model.InsuranceProgrammes)
					@*<span class="input-group-addon">@Html.Bootstrap().Icon(new Icon("fa fa-question-circle fa-lg fa-fw")).Tooltip(new Tooltip("Quick tooltip").Placement("left"))</span>*@
				</div>
			</div>
		</div>
	</div>
</div>

