@model MarinaInterestedPartiesViewModel

<div class="container">
    <form method="POST" action="~/Home/EditClient" novalidate>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card-header">
                    <div class=" form-group">
                        <label>
                            Select Water Location
                            <select class="form-control b" Id="OrganisationId" onchange="GetOwner()">
                                <option selected="selected" value="">-- Select --</option>
                                @foreach (var client in Model.Owners)
                                    {
                                        <option value="@client.Value">@client.Text</option>
                                    }
                                
                            </select>
                        </label>
                    </div>
                    @*
                    <div class="card-body">
                        <div class="form-group">
                            <a class="btn btn-primary btn-xs" onclick="this.href='/Home/GetClientDetails?OwnerId=' + document.getElementById('ClientOwnerId').value ">Edit Users </a>
                            @Html.HiddenFor(Model => Model.Organisation.Id)
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Organisation.Name, new { @class = "form-control", @id="Organisation.Name", @required="" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Organisation.Email, new { @class = "form-control", @id="Organisation.Email", @required = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                    *@
                    <div class="card-footer">
                        <button class="btn btn-primary btn-xs" type="submit">Update</button>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card-header">
                    <div class=" form-group">
                        <label>
                            Select Financial Interested Party
                            <select class="form-control b" Id="OrganisationId" onchange="GetOwner()">
                                <option selected="selected" value="">-- Select --</option>
                                @*@foreach (var client in Model.Owners)
                                    {
                                        <option value="@client.Value">@client.Text</option>
                                    }*@
                            </select>
                        </label>
                    </div>         
                    <div class="card-body"> @*
                        <div class="form-group">
                            <a class="btn btn-primary btn-xs" href="javascript:;" onclick="this.href='/Home/GetClientDetails?OwnerId=' + document.getElementById('ClientOwnerId').value ">Edit Users </a>
                            @Html.HiddenFor(Model => Model.Organisation.Id)
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Organisation.Name, new { @class = "form-control", @id="Organisation.Name", @required="" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Organisation.Email, new { @class = "form-control", @id="Organisation.Email", @required = "" })
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="card-footer">
                        <button class="btn btn-primary btn-xs" type="submit">Update</button>
                    </div>                
                </div>
            </div>
        </div>
    </form>
</div>
@section pagespecific {
    <script type="text/javascript">

        function GetOwner() {
            var organisationId = document.getElementById('OrganisationId');
            var Id = organisationId.options[organisationId.selectedIndex].value;
            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetOrganisation", "Organisation")',
                data: { ID: Id }
            })
                .done(function (data) {
                    var OutPut = JSON.parse(data);
                    PopulateOrganisationView("", OutPut);

                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    debugger;
                    console.log(errorThrown);
                });

        }
    </script>

}
