@model TechCertain.WebUI.Models.Agreement.ViewAgreementViewModel

    <div class="widget-body widget-hide-overflow">
        @Html.HiddenFor(m => m.ClientProgrammeId)
        @Html.HiddenFor(m => m.Sheetstatus)


        @if (Model.EditEnabled)
        {
            <div class="row padding-10">
                <div class="col col-12">
                    <!--<button href="~/Policy/ViewDocumentTemplate?id=09485282-29a6-4dff-88ef-a5b40160eb07" enabled="false" class="btn btn-primary btn-sm">View Terms</button>-->
                    <!--<a href="~/Information/ViewInformation/@Model.InformationSheetId" class="btn btn-primary btn-sm">View Information</a>-->
                    <!--<button href="~/Policy/RenderDocument" enabled="false" class="btn btn-primary btn-sm">View Agreement Documents</button>-->
                    @foreach (var roles in Model.UserRoles)
                    {
                        if (roles.Equals("CanViewAllInformation") && Model.Status.Equals("Bound"))
                        {
                            <a href="~/Agreement/EditAgreement/@Model.ClientAgreementId" class="btn txt-color-white bg-color-green btn-sm"><i class="fa fa-edit"></i> Edit Agreement</a>
                            <a href="~/Agreement/ViewAgreementRule/@Model.ClientAgreementId" class="btn txt-color-white bg-color-green btn-sm"><i class="fa fa-edit"></i> Edit Agreement Rules</a>
                            <a href="~/Agreement/ViewAgreementEndorsement/@Model.ClientAgreementId" class="btn txt-color-white bg-color-green btn-sm"><i class="fa fa-edit"></i> Edit Agreement Endorsements</a>
                            <a href="~/Agreement/EditTerms/@Model.ClientAgreementId" class="btn txt-color-white bg-color-green btn-sm"><i class="fa fa-edit"></i> Edit Terms</a>
                            <a href="@Url.Action("AuthoriseReferrals", "Agreement", new { sheetId = @Model.ClientProgrammeId,informationsheet=@Model.InformationSheetId, agreementId = @Model.ClientAgreementId })" class="btn txt-color-white bg-color-green btn-sm"><i class="fa fa-edit"></i> Authorise Referrals</a>
                        }
                    }

                </div>
            </div>
        }

        @if (Model.Advisory != null)
        {

            <div class="container modal-lg" id="advisoryModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Advisory</h5>
                        </div>
                        <div class="modal-body">
                            @Html.Raw(Model.Advisory)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="advisoryModal" onclick="AdvisoryModelClose('advisoryModal')">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="advisoryModal" onclick="AdvisoryModelClose('advisoryModal')">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        @Html.HiddenFor(m => m.ClientAgreementId)
        @Html.HiddenFor(m => m.InformationSheetStatus)

        @foreach (var item in Model.InsuranceRoles)
        {
            <fieldset>
                <div class="row">

                    <section class="col col-3 font-md">
                        <strong>
                            @item.RoleName:
                        </strong>
                    </section>
                    <section class="col col-9 font-md">
                        <strong>
                            @item.Name
                        </strong>
                    </section>

                </div>
                @*<div class="row">
                    <section class="col col-3"><strong>Managed By: </strong></section>
                    <section class="col col-3">@Html.Label(item.ManagedBy)</section>
                    <section class="col col-3"><strong>Email: </strong></section>
                    <section class="col col-3"><a href="mailto:@item.Email">@item.Email</a></section>
                </div>*@
            </fieldset>
        }

        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <strong>Product:</strong>
                </section>
                <section class="col col-9">
                    @Html.DisplayFor(m => m.ProductName)
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <strong>Policy Start Date:</strong>
                </section>
                <section class="col col-9">
                    @Html.DisplayFor(m => m.StartDate) 4pm local time
                    @*@if (Model.InformationSheetStatus != "Submitted" && Model.InformationSheetStatus != "Bound")
                    {*@
                    @*<a href="#getStartDate" style="color:green">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>*@
                    @if (Model.NextInfoSheet == false)
                    {
                        <a style="color:green;font-size:24px" onclick="event.preventDefault;$('#getStartDate').show();"><i class="fa fa-calendar"></i></a>

                    }

                    @*}*@

                </section>
            </div>
              
            <div class="row">
                <section class="col col-3">
                    <strong>Policy End Date:</strong>
                </section>
                <section class="col col-9">
                    @Html.DisplayFor(m => m.EndDate) 4pm local time
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <strong>@Html.DisplayNameFor(m => m.Status):</strong>
                </section>
                <section class="col col-9">
                    @Html.DisplayFor(m => m.Status)
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <strong>Client Number #:</strong>
                </section>
                <section class="col col-9">
                    @Html.DisplayFor(m => m.ClientNumber)
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <strong>Insurer Policy #:</strong>
                </section>
                <section class="col col-9">
                    @Html.DisplayFor(m => m.PolicyNumber)
                </section>
            </div>
        </fieldset>

        @if (!Model.IsMultipleOption)
        {
            <fieldset>
                <div class="row">
                    <section class="col col-12 font-md">
                        <strong>Inclusions</strong>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-3 font-md">
                        <strong>Risk</strong>
                    </section>
                    <section class="col col-9 font-md">
                        <strong>Terms</strong>
                    </section>

                </div>
                @foreach (var item in Model.Inclusions)
                {
                    <div class="row">
                        <section class="col col-3">
                            @item.RiskName:
                        </section>
                        <section class="col col-9">
                            @Html.Raw(@item.Inclusion)
                        </section>
                    </div>

                }

                @if (Model.HasBoats && (Model.Boats.Count() > 0))
                {
                    <!-- content goes here -->
                    <table class="table table-bordered table-responsive-md table-striped text-center" id="boatTable">

                        <tr>
                            <th class="text-center" width="13%">Vessel Name</th>
                            <th class="text-center" width="13%">Vessel Make</th>
                            <th class="text-center" width="13%">Vessel Model</th>
                            <th class="text-center" width="13%">Vessel Sum Insured</th>
                            <th class="text-center" width="13%">Vessel Excess</th>
                        </tr>
                        @foreach (var item in Model.BVTerms)
                        {
                            <tr class="clickable-row">
                                <td class="pt-3-half" width="13%" contenteditable="true" id="BoatName">
                                    @item.BoatName
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.BoatMake
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.BoatModel
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                            </tr>

                        }
                    </table>

                }

                <div class="row">
                    &nbsp;<br />
                </div>

                @if (Model.HasVehicles && (Model.Vehicles.Count() > 0))
                {
                    <!-- content goes here -->
                    <table class="table table-bordered table-responsive-md table-striped text-center" id="vehicleTable">
                        <tr>
                            <th class="text-center" width="13%">Trailer Registration</th>
                            <th class="text-center" width="13%">Trailer Year</th>
                            <th class="text-center" width="13%">Trailer Make</th>
                            <th class="text-center" width="13%">Trailer Model</th>
                            <th class="text-center" width="13%">Trailer Sum Insured</th>
                        </tr>
                        @foreach (var item in Model.Vehicles)
                        {
                            <tr class="clickable-row">
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.Registration
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.Year
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.Make
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.VehicleModel
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.SumInsured.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>

                            </tr>
                        }
                    </table>

                }

            </fieldset>

            <fieldset>
                <div class="row">
                    <section class="col col-12 font-md">
                        <strong>Exclusions</strong>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-3 font-md">
                        <strong>Risk</strong>
                    </section>
                    <section class="col col-9 font-md">
                        <strong>Terms</strong>
                    </section>

                </div>
                @foreach (var item in Model.Exclusions)
                {
                    <div class="row">
                        <section class="col col-3">
                            @item.RiskName:
                        </section>
                        <section class="col col-9">
                            @Html.Raw(@item.Exclusion)
                        </section>
                    </div>

                }

            </fieldset>

            <fieldset>
                <div class="row">
                    <section class="col col-12 font-md">
                        <strong>Premium</strong>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-3 font-md">
                        <strong>Risk</strong>
                    </section>
                    <section class="col col-3 font-md">
                        <strong>Premium Adjustment</strong>
                    </section>
                    <section class="col col-3 font-md">
                        <strong>FSL</strong>
                    </section>
                    <section class="col col-3 font-md">
                        <strong>Premium Total</strong>
                    </section>

                </div>
                @foreach (var item in Model.RiskPremiums)
                {

                    <div class="row">
                        <section class="col col-3">
                            @item.RiskName:
                        </section>
                        <section class="col col-3">
                            @item.Premium
                        </section>
                        <section class="col col-3">
                            @item.FSL
                        </section>
                        <section class="col col-3">
                            @item.TotalPremium
                        </section>
                    </div>

                }

                @*<div class="row">
                    <section class="col col-3">
                        <strong>@Html.DisplayNameFor(m => m.BrokerageRate):</strong>
                    </section>
                    <section class="col col-9">
                        @Model.BrokerageRate
                    </section>
                </div>*@

                <div class="row">
                    <section class="col col-3">
                        <strong>@Html.DisplayNameFor(m => m.AdministrationFee):</strong>
                    </section>
                    <section class="col col-3">
                        @Model.AdministrationFee
                    </section>
                </div>
            </fieldset>
        }
        else
        {
    <fieldset>

        <div class="row">
            <section class="col col-12 font-md">
                <strong>Cover Options</strong>
            </section>
        </div>

        <div class="row">

            <table class="table table-bordered table-responsive-md table-striped text-center" id="boatTable">

                <tr>
                    <th class="text-center" width="10%"></th>
                    <th class="text-center" width="20%">Risk Name</th>
                    <th class="text-center" width="20%">Limit</th>
                    <th class="text-center" width="20%">Excess</th>
                    <th class="text-center" width="20%">Premium</th>
                </tr>
                @foreach (var item in Model.MultiCoverOptions)
                {
                    <tr class="clickable-row">
                        <td>
                            <input type="radio" dirname=""
                                   id="@item.TermId" name="@item.RiskName" @item.isSelected value="@item.TermId">
                        </td>
                        <td class="pt-3-half" width="20%" contenteditable="true">
                            @item.RiskName
                        </td>
                        <td class="pt-3-half" width="20%" contenteditable="true">
                            @item.Inclusion
                        </td>
                        <td class="pt-3-half" width="20%" contenteditable="true">
                            @item.Exclusion
                        </td>
                        <td class="pt-3-half" width="20%" contenteditable="true">
                            @item.TotalPremium
                        </td>
                    </tr>

                }

                <tr>
                    <td class="pt-3-half" width="15%">
                        <label><input type="radio" dirname="" name="@Model.ProductName" value="None"> I don't want this cover</label>
                    </td>
                </tr>

            </table>
        </div>

        <div class="row">
            <section class="col col-3">
                <strong>@Html.DisplayNameFor(m => m.AdministrationFee):</strong>
            </section>
            <section class="col col-3">
                @Model.AdministrationFee
            </section>
        </div>

    </fieldset>

        }
    </div>




<!-- Edit Start Date -->
<div id="getStartDate" style="width:350px;  margin-left:800px;" class="modal" role="dialog">

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" onclick="$('#getStartDate').hide()">&times;</button>
            <h3 class="modal-title" style="color:blue; font-size:22px">Edit Start Date</h3>
        </div>
        <div class="modal-body">
            <form id="ProdForm">

                <div class="form-group">
                    <label class="label cgmodalLabel hidden">Start Date</label>
                    <input name="EffectiveDate" placeholder="Effective Date" class="Startdate form-control rmv" data-dateformat="dd/mm/yy" id="StartDate" type="text">
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <input type="Reset" value="Submit" class="btn btn-success" id="StartDateSubmit" onclick="dateChange()">

            <a href="#" class="btn btn-danger" onclick="$('#getStartDate').hide()">Cancel<i class="fa fa-close"></i></a>
        </div>
    </div>
</div>


<script>
  
    $('#getStartDate').on('show.bs.modal', function (e) {
        debugger;
        $('.modal').css('width', '600px');
        $('.modal').css('length', '600px');
        $('.modal').css({ "width": "300px", "height": "400px","position": "absolute" , "float": "left","left": "40%","top": "20%", "transform": "translate(-40%, -40%)"});

    });

     $('.Startdate').datepicker({
       maxDate: "+30d",
       minDate: 0,
       dateFormat: "dd/mm/yy"

     });

            function Close() {
            $("#modal").hide();
    }

    function dateChange() {
        var agreementId = $("#ClientAgreementId").val();
        var StartDate = $("#StartDate").val();
         var postData = {
		'id': agreementId,
		'Startdate': StartDate
	      };

            debugger;

          $.ajax({
                url: '@Url.Action("SaveDate", "Agreement")',
                type: "POST",
                data: postData
            })
              .done(function (data) {
                  debugger;
                  $('#getStartDate').hide();
                  window.location.href = data.url;
           })
              .fail(function (jqXHR, textStatus, errorThrown) {
                  debugger;
                 $('#AddTrailer').modal('hide');
		        alert("There was an error while trying to save the Start Date.");
	        });
     }

</script>