@model DealEngine.WebUI.Models.InformationViewModel

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">
        <fieldset>
            <div class="row">
                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="label">Organisation Name</label>
                    <label class="input">
                        <i></i>
                        @*<input data-type="TEXTBOX" data-name="orgname" id="orgname" name="orgname" placeholder="Organisation Name" value="@Model.OrganisationDetails.Name">*@
                        <input data-type="TEXTBOX" data-name="sharedOrgName" id="sharedOrgName" name="sharedOrgName" placeholder="Organisation Name" value="@Model.OrganisationDetails.Name">
                    </label>
                </section>
                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="label">Phone</label>t
                    <label class="input">
                        <i></i>
                        @*<input data-type="TEXTBOX" data-name="phone" id="phone" name="phone" placeholder="Phone" value="@Model.OrganisationDetails.Phone">*@
                        <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="sharedOrgPhone" name="sharedOrgPhone" placeholder="Phone" value="@Model.OrganisationDetails.Phone">
                    </label>
                </section>
                @*<section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="label">Website</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgWebsite" id="sharedOrgWebsite" name="sharedOrgWebsite" placeholder="Website" value="@Model.OrganisationDetails.Website">
                        </label>
                    </section>*@
                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="label">Email</label>
                    <label class="input">
                        <i></i>
                        @*<input data-type="TEXTBOX" data-name="email" id="email" name="email" placeholder="E-mail" value="@Model.OrganisationDetails.Email">*@
                        <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="sharedOrgEmail" name="sharedOrgEmail" placeholder="E-mail" value="@Model.OrganisationDetails.Email">
                    </label>
                </section>
            </div>
        </fieldset>
    </div>
</div>
