@model DealEngine.WebUI.Models.InformationViewModel

@using System.Linq

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">

        @*@tabs.Tab("List All")
            @tabs.Tab("Edit")
            @tabs.Tab("Add")*@
        <div id="NamedPartiestabs">
            <ul id="tab" class="nav nav-tabs">
                <li class="nav nav-tabs active"> <a href="#NamedPartyTabs1"> List All </a> </li>
                <li class="nav nav-tabs"> <a href="#NamedPartyTabs2"> Edit </a> </li>
                <li class="nav nav-tabs"> <a href="#NamedPartyTabs3"> Add </a> </li>
            </ul>

            <div id="NamedPartyTabs1" class="tab-content">
                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            @*<script src="~/jquery/jquery.min.js"></script>*@
                            <script type="text/javascript">
                                $(window).on('load',function () {
                            $("#NamedParties").jqGrid({
                                url: "/Services/GetNamedParties?informationId=@Model.ClientInformationSheet.Id&validated=true&removed=false&ceased=false",
						        datatype: "xml",
                                mtype: "GET",
                                async: true,
                                colNames: ["","Organisation Name","Organisation Type"],
                                colModel: [
                                    {
                                        name: "update", align: 'center', search: false, formatter: function (cellvalue, options, rowobject) {
                                            return ('<button onclick="EditNamedParties(\'bu\', \'' + cellvalue + '\'); SetCurrentTab(\'NamedPartyTabs2\');" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>' );
                                        }
                                    },
                                    { name: "OrganisationName", align: 'center' },
                                    { name: "OrganisationType", align: 'center' }

								],
						        autowidth: true,
                                pager: "#pagerNamedParty",
						        rowNum: 10,
						        rowList: [10, 20, 30],
                                sortname: "Name",
						        sortorder: "desc",
						        viewrecords: true,
						        gridview: true,
						        autoencode: true
						    });
						    $("#NamedParties").jqGrid('navGrid',
						    	'#pagerNamedParty',
						    	{edit: false, add: false, del: false},
						    	//options
						    	{height:280,reloadAfterSubmit:false},
						    	// edit options
						    	{height:280,reloadAfterSubmit:false},
						    	// add options
						    	{reloadAfterSubmit:false},
						    	// del options
						    	{sopt:['eq','bw','cn']}
						    	// search options
						    );
						});
                            </script>
                            <table id="NamedParties"><tr><td></td></tr></table>
                            <div id="pagerNamedParty"></div>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div id="NamedPartyTabs2" class="tab-content">
                <fieldset id="fieldset">
                    <input id="NamedPartyOrganisationId" class="b" name="ID" type="hidden">
                    <!-- 1st row -->
                    <div class="row">


                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Organisation Name</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgName" id="NPOrgName" name="OrganisationName" placeholder="Organisation Name" value="">
                            </label>
                            <p class="validationContainer" id="partyname"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Phone</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="NPOrgPhone" name="Phone" placeholder="Phone" value="">
                            </label>
                            <p class="validationContainer" id="partyphone"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Email</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="NPOrgEmail" name="Email" placeholder="E-mail" value="">
                            </label>
                            <p class="validationContainer" id="partyemail"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 hidden" id="SkprExpSec">
                            <label class="label cgmodalLabel required">Skipper Experience</label>
                            <label class="input w100">
                                <select class="form-control oper" id="OperatorYearsOfExpModal" name="OperatorYearsOfExp" required>
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="1">0-1</option>
                                    <option value="2">1-3</option>
                                    <option value="3">3+</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="partyyrexp"></p>
                        </section>

                    </div>


                        <div class="row" id="update">
                            <section class="col col-xs-12">
                                <button onclick="ValidateNamedParty('#NamedPartyTabs2', '#NamedParties','NamedPartyTabs1')" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>
                                <button onclick="ClearBoats(event,'#NamedPartyTabs2','NamedPartyTabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>

                                @*@Html.Bootstrap().Button().Text("Update").HtmlAttributes(new { onclick = "ValidateNamedParty('#NamedPartyTabs-2', '#NamedParties','NamedPartyTabs-1');" }).Class("btn-sm").Id("updateBoat")

                                    @Html.Bootstrap().Button().Text("Cancel Update").HtmlAttributes(new { onclick = "ClearBoats('#NamedPartyTabs-2','NamedPartyTabs-1');" }).Class("btn-sm").Id("ClearBoat")*@

                            </section>
                        </div>
                    
                </fieldset>
            </div>
            <div id="NamedPartyTabs3" class="tab-content">
                <fieldset id="fieldset">
                    <input id="AddNamedPartyOrganisationId" class="b" name="ID" type="hidden">
                    <!-- 1st row -->
                    <div class="row">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">

                            <label class="label required">Type</label>

                            <label class="input form-group">
                                <select onchange="InsuranceAttributeSelected()" class="form-control b" id="InsuranceAttributes" name="InsuranceAttribute" title="" required>
                                    <option selected="selected" value="">-- Select here --</option>
                                    <option value="Skipper">Skipper</option>
                                    <option value="CoOwner">Co-Owner</option>
                                    <option value="Financial">Financial Interested Party</option>
                                    <option value="Private">Private Interested Party</option>
                                </select>

                            </label>
                            <p class="validationContainer" id="partyIA"></p>

                        </section>


                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="SkiFirstNameSec">
                            <label class="label required">Skipper First Name</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgName" id="SkiFirstName" name="FirstName" placeholder="Skipper First Name" value="">
                            </label>
                            <p class="validationContainer" id="skipperFirstname"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="SkiLastNameSec">
                            <label class="label required">Skipper Last Name</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="SkiLastName" name="LastName" placeholder="Skipper Last Name" value="">
                            </label>
                            <p class="validationContainer" id="skipperLastname"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="AddNPOrgNameSec">
                            <label class="label required">Name</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgName" id="AddNPOrgName" name="OrganisationName" placeholder="Name" value="">
                            </label>
                            <p class="validationContainer" id="Addpartyname"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Phone</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="AddNPOrgPhone" name="Phone" placeholder="Phone" value="">
                            </label>
                            <p class="validationContainer" id="Addpartyphone"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Email</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="AddNPOrgEmail" name="Email" placeholder="E-mail" value="">
                            </label>
                            <p class="validationContainer" id="Addpartyemail"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Status</label>
                            <label class="input form-group">
                                <select class="form-control b" id="AddOrganisationType" name="OrganisationType" title="" required>
                                    <option selected="selected" value="">-- Select here --</option>
                                    <option value="Person - Individual">Person - Individual</option>
                                    <option value="Partnership">Partnership</option>
                                    <option value="Corporation – Limited liability">Company</option>
                                    <option value="Trust">Trust</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="orgType"></p>
                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-4 col-lg-6 hidden" id="AddSkprExpSec">
                            <label class="label cgmodalLabel required">Skipper Experience</label>
                            <label class="input w100">
                                <select class="form-control oper" id="AddOperatorYearsOfExpModal" name="OperatorYearsOfExp" required>
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="1">0-1</option>
                                    <option value="2">1-3</option>
                                    <option value="3">3+</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="partyyrexp"></p>
                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden " id="AddAdminUserSec">
                            <section class="col col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <label></label>
                            </section>
                            <section class="col col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-top:5px;">
                                <label class="label cgmodalLabel">Who will Administer this Interested Party Details?</label>
                                <label class="radio-inline" style="width:28%;"><input onclick="AddAdminUpdated()" type="radio" name="AddIsAdmin" value="Yes">Me</label>
                                <label class="radio-inline" style="width:28%;"><input onclick="AddAdminUpdated()" type="radio" name="AddIsAdmin" value="No">SomeoneElse</label>
                            </section>
                        </section>
                    </div>


                    <div id="AdminSectionAdd" class="hidden">



                        <div class="row" id="useremailSec">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
                                <label class="label required">Admin Email</label>
                                <input id="UserDetail" class="b" name="UserDetail" type="hidden">


                                <div class="row">
                                    <section class="col col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <label class="input">
                                            <input data-type="TEXTBOX" data-name="Email" id="EmailAdd" name="Email" placeholder="Admin User Email">
                                        </label>
                                        <p class="validationContainer" id="userfound"></p>
                                    </section>
                                    <section class="col col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4" id="UserSearchSecAdd">
                                            <button onclick="AddGetUser('#EmailAdd')" class="btn-sm w100">Search</button>
                                        </section>
                                    </section>
                                </div>

                            </section>



                            @*<section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Admin Email</label>
                                    <input id="UserDetail" class="b" name="UserDetail" type="hidden">
                                </section>


                                <section class="col col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <label class="input">
                                        <input data-type="TEXTBOX" data-name="Email" id="EmailAdd" name="Email" placeholder="Admin User Email">
                                    </label>
                                    <p class="validationContainer" id="userfound"></p>

                                </section>
                                <section class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">

                                    <section class="col col-xs-12 col-sm-3 col-md-3 col-lg-3" style="margin-top:25px;" id="UserSearchSecAdd">
                                        @Html.Bootstrap().Button().Text("Search").HtmlAttributes(new { onclick = "AddGetUser('#EmailAdd');" }).Class("btn-sm w100")
                                    </section>
                                </section>*@
                        </div>

                        <div class="row hidden" id="UserSec">

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 " id="firstnameSecAdd">

                                <label class="label required">Admin FirstName</label>

                                <label class="input">
                                    <input data-type="TEXTBOX" data-name="FirstName" id="FirstNameAdd" name="FirstName" placeholder="Admin User FirstName">
                                </label>
                                <p class="validationContainer" id="Adminfname"></p>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 " id="LastnameSecAdd">

                                <label class="label required">Admin LastName</label>

                                <label class="input">
                                    <input data-type="TEXTBOX" data-name="LastName" id="LastNameAdd" name="LastName" placeholder="Admin User LastName">
                                </label>
                                <p class="validationContainer" id="Adminlname"></p>
                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 " id="PhoneSecAdd">

                                <label class="label required">Admin Phone</label>

                                <label class="input">
                                    <input data-type="TEXTBOX" data-name="Phone" id="PhoneAdd" name="Phone" placeholder="Admin User Phone">
                                </label>
                                <p class="validationContainer" id="AdminPhone"></p>
                            </section>
                        </div>
                    </div>


                    <div class="row" id="update">
                        <section class="col col-xs-12">
                            <button onclick="ValidateAddNamedParty('#NamedPartyTabs3', '#NamedParties','NamedPartyTabs1')" class="btn-sm AddupdateBoat" id="AddupdateParty">Add</button>
                            <button onclick="ClearBoats(event,'#NamedPartyTabs3','NamedPartyTabs1')" class="btn-sm AddClearBoat" id="AddClearBoat">Clear and Cancel</button>

                            @*@Html.Bootstrap().Button().Text("Add").HtmlAttributes(new { onclick = "ValidateAddNamedParty('#NamedPartyTabs-3', '#NamedParties','NamedPartyTabs-1');" }).Class("btn-sm").Id("AddupdateParty")

                                @Html.Bootstrap().Button().Text("Clear and Cancel").HtmlAttributes(new { onclick = "ClearBoats('#NamedPartyTabs-3','NamedPartyTabs-1');" }).Class("btn-sm").Id("AddClearBoat")*@

                        </section>
                    </div>
                </fieldset>

            </div>


        </div>
    </div>
</div>