@model DealEngine.WebUI.Models.InformationViewModel

    <form id="PMINZEPLViewModel" class="needs-validation" >
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="HasEPL">Would you like Employers Liability Insurance?</label>
                </div>
                <div class="col-6">
                    <select id="HasEPL" name="PMINZEPLViewModel.HasEPLOptions" class="custom-select" onchange="PminzOnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PMINZEPLViewModel.HasEPLOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PMINZEPLViewModel.HasEPLOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label for="totalemployees">How many employees do you have (please include full time and part time employees, but exclude contractors):</label>
                    </div>
                    <div class="col-6">
                        @Html.TextBoxFor(m => m.PMINZEPLViewModel.TotalEmployees, new { @class = "form-control", @id = "totalemployees", @type = "number",  onchange="PminzOnChange(this.id, this.name)", @required=""})
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label for="HasEPLI">Would you like Employment Practices Liability Insurance?</label>
                    </div>
                    <div class="col-6">
                        <select id="HasEPLI" name="PMINZEPLViewModel.HasEPLIOptions" class="form-control" onchange="PminzOnChange(this.id, this.name)" required>
                            @foreach (var option in Model.PMINZEPLViewModel.HasEPLIOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>                        
                    </div>
                </div>
            </div>
            <div id="PMINZEPLViewModel.HasEPLIOptions" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="iscovered">Are all employees covered by written employment contract?</label>
                        </div>
                        <div class="col-6">
                            <select id="iscovered" name="PMINZEPLViewModel.CoveredOptions" class="form-control" onchange="PminzOnChange(this.id, this.name)" required>
                                @foreach (var option in Model.PMINZEPLViewModel.CoveredOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>                            
                        </div>
                    </div>
                </div>
                <div class="form-group" id="PMINZEPLViewModel.CoveredOptions" hidden>
                    <div class="row">
                        <div class="col-6">
                            <label for="islegaladvisor">Were these contracts drawn up by a legal advisor or suitably qualified employment specialist?</label>
                        </div>
                        <div class="col-6">
                            <select id="islegaladvisor" name="PMINZEPLViewModel.LegalAdvisorOptions" class="form-control" onchange="PminzOnChange(this.id, this.name)" required>
                                @foreach (var option in Model.PMINZEPLViewModel.LegalAdvisorOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="iscasualbasis">Do you utilise staff on a casual basis?</label>
                        </div>
                        <div class="col-6">
                            <select id="iscasualbasis" name="PMINZEPLViewModel.CasualBasisOptions" class="form-control" onchange="PminzOnChange(this.id, this.name)" required>
                                @foreach (var option in Model.PMINZEPLViewModel.CasualBasisOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>                            
                        </div>
                    </div>
                </div>
                <div class="form-group" id="PMINZEPLViewModel.CasualBasisOptions" hidden>
                    <div class="row">
                        <div class="col-6">
                            <label for="isdefined">Are such casual employees employed pursuant to a written contract clearly defining the temporary nature of their role?</label>
                        </div>
                        <div class="col-6">
                            <select id="isdefined" name="PMINZEPLViewModel.DefinedOptions" class="form-control"  onchange="PminzOnChange(this.id, this.name)" required>
                                @foreach (var option in Model.PMINZEPLViewModel.DefinedOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="hasmanual">Do you have a written human resources manual or equivalent written management guidelines?</label>
                        </div>
                        <div class="col-6">
                            <select id="hasmanual" name="PMINZEPLViewModel.ManualOptions" class="form-control"  onchange="PminzOnChange(this.id, this.name)" required>
                                @foreach (var option in Model.PMINZEPLViewModel.ManualOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ispostingnotices">Do you post all notices required by law in places conspicuous to all employees including potential employees?</label>
                        </div>
                        <div class="col-6">
                            <select id="ispostingnotices" name="PMINZEPLViewModel.PostingNoticesOptions" class="form-control"  onchange="PminzOnChange(this.id, this.name)" required>
                                @foreach (var option in Model.PMINZEPLViewModel.PostingNoticesOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="isconsulting">Do you consult with your legal advisor and/or a suitable qualified employment consultant prior to undertaking staff restructures or redundancies?</label>
                        </div>
                        <div class="col-6">
                            <select id="isconsulting" name="PMINZEPLViewModel.StaffRedundancyOptions" class="form-control"  onchange="PminzOnChange(this.id, this.name)" required>
                                @foreach (var option in Model.PMINZEPLViewModel.StaffRedundancyOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript">

        $(function () {
            //triggereventsforform
            var form = document.getElementById('PMINZEPLViewModel');
            for (var i = 0; i < form.length; i++) {
                PminzOnChange(form[i].id, form[i].name)       
            }          
        });

        function PminzOnChange(Id, Name) {
            var value = document.getElementById(Id).value;
            if (value > 0) {
                document.getElementById(Id).classList.add("is-valid");
                document.getElementById(Id).classList.remove("is-invalid");
            }
            else {
                document.getElementById(Id).classList.remove("is-valid");
                document.getElementById(Id).classList.add("is-invalid");
            }

            try {
                if (value == "1") {
                    document.getElementById(Name).removeAttribute("hidden");
                } else {
                    document.getElementById(Name).setAttribute("hidden", "");
                }
            } catch {
                ////we expect this to fail for form elements with no change events but could use this later
            }                    
        }
    </script>