@model DealEngine.WebUI.Models.Programme.ProgrammeInfoViewModel


    <div class="container">
        <div class="form-group">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-home"></i>
                <a href="~/Agreement/ViewAcceptedAgreement/@Model.ProgId"> Agreement</a>
                > <span>Edit Advisor</span>
            </h1>
        </div>
        <div class="form-group">
            <span>
                <a class="btn btn-primary btn-xs text-white" onclick="location.href='@Url.Action("ViewAcceptedAgreement", "Agreement",new { Id =@Model.ProgId })'" id="backbutton"><i class="fa fa-home"></i> Back </a>
            </span>
        </div>
        <div class="form-group">
            <div class="card">
                <div class="card-header">
                    <span class="widget-icon">
                        <h2><i class="fa fa-comment"></i> Edit Advisors </h2>
                    </span>
                </div>
                <div class="card-body">
                    <form action="~/Agreement/EditAdvisor" method="POST" id="update-form">
                        @Html.HiddenFor(m => m.AgreementId)
                        @Html.HiddenFor(m => m.ProgId)

                        @foreach (var org in Model.Owner)
                        {
                            @Html.Hidden("OrganisationId", org.Id)
                            var Unit = (AdvisorUnit)org.OrganisationalUnits.FirstOrDefault(u => u.Name == "Advisor");
                            <div class="form-group">
                                <label>
                                    Advisor Name
                                    @Html.TextBox("Name", org.Name, new { @class = "form-control" })
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    PI RetroactiveDate
                                    @if (Unit.PIRetroactivedate == DateTime.MinValue)
                                    {
                                        @Html.TextBox("PIRetroactiveDate", DateTime.Now, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                    }
                                    else
                                    {
                                        @Html.TextBox("PIRetroactiveDate", Unit.PIRetroactivedate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                    }

                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    PI RetroactiveDate
                                    @if (Unit.DORetroactivedate == DateTime.MinValue)
                                    {
                                        @Html.TextBox("DORetroactivedate", DateTime.Now, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                    }
                                    else
                                    {
                                        @Html.TextBox("DORetroactivedate", Unit.DORetroactivedate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                    }
                                </label>
                            </div>
                        }

                        <div class="form-group">
                            <button type="submit" value="Submit" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Update Date</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="~/Agreement/ViewAcceptedAgreement/@Model.ProgId" class="btn btn-danger btn-sm text-white"><i class="fa fa-trash"></i> Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




