@model DealEngine.WebUI.Models.Agreement.ViewAgreementEndorsementViewModel

<div class="container">
    <div class="row">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-home"></i>
            <a href="~/Agreement/ViewAcceptedAgreement/@Model.ClientProgrammeID"> Agreement</a>
            > <span>Edit Agreement Endorsement</span>
        </h1>
    </div>

    <div class="row">
        <span>
            <a onclick="location.href='@Url.Action("ViewAcceptedAgreement", "Agreement",new { Id =@Model.ClientProgrammeID })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>
    </div>

    <div class="row">
        <div class="jarviswidget container-fluid" id="wid-id-10"
             data="false"
             data-widget-editbutton="false"
             data-widget-togglebutton="false"
             data-widget-deletebutton="false"
             data-widget-custombutton="false"
             data-widget-sortable="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                <h2>@ViewBag.Title </h2>
            </header>

            <!-- widget div-->
            <form action="~/Agreement/ViewAgreementEndorsement/@Model.ClientAgreementID" method="POST" id="update-form" enctype="multipart/form-data">
                @Html.HiddenFor(m => m.ClientAgreementID)
                @Html.HiddenFor(m => m.ClientProgrammeID)

                @if (Model.HasEndorsements)
                {
                    <table class="table table-bordered table-responsive-md table-striped text-center" id="endorsements">
                        <tr>
                            <th class="text-center" width="25%" style="color:black">Endorsement Name</th>
                            <th class="text-center" width="75%" style="color:black">Endorsement Text</th>
                        </tr>
                        @foreach (var item in Model.ClientAgreementEndorsements)
                        {
                            <tr>
                                <td class="pt-3-half" width="25%" contenteditable="true" id="EndorsementName" style="color:black" align="left">
                                    @item.Name

                                </td>
                                <td class="pt-3-half" width="75%" contenteditable="true" style="color:black" align="left">
                                    @Html.Raw(@item.Value)
                                </td>
                            </tr>

                        }
                    </table>
                }

                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <label class="col-md-2 control-label">Endorsement Name: </label>
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.EndorsementNameToAdd)
                            </td>
                        </tr>
                        <tr class="table-light">
                            <td>
                                <label class="col-md-2 control-label">Endorsement Text: </label>
                            </td>
                            <td>
                                @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Save</button>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!-- end widget -->
</div>
<!-- WIDGET END -->
@section pagespecific {

    <script src="~/smartwizard/js/jquery.smartWizard.min.js" defer></script>
    <link href="~/smartwizard/cc/smart_wizard_theme_circles.css" rel="stylesheet" />
    <script src="~/ckeditor/ckeditor5-build-classic-tc/build/ckeditor.js"></script>
    <link href="~/css/ckeditor.css" rel="stylesheet" />
    <script src="~/js/ckeditorPlugin.js"></script>

    <script type="text/javascript">
//// DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {
        $('#CreateDocsmartwizard').smartWizard({
        selected: 0,  // Initial selected step, 0 = first step
        keyNavigation:true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
        autoAdjustHeight:false, // Automatically adjust content height
        cycleSteps: false, // Allows to cycle the navigation of steps
        backButtonSupport: true, // Enable the back button support
        useURLhash: true, // Enable selection of the step based on url hash
        lang: {  // Language variables
            next: 'Next',
            previous: 'Previous'
        },
        toolbarSettings: {
            toolbarPosition: 'bottom', // none, top, bottom, both
            toolbarButtonPosition: 'right', // left, right
            showNextButton: true, // show/hide a Next button
            showPreviousButton: true, // show/hide a Previous button

        },
        anchorSettings: {
            anchorClickable: true, // Enable/Disable anchor navigation
            enableAllAnchors: false, // Activates all anchors clickable all times
            markDoneStep: true, // add done css
            enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
        },
        contentURL: null, // content url, Enables Ajax content loading. can set as data data-content-url on anchor
        disabledSteps: [],    // Array Steps disabled
        errorSteps: [],    // Highlight step with errors
        theme: 'dots',
        transitionEffect: 'fade', // Effect on navigation, none/slide/fade
        transitionSpeed: '400'
        });

        $("#CreateDocsmartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
               debugger;
               var informationsheetstatus = $('#Status').val();
               var clientInformationSheet = $('#AnswerSheetId').val();

            if (stepNumber === 1) {
                 debugger;

                 if (confirm("Are you sure you want to submit this document?")) {
                     console.log("Document has been submitted!");
                     const body = window.editor.getData();
                     var bodyElement = $("#@Html.IdFor(m => m.Content)");
                     bodyElement.text(bodyElement.text(body).html());

                     $.ajax({
                         type: "POST",
                         url: '@Url.Action("CreateDocument", "File")',
                         data: $("#wizard-1").serialize(),
                     })
                         .done(function (json) {
                             debugger;
                             $("#productAutoReview")
                             console.log(json);
                         })
                         .fail(function (err, ajaxOptions, thrownError) {
                             debugger;
                             alert("Unable to save." + err.responseText);
                             console.log(err);
                             console.log(ajaxOptions);
                             console.log(thrownError);
                         });
                 } else {
                     return false;
                 }
             }
         });
    });



    </script>
}