@model BaseListViewModel<TechCertain.WebUI.Models.OrganisationViewModel>

@using TechCertain.WebUI.Helpers.CustomHtml


<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-o"></i> Organisations <span>
                    >
                    My Organisations
                </span>
            </h1>
        </div>
        <!-- end col -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm">
                <div class="row">
                    @*<div class="col-sm-12 col-md-12 col-lg-6">
                        <h1>Primary Organisation</h1>
                        <div class="well well-light well-sm no-margin no-padding">
                        	<h1>
                                <small>@Model[0].OrganisationName</small>
                            </h1>
        				</div>
        			</div>*@
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h1>My Organisations</h1>
                    	<div class="row">
						@foreach (var orgModel in Model) {
                    		<section class="col col-lg-6">
                    			<div class="panel-default panel" id="@orgModel.ID">
							        <div class="panel-heading">
										<h4><a href="#" name="OrganisationName" class="editable" data-type="text" data-pk="1" data-title="Enter organisation name">@orgModel.OrganisationName</a> @if (orgModel.IsPrimary) {<span>(Primary Organisation)</span>}</h4>
									</div>
							        <div class="panel-body" id="@orgModel.ID body">
							            <p>Organisation Type: <a href="#" name="orgType"  class="readonly" data-type="text" data-pk="1" data-title="Enter organisation type">@orgModel.OrganisationTypeName</a></p>
							            <p>Website: <a href="#" name="Website" id="@orgModel.ID Website"  class="editable" data-type="text" data-pk="1" data-title="Enter organisation website">@orgModel.Website</a></p>
										<p>Contact Email: <a href="#" id="@orgModel.ID Email" name="Email" class="editable" data-type="text" data-pk="1" data-title="Enter contact email">@orgModel.Email</a></p>
										<p>Contact Phone: <a href="#" id="@orgModel.ID Phone" name="Phone" class="editable" data-type="text" data-pk="1" data-title="Enter contact phone">@orgModel.Phone</a></p>
							        </div>
							        <div class="panel-footer">
										<div class="row">
											<div class="col-xs-12">
								        			<button class="btn btn-primary pull-left" onclick="updateOrganisation('@orgModel.ID');">Update</button>
								        			<button class="btn btn-primary pull-right" enabled="false">Manage Organisation Units</button>
												@if (!orgModel.IsPrimary) {
											    <div class="text-center">
													<a href="/Organisation/SetPrimary/@orgModel.ID" class="btn btn-primary">Set as Primary</a>
												</div>
												}
											</div>
										</div>
									</div>
							    </div>
							</section>
						}
						</div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</div>

@section pagespecific {
<!-- PAGE RELATED PLUGIN(S) -->
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">

// DO NOT REMOVE : GLOBAL FUNCTIONS!

$(document).ready(function () {
	$.fn.editable.defaults.mode = 'inline';
	$('.editable').each(function() {
		$(this).editable();
	});
});

    function updateOrganisation(orgGuid) {

                debugger;

        var postData = {};
	$("#" + orgGuid).find(".editable").each(function() {
		console.log(this.name + " " + this.text);
		postData[this.name] = this.text;
	});
        postData['ID'] = orgGuid;

        debugger;

	$.ajax({
     	// change back once mono decides to fix
        url: '@Url.Action("Update", "Organisation")',
        type: "POST",
	    data: postData
    })
        .done(function (data) {
            debugger;
    	//alert("Success");
        $.smallBox({
            title: "Success",
            content: "Organisation details have been updated",
            color: "#5F895F",
            iconSmall: "fa fa-check bounce animated",
            timeout: 4000
        });
    })
        .fail(function (a,s,d) {
            debugger;
        alert("Unable to save.");
    });
};
</script>
}