@model DealEngine.WebUI.Models.InformationViewModel
<div class="form-group">
    @Html.LabelFor(m => m.OrganisationViewModel.Organisation.RegisteredStatus, new { @class = "label required" })
    <select id="Organisation.RegisteredStatus" name="OrganisationViewModel.Organisation.RegisteredStatus" class="custom-select" onchange="OnChange(this.id, this.name)" required>
        @foreach (var option in @Model.OrganisationViewModel.HasRegisteredOptions)
        {
            <option selected="@option.Selected" value="@option.Value">
                @option.Text
            </option>
        }
    </select>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OrganisationViewModel.Organisation.IsRetiredorDecieved)
    <select id="Organisation.IsRetiredorDecieved" name="OrganisationViewModel.Organisation.IsRetiredorDecieved" class="custom-select" onchange="OnChange(this.id, this.name)" required>
        @foreach (var option in Model.OrganisationViewModel.HasRetiredorDecievedOptions)
        {
            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
        }
    </select>
</div>
<div id="OrganisationViewModel.Organisation.IsRetiredorDecieved" hidden>
    <div class="form-group">
        @Html.LabelFor(m => m.OrganisationViewModel.Organisation.DateofRetirement, new { @class = "label required" })
        @Html.TextBoxFor(m => m.OrganisationViewModel.Organisation.DateofRetirement, new { @class = "form-control", @id = "Organisation.DateofRetirement", @type = "date", @required = "" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OrganisationViewModel.Organisation.Duration, new { @class = "label required" })
    @Html.TextBoxFor(m => m.OrganisationViewModel.Organisation.Duration, new { @class = "form-control", @id = "Organisation.Duration", @required = "" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OrganisationViewModel.Organisation.MyCRMId, new { @class = "label required" })
    @Html.TextBoxFor(m => m.OrganisationViewModel.Organisation.MyCRMId, new { @class = "form-control", @id = "Organisation.MyCRMId", onchange = "OnChange(this.id, this.name)", @required = "" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OrganisationViewModel.Organisation.IsPrincipalAdvisor, new { @class = "label required" })
    <select id="Organisation.IsPrincipalAdvisor" name="OrganisationViewModel.Organisation.IsPrincipalAdvisor" class="custom-select" onchange="OnChange(this.id, this.name)" required>
        @foreach (var option in @Model.OrganisationViewModel.HasPrincipalAdvisor)
        {
            <option selected="@option.Selected" value="@option.Value">
                @option.Text
            </option>
        }
    </select>
</div>



