@model DealEngine.WebUI.Models.InformationViewModel


<div class="form-group">
    @Html.LabelFor(m => m.OrganisationViewModel.Organisation.MyCRMId, new { @class = "label required" })
    @Html.TextBoxFor(m => m.OrganisationViewModel.Organisation.MyCRMId, new { @class = "form-control", @id = "Organisation.MyCRMId", onchange = "OnChange(this.id, this.name)", @required = "" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OrganisationViewModel.HasPrincipalAdvisor, new { @class = "label required" })
    <select id="Organisation.IsPrincipalAdvisor" name="OrganisationViewModel.Organisation.IsPrincipalAdvisor" class="custom-select" onchange="OnChange(this.id, this.name)" required>
        @foreach (var option in @Model.OrganisationViewModel.HasPrincipalAdvisor)
        {
            <option selected="@option.Selected" value="@option.Value">
                @option.Text
            </option>
        }
    </select>
</div>



