@model DealEngine.WebUI.Models.InformationViewModel
<div class="form-group row">
    <div class="form-group col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.OrganisationTypes, new { @class = "label required" })
            <select id="Organisation.OrganisationType" name="OrganisationViewModel.OrganisationType" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                @foreach (var option in Model.OrganisationViewModel.OrganisationTypes)
                {
                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                }
            </select>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.User.Email, new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.User.Email, new { @class = "form-control", @id = "User.Email", @onchange = "OnChange(this.id, this.name)", @required = "" })
        </div>
    </div>
    <div class="form-group col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.InsuranceAttributes, new { @class = "label required" })
            <select id="Organisation.InsuranceAttribute" name="OrganisationViewModel.InsuranceAttribute" class="custom-select" data-rule="OrganisationType" onchange="OnChange(this.id, this.name)" required>
                @foreach (var option in @Model.OrganisationViewModel.InsuranceAttributes)
                {
                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                }
            </select>
        </div>
    </div>
</div>
<div id="Else" class="form-group row" hidden>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.OrganisationViewModel.Organisation.Name, new { @class = "label required" })
        @Html.TextBoxFor(m => m.OrganisationViewModel.Organisation.Name, new { @class = "form-control", @id = "Organisation.Name", @onchange = "OnChange(this.id, this.name)", @required = "" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.OrganisationViewModel.Organisation.Phone, new { @class = "label required" })
        @Html.TextBoxFor(m => m.OrganisationViewModel.Organisation.Phone, new { @class = "form-control", @id = "Organisation.Phone", @onchange = "OnChange(this.id, this.name)" })
    </div>
    @if (Model.OrganisationViewModel.Programme.Name == "PMINZ Programme")
    {
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.TradingName, new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.TradingName, new { @class = "form-control", @id = "PrincipalUnit.TradingName", @onchange = "OnChange(this.id, this.name)", @required = "" })
        </div>
        }
    @if (Model.OrganisationViewModel.Programme.Name == "NZFSG Programme")
    {
        @*<div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.AdvisorUnit., new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.AdvisorUnit.Email, new { @class = "form-control", @id = "User.Email", @onchange = "OnChange(this.id, this.name)", @required = "" })
            </div>*@
    }
        </div>


