@model DealEngine.WebUI.Models.InformationViewModel


    <div class="form-group">
        <div class="form-group">
            <div class="form-group row">
                <div class="form-group col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrganisationViewModel.Types, new { @class = "label required" })
                        <select id="Organisation.Type" name="OrganisationViewModel.Organisation.Type" class="custom-select" data-rule="OrganisationType" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in @Model.OrganisationViewModel.Types)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>                    
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrganisationViewModel.OrganisationTypes, new { @class = "label required" })
                        <select id="Organisation.OrganisationType" name="OrganisationViewModel.OrganisationType" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.OrganisationViewModel.OrganisationTypes)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                    <div id="Else" hidden>
                        <div class="form-group">
                            @Html.LabelFor(m => m.OrganisationViewModel.Organisation.Name, new { @class = "label required" })
                            @Html.TextBoxFor(m => m.OrganisationViewModel.Organisation.Name, new { @class = "form-control", @id = "Organisation.Name", @onchange = "OnChange(this.id, this.name)", @required = "" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" id="Principal" hidden>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrganisationViewModel.User.FirstName, new { @class = "label required" })
                        @Html.TextBoxFor(m => m.OrganisationViewModel.User.FirstName, new { @class = "form-control", @id = "User.FirstName", @onchange = "OnChange(this.id, this.name)", @required = "" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrganisationViewModel.User.LastName, new { @class = "label required" })
                        @Html.TextBoxFor(m => m.OrganisationViewModel.User.LastName, new { @class = "form-control", @id = "User.LastName", @onchange = "OnChange(this.id, this.name)", @required = "" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrganisationViewModel.User.DateOfBirth, new { @class = "label required" })
                        @Html.TextBoxFor(m => m.OrganisationViewModel.User.DateOfBirth, new { @class = "form-control", @id = "User.DateOfBirth", @type = "date", @onchange = "OnChange(this.id, this.name)", @required = "" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrganisationViewModel.Organisation.Email, new { @class = "label required" })
                        @Html.TextBoxFor(m => m.OrganisationViewModel.Organisation.Email, new { @class = "form-control", @id = "User.Email", @type = "email", @onchange = "OnChange(this.id, this.name)", @required = "" })
                    </div>
                </div>
                <div class="form-group col-md-6" id="Personnel">                    
                    @await Html.PartialAsync("PrefabSections/OrganisationPartials/_CEASPrincipal", Model)
                </div>
            </div>
        </div>
    </div>

