@model TechCertain.WebUI.Models.Agreement.ViewAgreementViewModel
<!-- NEW WIDGET START -->
    <div id="content" style="background-color: #A6E2EF">
        <!-- widget grid -->

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                <a href="~/Agreement/ViewAcceptedAgreement/@Model.ClientProgrammeId"> Agreement</a>
                > <span>Authorise Referrals</span>
            </h1>
        </div>
        <span>
            <a onclick="location.href='@Url.Action("ViewAcceptedAgreement", "Agreement",new { Id =@Model.ClientProgrammeId })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>

        <secion id="widget-grid" class="">
            <!-- row -->

            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                         data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2 style="color:black">@ViewBag.Title </h2>
                        </header>
                        <div role="content">

                            @Html.HiddenFor(m => m.InformationSheetId)
                            @Html.HiddenFor(m => m.ClientAgreementId)
                            @Html.HiddenFor(m => m.ClientProgrammeId)

                            <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">

                                <table class="table table-bordered table-responsive-md table-striped text-center" style="border: 1px solid black;" id="refferals">

                                    <tr>
                                        <th class="text-center" width="25%" style="color:black">Referral</th>
                                        <th class="text-center" width="50%" style="color:black">Description</th>
                                        <th class="text-center" width="25%" style="color:black">Status</th>
                                    </tr>
                                    @foreach (var item in Model.Referrals)
                                    {
                                        <tr>
                                            <td class="pt-3-half" width="13%" contenteditable="true" id="ReferralName" style="color:black" align="left">
                                                @item.Name

                                            </td>
                                            <td class="pt-3-half" width="13%" contenteditable="true" style="color:black" align="left">
                                                @item.Description
                                            </td>
                                            <td class="pt-3-half" width="13%" contenteditable="true" style="color:black" align="left">
                                                @item.Status
                                            </td>

                                        </tr>

                                    }
                                </table>
                                <br />
                                <label class="label"><strong>Authorise Referral</strong></label>
                                <table class="table table-responsive-md table-striped text-align-left" style="border: 0px solid black;" id="referrallodingvalue">
                                    <tr>
                                        <td width="20%"><strong>Referral Loading Percentage (%): </strong></td>
                                        <td width="1%"></td>
                                        <td width="5%"><strong> OR/AND</strong></td>
                                        <td width="1%"></td>
                                        <td width="20%"><strong>Referral Loading Amount ($): </strong></td>
                                        <td width="53%"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.TextBoxFor(m => m.ReferralLoading)
                                        </td>
                                        <td align="left">%</td>
                                        <td></td>
                                        <td align="right">$</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ReferralAmount)
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>

                                <label class="label"><strong>Authorisation notes: </strong></label>
                                <label class="textarea">
                                    @Html.TextAreaFor(m => m.AuthorisationNotes)
                                </label>

                                <br />
                                <div align="right">
                                    <button onclick="Authorise()" type="button" class="btn btn-success btn-sm">Authorise</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="~/Agreement/ViewAcceptedAgreement/@Model.ClientProgrammeId" class="btn txt-color-white bg-color-yellow btn-sm"><i class="fa fa-trash"></i> Cancel</a>
                                </div>
                                <div>

                                </div>

                            </form>

                        </div>
                    </div>
                </article>
            </div>

        </secion>
    </div>


@section pagespecific {
   
    @Html.Partial("_AgreementScripts")
}
