

@model TechCertain.WebUI.Models.Agreement.ViewAgreementViewModel
@using TechCertain.WebUI.Helpers.CustomHtml
<!-- NEW WIDGET START -->
    <div class="col col-12">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                <a href="~/Agreement/ViewAcceptedAgreement/@Model.ClientProgrammeId"> Agreement</a>
                > <span>Edit Agreement Term</span>
            </h1>
        </div>
        <span>
            <a onclick="location.href='@Url.Action("ViewAcceptedAgreement", "Agreement",new { Id =@Model.ClientProgrammeId })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>


        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget" id="wid-id-10"
             data="false"
             data-widget-editbutton="false"
             data-widget-togglebutton="false"
             data-widget-deletebutton="false"
             data-widget-custombutton="false"
             data-widget-sortable="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                <h2>@ViewBag.Title </h2>
            </header>
            @Html.HiddenFor(m => m.ClientAgreementId)
            @if (Model.BVTerms != null)
            {
                if (Model.BVTerms.Any())
                {
                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">

                        <header>  Vessel Terms</header>
                        <table class="table table-bordered table-responsive-md table-striped text-center" id="boatTable">

                            <tr>
                                <th class="text-center hidden" width="12%"> Id</th>
                                <th class="text-center" width="11%">Vessel Name</th>
                                <th class="text-center" width="11%">Vessel Make</th>
                                <th class="text-center" width="11%">Vessel Model</th>
                                <th class="text-center" width="11%">Vessel Sum Insured</th>
                                <th class="text-center" width="11%">Vessel Excess</th>
                                <th class="text-center" width="11%">Vessel Total Premium</th>
                                <th class="text-center" width="11%">Vessel FSL</th>
                                <th class="text-center" width="9%"></th>
                            </tr>
                            @foreach (var item in Model.BVTerms)
                            {
                                <tr class="clickable-row">
                                    <td class="pt-3-half hidden" width="12%" contenteditable="true" id="BoatId">
                                        @item.VesselId
                                    </td>
                                    <td class="pt-3-half" width="11%" contenteditable="true" id="BoatName">
                                        @item.BoatName
                                    </td>
                                    <td class="pt-3-half" width="11%" contenteditable="true">
                                        @item.BoatMake
                                    </td>
                                    <td class="pt-3-half" width="11%" contenteditable="true">
                                        @item.BoatModel
                                    </td>
                                    <td class="pt-3-half" width="11%" contenteditable="true">
                                        @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                    </td>
                                    <td class="pt-3-half" width="11%" contenteditable="true">
                                        @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                    </td>
                                    <td class="pt-3-half" width="11%" contenteditable="true">
                                        @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                    </td>
                                    <td class="pt-3-half" width="11%" contenteditable="true">
                                        @item.FSL.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                    </td>
                                    <td width="9%">
                                        <a href="#myModal" aria-hidden="true" style="color:green" data-toggle="modal" data-boat-fsl="@item.FSL.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                           data-boat-Sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-boat-Premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-boat-Excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                           data-boat-make="@item.BoatMake" data-boat-model="@item.BoatModel"
                                           data-boat-name="@item.BoatName"><i class="fa fa-edit"> </i></a>
                                        <a href="#confirmDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-boat-name="@item.BoatName" data-boat-id="@item.VesselId"><span class="fa fa-trash" id="span"></span></a>
                                    </td>

                                </tr>

                            }
                        </table>

                    </form>
                }
            }


            <span>




            </span>
            @if (Model.MVTerms != null)
            {
                if (Model.MVTerms.Any())
                {

                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
                        <header>  Vehicle Terms</header>

                        <table class="table table-bordered table-responsive-md table-striped text-center" id="vehicleTable">
                            <tr>
                                <th class="text-center hidden" width="12%"> Id</th>
                                <th class="text-center" width="11%">Vehicle Registration</th>
                                <th class="text-center" width="11%">Vehicle Make</th>
                                <th class="text-center" width="11%">Vehicle Model</th>
                                <th class="text-center" width="11%">Vehicle Sum Insured</th>
                                <th class="text-center" width="11%">Vehicle Excess</th>
                                <th class="text-center" width="11%">Vehicle Total Premium</th>
                                <th class="text-center" width="11%">Vehicle FSL</th>
                                <th class="text-center" width="9%"></th>
                            </tr>
                            @foreach (var item in Model.MVTerms)
                            {
                                <tr class="clickable-row">
                                    <td class="pt-3-half hidden" width="12%" contenteditable="true" id="VesselId">
                                        @item.VesselId
                                    </td>
                                    <td class="pt-3-half" width="13%" contenteditable="true">
                                        @item.Registration
                                    </td>
                                    <td class="pt-3-half" width="13%" contenteditable="true">
                                        @item.Make
                                    </td>
                                    <td class="pt-3-half" width="13%" contenteditable="true">
                                        @item.Model
                                    </td>
                                    <td class="pt-3-half" width="13%" contenteditable="true">
                                        @item.TermLimit.ToString("C0")
                                    </td>
                                    <td class="pt-3-half" width="13%" contenteditable="true">
                                        @item.Excess.ToString("C0")

                                    </td>
                                    <td class="pt-3-half" width="13%" contenteditable="true">
                                        @item.Premium.ToString("C")

                                    </td>
                                    <td class="pt-3-half" width="13%" contenteditable="true">
                                        @item.FSL.ToString("C")
                                    </td>
                                    <td width="9%">
                                        <a href="#VesselModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                           data-motor-registration="@item.Registration" data-motor-make="@item.Make" data-motor-motorfsl="@item.FSL.ToString("C")"
                                           data-motor-sum="@item.TermLimit.ToString("C0")" data-motor-premium="@item.Premium.ToString("C")"
                                           data-motor-excess="@item.Excess.ToString("C0")" data-motor-model="@item.Model"><i class="fa fa-edit"> </i></a>
                                        <a href="#confirmMotorDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-motor-id="@item.Model"><span class="fa fa-trash" id="span"></span></a>
                                    </td>
                                </tr>
                            }
                        </table>

                    </form>

                }

            }


            <span>




            </span>
            @if (Model.PLTerms != null)
            {
                if (Model.PLTerms.Any())
                {

                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
                        <header>  PL Terms</header>

                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                            <tr>
                                <th class="text-center hidden" width="12%"> Id</th>
                                <th class="text-center" width="11%"> Sum Insured</th>
                                <th class="text-center" width="11%"> Excess</th>
                                <th class="text-center" width="11%"> Total Premium</th>
                                <th class="text-center" width="9%"></th>
                            </tr>
                            @foreach (var item in Model.PLTerms)
                            {
                        <tr class="clickable-row">
                            <td class="pt-3-half hidden" width="12%" contenteditable="true" id="VesselId">
                                @item.TermId
                            </td>
                            
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>

                            <td width="9%">
                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                   data-sub-sum="@item.TermLimit.ToString("C0")" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C")"
                                   data-sub-excess="@item.Excess.ToString("C0")" data-sub-id="@item.TermId"><i class="fa fa-edit"> </i></a>
                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                            </td>
                        </tr>
                            }
                        </table>

                    </form>

                }

            }

            <span>




            </span>
            @if (Model.EDTerms != null)
            {
                if (Model.EDTerms.Any())
                {

                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
                        <header>  ED Terms</header>

                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                            <tr>
                                <th class="text-center hidden" width="12%"> Id</th>
                                <th class="text-center" width="11%"> Sum Insured</th>
                                <th class="text-center" width="11%"> Excess</th>
                                <th class="text-center" width="11%"> Total Premium</th>
                                <th class="text-center" width="9%"></th>
                            </tr>
                            @foreach (var item in Model.EDTerms)
                            {
                        <tr class="clickable-row">
                            <td class="pt-3-half hidden" width="12%" contenteditable="true" id="VesselId">
                                @item.TermId
                            </td>
                          
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>

                            <td width="9%">
                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                   data-sub-sum="@item.TermLimit.ToString("C0")" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C")"
                                   data-sub-excess="@item.Excess.ToString("C0")" data-sub-id="@item.TermId"><i class="fa fa-edit"> </i></a>
                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                            </td>
                        </tr>
                            }
                        </table>

                    </form>

                }

            }

            <span>




            </span>
            @if (Model.PITerms != null)
            {
                if (Model.PITerms.Any())
                {

                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
                        <header>  PI Terms</header>

                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                            <tr>
                                <th class="text-center hidden" width="12%"> Id</th>
                                <th class="text-center" width="11%"> Sum Insured</th>
                                <th class="text-center" width="11%"> Excess</th>
                                <th class="text-center" width="11%"> Total Premium</th>
                                <th class="text-center" width="9%"></th>
                            </tr>
                            @foreach (var item in Model.PITerms)
                            {
                        <tr class="clickable-row">
                            <td class="pt-3-half hidden" width="12%" contenteditable="true" id="VesselId">
                                @item.TermId
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>

                            <td width="9%">
                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                   data-sub-sum="@item.TermLimit.ToString("C0")" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C")"
                                   data-sub-excess="@item.Excess.ToString("C0")" data-sub-id="@item.TermId"><i class="fa fa-edit"> </i></a>
                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                            </td>
                        </tr>
                            }
                        </table>

                    </form>

                }

            }

            <span>




            </span>
            @if (Model.ELTerms != null)
            {
                if (Model.ELTerms.Any())
                {

                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
                        <header>  EL Terms</header>

                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                            <tr>
                                <th class="text-center hidden" width="12%"> Id</th>
                                <th class="text-center" width="11%"> Sum Insured</th>
                                <th class="text-center" width="11%"> Excess</th>
                                <th class="text-center" width="11%"> Total Premium</th>
                                <th class="text-center" width="9%"></th>
                            </tr>
                            @foreach (var item in Model.ELTerms)
                            {
                        <tr class="clickable-row">
                            <td class="pt-3-half hidden" width="12%" contenteditable="true" id="VesselId">
                                @item.TermId
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>

                            <td width="9%">
                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                   data-sub-sum="@item.TermLimit.ToString("C0")" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C")"
                                   data-sub-excess="@item.Excess.ToString("C0")" data-sub-id="@item.TermId"><i class="fa fa-edit"> </i></a>
                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                            </td>
                        </tr>
                            }
                        </table>

                    </form>

                }

            }

            <span>




            </span>
            @if (Model.CLTerms != null)
            {
                if (Model.CLTerms.Any())
                {

                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
                        <header>  CL Terms</header>

                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                            <tr>
                                <th class="text-center hidden" width="12%"> Id</th>
                                <th class="text-center" width="11%"> Sum Insured</th>
                                <th class="text-center" width="11%"> Excess</th>
                                <th class="text-center" width="11%"> Total Premium</th>
                                <th class="text-center" width="9%"></th>
                            </tr>
                            @foreach (var item in Model.CLTerms)
                            {
                        <tr class="clickable-row">
                            <td class="pt-3-half hidden" width="12%" contenteditable="true" id="VesselId">
                                @item.TermId
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>

                            <td width="9%">
                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                   data-sub-sum="@item.TermLimit.ToString("C0")" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C")"
                                   data-sub-excess="@item.Excess.ToString("C0")" data-sub-id="@item.TermId"><i class="fa fa-edit"> </i></a>
                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                            </td>
                        </tr>
                            }
                        </table>

                    </form>

                }

            }

            <span>




            </span>
            @if (Model.SLTerms != null)
            {
                if (Model.SLTerms.Any())
                {

                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
                        <header>  SL Terms</header>

                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                            <tr>
                                <th class="text-center hidden" width="12%"> Id</th>
                                <th class="text-center" width="11%"> Sum Insured</th>
                                <th class="text-center" width="11%"> Excess</th>
                                <th class="text-center" width="11%"> Total Premium</th>
                                <th class="text-center" width="9%"></th>
                            </tr>
                            @foreach (var item in Model.SLTerms)
                            {
                        <tr class="clickable-row">
                            <td class="pt-3-half hidden" width="12%" contenteditable="true" id="VesselId">
                                @item.TermId
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>

                            <td width="9%">
                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                   data-sub-sum="@item.TermLimit.ToString("C0")" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C")"
                                   data-sub-excess="@item.Excess.ToString("C0")" data-sub-id="@item.TermId"><i class="fa fa-edit"> </i></a>
                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                            </td>
                        </tr>
                            }
                        </table>

                    </form>

                }

            }

            <span>




            </span>

            @if (Model.DOTerms != null)
            {
                if (Model.DOTerms.Any())
                {

                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
                        <header>  DO Terms</header>

                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                            <tr>
                                <th class="text-center hidden" width="12%"> Id</th>
                                <th class="text-center" width="11%"> Sum Insured</th>
                                <th class="text-center" width="11%"> Excess</th>
                                <th class="text-center" width="11%"> Total Premium</th>
                                <th class="text-center" width="9%"></th>
                            </tr>
                            @foreach (var item in Model.DOTerms)
                            {
                        <tr class="clickable-row">
                            <td class="pt-3-half hidden" width="12%" contenteditable="true" id="VesselId">
                                @item.TermId
                            </td>
                          
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>
                            <td class="pt-3-half" width="11%" contenteditable="true">
                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                            </td>

                            <td width="9%">
                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                   data-sub-sum="@item.TermLimit.ToString("C0")" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C")"
                                   data-sub-excess="@item.Excess.ToString("C0")" data-sub-id="@item.TermId"><i class="fa fa-edit"> </i></a>
                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                            </td>
                        </tr>
                            }
                        </table>

                    </form>

                }

            }

        </div>
    </div>



<div class="modal" id="confirmMotorDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color:black;font-size:18px; ">Confirm To Delete This Term</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control " id="Motor_Id" name="MotorId" hidden />
            </div>
            <div class="form-group">
            </div>
            <div class="modal-footer">
                <button type="Submit" data-dismiss="modal" class="btn btn-success" id="btnMotorDelete">Confirm <i class="fa fa-send"></i></button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel<i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmTermDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color:black;font-size:18px; ">Confirm To Delete This Term</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control " id="Term_Id" name="TermId" hidden />
            </div>
            <div class="form-group">
            </div>
            <div class="modal-footer">
                <button type="Submit" data-dismiss="modal" class="btn btn-success" id="btnTermDelete">Confirm <i class="fa fa-send"></i></button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel<i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color:black;font-size:18px; ">Confirm To Delete This Term</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control " id="Boat_Id" name="BoatId" hidden />
            </div>
            <div class="form-group">
                <input type="text" class="form-control " id="BoatName" name="BoatName" readonly />
            </div>
            <div class="modal-footer">
                <button type="Submit" data-dismiss="modal" class="btn btn-success" id="btnDelete">Confirm <i class="fa fa-send"></i></button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel<i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
</div>



<!-- Edit Boat -->
<div id="myModal" class="modal" role="dialog">

    <!-- Modal content-->

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color:blue; font-size:22px">Edit Vessel</h4>
        </div>
        <div class="modal-body">
            <form id="ProdForm">

                <div class="form-group">
                    <label for="MaxSumInsured">Vessel Name</label>

                    <input type="text" class="form-control " id="Boat_Name" name="Boat_Name" readonly />

                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Vessel Make</label>

                    <input type="text" class="form-control " id="BoatMake" name="BoatMake" readonly />
                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Vessel Model</label>

                    <input type="text" class="form-control " id="BoatModel" name="BoatModel" readonly />
                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Vessel Sum Insured</label>
                    <input type="text" class="form-control" id="SumInsured" name="SumInsured" readonly />
                </div>
                <div class="form-group">
                    <label for="Excess">Vessel Excess</label>
                    <input type="text" class="form-control" id="Excess" name="Excess">
                    <p class="validationContainer" id="validateBoatExcess"></p>

                </div>
                <div class="form-group">
                    <label for="Premium">Vessel Total Premium</label>
                    <input type="text" class="form-control" id="Premium" name="Premium">
                    <p class="validationContainer" id="validateBoatPremium"></p>

                </div>
                <div class="form-group">
                    <label for="Premium">Vessel FSL</label>
                    <input type="text" class="form-control" id="FSL" name="FSL">
                    <p class="validationContainer" id="validateBoatFSL"></p>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <input type="Reset" value="Submit" class="btn btn-success" id="btnSubmit">

            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel<i class="fa fa-close"></i></a>
        </div>
    </div>
</div>



<!-- Edit Motor -->
<div id="VesselModal" class="modal" role="dialog">

    <!-- Modal content-->

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color:blue; font-size:22px">Edit Vehicle</h4>
        </div>
        <div class="modal-body">
            <form id="ProdForm">

                <div class="form-group">
                    <label for="MaxSumInsured">Vehicle Registration</label>
                    <input type="text" class="form-control " id="MotorRego" name="MotorRego" readonly />
                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Vehicle Make</label>
                    <input type="text" class="form-control " id="MotorMake" name="MotorMake" readonly />
                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Vehicle Model</label>
                    <input type="text" class="form-control " id="MotorModel" name="MotorModel" readonly />
                </div>

                <div class="form-group">
                    <label for="MaxSumInsured">Vehicle Sum Insured</label>
                    <input type="text" class="form-control" id="MotorSumInsured" name="MotorSumInsured" readonly />
                </div>
                <div class="form-group">
                    <label for="Excess">Vehicle Excess</label>
                    <input type="text" class="form-control" id="MotorExcess" name="MotorExcess">
                    <p class="validationContainer" id="validateMotorExcess"></p>

                </div>
                <div class="form-group">
                    <label for="Premium">Vehicle Total Premium</label>
                    <input type="text" class="form-control" id="MotorPremium" name="MotorPremium">
                    <p class="validationContainer" id="validateMotorPremium"></p>

                </div>
                <div class="form-group">
                    <label for="Premium">Vehicle FSL</label>
                    <input type="text" class="form-control" id="MotorFSL" name="MotorFSL">
                    <p class="validationContainer" id="validateMotorFSL"></p>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <input type="Reset" value="Submit" class="btn btn-success" id="btnMotorSubmit">
            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel<i class="fa fa-close"></i></a>
        </div>
    </div>
</div>


<div id="SubTermModal" class="modal" role="dialog">

    <!-- Modal content-->

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color:blue; font-size:22px">Edit SubTerm</h4>
        </div>
        <div class="modal-body">
            <form id="ProdForm">

                <div class="form-group">
                    <label for="MaxSumInsured">Term Id</label>
                    <input type="text" class="form-control " id="TermId" name="Id" readonly />
                </div>

                <div class="form-group">
                    <label for="MaxSumInsured">Term Type</label>
                    <input type="text" class="form-control " id="TermType" name="TermType" readonly />
                </div>

                <div class="form-group">
                    <label for="MaxSumInsured">Sum Insured</label>
                    <input type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" id="TermSumInsured" name="SumInsured" />
                    <p class="validationContainer" id="validateTermSum"></p>

                </div>
                <div class="form-group">
                    <label for="Excess">Excess</label>
                    <input type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" id="TermExcess" name="Excess">
                    <p class="validationContainer" id="validateTermExcess"></p>

                </div>
                <div class="form-group">
                    <label for="Premium">Total Premium</label>
                    <input type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" id="TermPremium" name="Premium">
                    <p class="validationContainer" id="validateTermPremium"></p>

                </div>

            </form>
        </div>
        <div class="modal-footer">
            <input type="Reset" value="Submit" class="btn btn-success" id="btnTermSubmit">
            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel<i class="fa fa-close"></i></a>
        </div>
    </div>
</div>

@section pagespecific {

    @Html.Partial("_AgreementScripts")

}
