@model TechCertain.WebUI.Models.Agreement.ViewAgreementViewModel

@using TechCertain.WebUI.Helpers.CustomHtml

<!-- NEW WIDGET START -->
<div class="col col-12">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget" id="wid-id-10"
         data="false"
         data-widget-editbutton="false"
         data-widget-togglebutton="false"
         data-widget-deletebutton="false"
         data-widget-custombutton="false"
         data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
            <h2>@ViewBag.Title </h2>
        </header>
        <!-- widget div-->
        <form action="~/Agreement/EditAgreement/@Model.ClientAgreementId" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
            <div>
                @Html.HiddenFor(m => m.ClientAgreementId)
                @Html.HiddenFor(m => m.InformationSheetId)

                <fieldset>
                    <div class="row">
                        <section class="col col-3">
                            <strong>@Html.DisplayNameFor(m => m.StartDate):</strong>
                        </section>
                        <section class="col col-9">
                            @Html.TextBoxFor(m => m.StartDate)@*.Placeholder("Start Date (dd/MM/yyyy)").Value(@Html.DisplayFor(m => m.StartDate))*@
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-3">
                            <strong>@Html.DisplayNameFor(m => m.EndDate):</strong>
                        </section>
                        <section class="col col-9">
                            @Html.TextBoxFor(m => m.EndDate)@*.Placeholder("End Date (dd/MM/yyyy)").Value(@Html.DisplayFor(m => m.EndDate))*@
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-3">
                            <strong>@Html.DisplayNameFor(m => m.ClientNumber):</strong>
                        </section>
                        <section class="col col-9">
                            @Html.TextBoxFor(m => m.ClientNumber)@*.Placeholder("Client Number").Value(@Html.DisplayFor(m => m.ClientNumber))*@
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-3">
                            <strong>@Html.DisplayNameFor(m => m.PolicyNumber):</strong>
                        </section>
                        <section class="col col-9">
                            @Html.TextBoxFor(m => m.PolicyNumber)@*.Placeholder("Policy Number").Value(@Html.DisplayFor(m => m.PolicyNumber))*@
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-3">
                            <strong>@Html.DisplayNameFor(m => m.BrokerageRate):</strong>
                        </section>
                        <section class="col col-9">
                            @Html.TextBoxFor(m => m.BrokerageRate)@*.Placeholder("Brokerage Rate").Value(@Html.DisplayFor(m => m.BrokerageRate))*@
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-3">
                            <strong>@Html.DisplayNameFor(m => m.AdministrationFee):</strong>
                        </section>
                        <section class="col col-9">
                            @Html.TextBoxFor(m => m.AdministrationFee)@*.Placeholder("Administration Fee").Value(@Html.DisplayFor(m => m.AdministrationFee))*@
                        </section>
                    </div>
                </fieldset>

                <div class="col-md-10">
                </div>
                <div class="col-md-10">
                    <button type="submit" class="btn txt-color-white bg-color-green btn-sm"><i class="fa fa-edit"></i> Save</button>
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->


        </form>
    </div>
    <!-- end widget -->
</div>
<!-- WIDGET END -->


@section pagespecific {

    <script type="text/javascript">


    </script>

}
