@model TechCertain.WebUI.Models.Agreement.ViewAgreementViewModel

<div id="content">
    <!-- widget grid -->
    <div id="widget-grid">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-10"
                     data="false"
                     data-widget-editbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-custombutton="false"
                     data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                        <h2>@ViewBag.Title </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as drop downSS edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->

                        <div class="smart-form">

                            <header>
                                <div class="row padding-bottom-10">
                                    <div class="col col-12">
                                        <button href="~/Policy/ViewDocumentTemplate?id=09485282-29a6-4dff-88ef-a5b40160eb07" enabled="false" class="btn btn-primary btn-sm">View Terms</button>
                                        <a href="~/Information/ViewInformation/@Model.InformationSheetId" class="btn btn-primary btn-sm">View Information</a>
                                        <button href="~/Policy/RenderDocument" enabled="false" class="btn btn-primary btn-sm">View Agreement Documents</button>
                                    </div>

                                </div>
                            </header>

                            @foreach (var item in Model.InsuranceRoles)
                            {
                                <fieldset>
                                    <div class="row">

                                        <section class="col col-3 font-md">
                                            <strong>
                                                @item.RoleName:
                                            </strong>
                                        </section>
                                        <section class="col col-9 font-md">
                                            <strong>
                                                @item.Name
                                            </strong>
                                        </section>
                                        
                                    </div>
                                    <div class="row">
                                        <section class="col col-3"><strong>Managed By: </strong></section>
                                        <section class="col col-3">@Html.Label(item.ManagedBy)</section>
                                        <section class="col col-3"><strong>Email: </strong></section>
                                        <section class="col col-3"><a href="mailto:@item.Email">@item.Email</a></section>
                                    </div>
                                </fieldset>
                            }

                            <fieldset>
                                <div class="row">
                                    <section class="col col-3">
                                        <strong>@Html.DisplayNameFor(m => m.ProductName):</strong>
                                    </section>
                                    <section class="col col-9">
                                        @Html.DisplayFor(m => m.ProductName)
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <strong>@Html.DisplayNameFor(m => m.StartDate):</strong>
                                    </section>
                                    <section class="col col-9">
                                        @Html.DisplayFor(m => m.StartDate)
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <strong>@Html.DisplayNameFor(m => m.EndDate):</strong>
                                    </section>
                                    <section class="col col-9">
                                        @Html.DisplayFor(m => m.EndDate)
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <strong>@Html.DisplayNameFor(m => m.Status):</strong>
                                    </section>
                                    <section class="col col-9">
                                        @Html.DisplayFor(m => m.Status)
                                    </section>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <section class="col col-12 font-md">
                                        <strong>Inclusions</strong>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3 font-md">
                                        <strong>Risk</strong>
                                    </section>
                                    <section class="col col-9 font-md">
                                        <strong>Terms</strong>
                                    </section>

                                </div>
                                @foreach (var item in Model.Inclusions)
                                {

                                    <div class="row">
                                        <section class="col col-3">
                                            @item.RiskName:
                                        </section>
                                        <section class="col col-8">
                                            @Html.Raw(@item.Inclusion)
                                        </section>
                                        <section class="col col-1">
                                            <button id="clickEditExclusion" class="btn btn-sm btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </section>
                                    </div>

                                }

								@if (Model.HasVehicles) {
		                            <!-- content goes here -->
									@*@(TableBuilder<TechCertain.WebUI.Models.VehicleViewModel>
                                        .Hover().Striped()
                                        .Columns(column =>
                                        {
                                            column.Expression(p => p.Registration);
                                            column.Expression(p => p.Make);
                                            column.Expression(p => p.VehicleModel).Title("Model");
                                            column.Expression(p => p.SumInsured).Title("Sum Insured");
                                        })
                                        .DataSource(this.Model.Vehicles))*@
								}

                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <section class="col col-12 font-md">
                                        <strong>Exclusions</strong>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col col-3 font-md">
                                        <strong>Risk</strong>
                                    </section>
                                    <section class="col col-9 font-md">
                                        <strong>Terms</strong>
                                    </section>

                                </div>
                                @foreach (var item in Model.Exclusions)
                                {

                                    <div class="row">
                                        <section class="col col-3">
                                            @item.RiskName:
                                        </section>
                                        <section class="col col-8">
                                            @Html.Raw(@item.Exclusion)
                                        </section>
                                        <section class="col col-1">
                                            <button id="clickEditExclusion" class="btn btn-sm btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </section>
                                    </div>

                                }

                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <section class="col col-12 font-md">
                                        <strong>Premium</strong>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col col-3 font-md">
                                        <strong>Risk</strong>
                                    </section>
                                    <section class="col col-9 font-md">
                                        <strong>Premium</strong>
                                    </section>

                                </div>
                                @foreach (var item in Model.RiskPremiums)
                                {

                                    <div class="row">
                                        <section class="col col-3">
                                            @item.RiskName:
                                        </section>
                                        <section class="col col-8">
                                            @item.Premium
                                        </section>
                                        <section class="col col-1">
                                            <button id="clickEditExclusion" class="btn btn-sm btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </section>
                                    </div>

                                }

                                <div class="row">
                                    <section class="col col-3">
                                        <strong>@Html.DisplayNameFor(m => m.AdministrationFee):</strong>
                                    </section>
                                    <section class="col col-3">
                                        <label class="input">
                                            <i class="icon-prepend  @Model.CurrencySymbol"></i>
                                            <input type="text" name="administrationFee" placeholder="0" value="@Model.AdministrationFee">
                                        </label>
                                    </section>
                                </div>
                            </fieldset>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- Row End-->
    </div>
    <!-- Section END-->
</div>

@section pagespecific {

    <script type="text/javascript">


    </script>

}
